<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h2>E-post for å bekrefte bruker</h2>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                </div>

                <div class="actions">
                    <%= f.submit "Send e-post", class: "button button-primary" %>
                </div>
            <% end %>

        </div>
    </div>
</div>