<p id="notice"><%= notice %></p>

<h1>Listing Favorite Lists</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_lists.each do |favorite_list| %>
      <tr>
        <td><%= favorite_list.id %></td>
        <td><%= favorite_list.user.id %> - <%= favorite_list.user.safe_display_name %></td>
        <td><%= favorite_list.name %></td>
        <td><%= link_to 'Show', favorite_list %></td>
        <td><%= link_to 'Edit', edit_favorite_list_path(favorite_list) %></td>
        <td><%= link_to 'Destroy', favorite_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite list', new_favorite_list_path %>
