<%
   sender_user  = @booking.from_user
   rcpt_user    = @booking.user
%>
<p>
  Hei, <%= rcpt_user.first_name %>
</p>
<p>
  Minner om at ditt leieforhold med <%= link_to sender_user.first_name, user_url( sender_user ) %> og <%= link_to @booking.ad.title, ad_url( @booking.ad ) %> begynner snart.
</p>
<table>
  <tr> <td>Fra:</td> <td><%= l @booking.starts_at, format: :shorter_datetime %></td> </tr>
  <tr> <td>Til:</td> <td><%= l @booking.ends_at, format: :shorter_datetime %></td> </tr>
  <tr> <td>Antall dager:</td> <td><%= @booking.days %></td> </tr>
  <tr> <td></td> <td></td> </tr>
  <tr> <td>Kostnad:</td> <td><%= number_to_currency_pretty @booking.sum_paid_by_renter, unit: 'kr' %></td> </tr>
</table>

<p>
  Henteadresse: <%= @booking.ad.location.to_s_pretty %>
</p>

<p>
  Om du har spørsmål til <%= link_to sender_user.first_name, user_url( sender_user ) %> kan du kontakte han på telefonnummer <%= @sender_user.phone_number %>.
</p>
<p>
  Om uthellet skulle være ute må dere huske  å fylle ut <%= link_to 'skadeskjema', users_accident_reports_url %> innen 48 timer etter skaden har skjedd.
</p>

<p>
  <b>Viktig:</b> Du må gå over <%= link_to @booking.ad.title, ad_url( @booking.ad ) %> sammen med utleier og se om eventuelle skader som er registret samsvarer med tilstanden på objektet. Dersom ikke, må eventuelle nye skader registreres i skadefeltet i bookingen. Leier du et kjøretøy, er det også viktig at dere registrerer antall kjørte kilometer ved leiestart og leieslutt og eventuelle bompasseringer, bøter og drivstoffkostander ved leieslutt.
</p>