<%
   # FIXME: Need to know who the other party is...
   sender_user  = @booking.user
   rcpt_user    = @booking.from_user
%>
<p>
  Hei, <%= rcpt_user.public_name %>
</p>
<p>
  <%= link_to sender_user.public_name, user_url( sender_user ) %> avlyste leieforholdet <%= link_to @booking.ad.title, ad_url( @booking.ad ) %>.
</p>
<table>
  <tr> <td>Fra:</td> <td><%= l @booking.starts_at, format: :shorter_datetime %></td> </tr>
  <tr> <td>Til:</td> <td><%= l @booking.ends_at, format: :shorter_datetime %></td> </tr>
  <tr> <td>Antall dager:</td> <td><%= @booking.days %></td> </tr>
</table>

<p>
  Er dette avtalt mellom dere?
</p>

<p>
FIXME:  Ja    Nei
</p>

<p>
  Om dette ikke stemmer, vil Plendit ta kontakt med dere begge og prøve å løse problemet.
</p>