<p>
  Hei, <%= @booking.user.public_name %>
</p>

<p>
  Du har akseptert forespørselen fra
  <%= link_to @booking.from_user.public_name, user_url( @booking.from_user ) %>
  om å leie <%= link_to @booking.ad.title, ad_url( @booking.ad ) %>.
</p>

<table>
  <tr> <td>Fra dato:</td> <td><%= l @booking.starts_at, format: :shorter_datetime %></td> </tr>
  <tr> <td>Til dato:</td> <td><%= l @booking.ends_at, format: :shorter_datetime %></td> </tr>
  <tr> <td>Antall dager:</td> <td><%= @booking.days %></td> </tr>
  <tr> <td></td> <td></td> </tr>
  <tr> <td>Utbetalt til deg:</td> <td><%= format_monetary_full_pretty @booking.sum_paid_to_owner %></td> </tr>
</table>

<p>
  Henteadresse: <%= @booking.ad.location.to_s_pretty %>
</p>

<p>
  Forsikringsdokumenter ligger vedlagt.
</p>

<p>
  Om du har spørsmål til
  <%= link_to @booking.from_user.public_name, user_url( @booking.from_user ) %>
  kan du ta kontakt på telefonnummer <%= @booking.from_user.phone_number %>
  eller sende en melding på Plendit.
</p>

<p>
  <b>Viktig:</b> Du må gå over utleieobjektet sammen med leietaker.
  Eventuelle eksisterende skader skal rapporteres som en melding i
  bookingen.
</p>