<p>
  Hei, <%= @booking.from_user.public_name %>
</p>

<p>
  <%= link_to @booking.user.public_name, user_url( @booking.user ) %> har
  akseptert din forespørsel om å leie
  <%= link_to @booking.ad.title, ad_url( @booking.ad ) %>.
</p>

<table>
  <tr> <td>Fra dato:</td> <td><%= l @booking.starts_at, format: :shorter_datetime %></td> </tr>
  <tr> <td>Til dato:</td> <td><%= l @booking.ends_at, format: :shorter_datetime %></td> </tr>
  <tr> <td>Antall dager:</td> <td><%= @booking.days %></td> </tr>
  <tr> <td></td> <td></td> </tr>
  <tr> <td>Kostnad:</td> <td><%= format_monetary_full_pretty @booking.sum_paid_by_renter %></td> </tr>
  <tr> <td>Depositum:</td> <td>
    <%= format_monetary_full_pretty Plendit::Application.config.x.platform.deposit_amount[@booking.ad.category.to_sym] %>
  </td> </tr>
</table>

<p>
  Henteadresse: <%= @booking.ad.location.to_s_pretty %>
</p>

<p>
  Leieforholdet kan avlyses til og med dagen før utleie starter.
  Isåfall vil leiesum og depositum refunderes i sin helhet.
</p>

<p>
  Om du har spørsmål til
  <%= link_to @booking.user.public_name, user_url( @booking.from_user ) %>
  kan du ta kontakt på telefonnummer <%= @booking.user.phone_number %>
  eller sende en melding på Plendit.
</p>

<p>
  Om uthellet skulle være ute må dere huske å fylle ut skadeskjema innen
  48 timer etter skaden har skjedd.
</p>

<p>
  <b>Viktig:</b> Du må gå over utleieobjektet sammen med utleier.
  Eventuelle eksisterende skader skal rapporteres som en melding i
  bookingen.
</p>

<% if @booking.ad.motor? %>
  Hvis du trenger veihjelp må du ringe
  <%= Plendit::Application.config.x.customerservice.road_assistance_number %>.
<% end %>
