<p>
  Hei, <%= @message.from_user.public_name %>
</p>

<p>
  <%= @message.from_user.public_name %> har sendt deg en melding om utleie av "<%= @message.booking.ad.title %>":
</p>

<p>
  <pre>
    <%= @message.content %>
  </pre>
</p>

<p>
  Det er mulig å lese hele denne samtalen og svare på denne meldingen på <%= link_to 'bookingsiden', booking_url( @message.booking ) %>.
</p>

<p>
  Hilsen Plendit.no
</p>