<% if user_signed_in? && current_user == ad.user %>
    <div class="container">
        <div class="row">
            <div class="ad-status-bar ad-status-bar--<%= ad.status %> u-push-down">
                <div class="ad-status-bar__div">
                    <h5 class="ad-status-bar__title">
                        <% if ad.published? %>
                            Annonsen er aktiv.
                        <% elsif ad.draft? %>
                            Annonsen er under utarbeidelse.
                        <% elsif ad.waiting_review? %>
                            Annonsen er sendt til kontroll.
                        <% elsif ad.paused? %>
                            Annonsen er satt på pause.
                        <% elsif ad.refused? %>
                            Annonsen ble ikke godkjent.
                        <% elsif ad.stopped? %>
                            Annonsen er stoppet.
                        <% end %>
                    </h5>
                    <% if ad.refused? %>
                        <p>Årsak: <%= ad.refusal_reason %></p>
                    <% end %>
                </div>

                <div>
                    <%= render partial: "ad_status_box", locals: { ad: ad } %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<% if user_signed_in? && current_user.is_site_admin? %>
    <div class="container">
        <div class="row">
            <div class="ad-status-bar ad-status-bar--<%= ad.status %> u-push-down">
                <div class="row">
                    <div class="ad-status-bar__title">
                        Admin kontroll:
                    </div>
                </div>
                <div class="row">

                <div class="twelve columns">
                    <% if ad.waiting_review? %>
                        <div class="three columns">
                            <%= button_to 'Godkjenn', approve_ad_path(ad), form_class: "ad-status-box__form", class: "ad-status-box__button button", enabled: ad.valid? %>
                        </div>
                    <% end %>
                    <% if ad.published? || ad.waiting_review? %>
                        <div class="six columns">
                            <%= form_for @ad, url: refuse_ad_path(ad), method: :post, html: { class: "ad-status-box__form" } do |f| %>
                                <%= f.text_field :refusal_reason, placeholder: "refusal reason" %>
                                <%= f.submit 'Refuse', class: "ad-status-box__button button" %>
                            <% end %>
                        </div>
                    <% end %>
                    <% unless ad.suspended? %>
                        <div class="three columns">
                            <%= button_to 'Suspend (blackhole)', suspend_ad_path(ad), form_class: "ad-status-box__form", class: "ad-status-box__button button" %>
                        </div>
                    <% end %>
                </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
