<section id="ad-input-info" class="ad-input-copy">

    <h4>Gratis å legge ut</h4>

    <p>
        Det er gratis å legge ut annonser. Plendit tar kun betalt når utleier tjener penger,
        og kun <%= ( Plendit::Application.config.x.platform.fee_in_percent * 100 ).to_i %>% av
        den totale leiesummen.
    </p>

    <h4>Verifisering</h4>

    <p>
        Plendit verifiserer brukernes identitet med mobilnummer og e-post. I tillegg kan brukerne
        koble seg til plendit med Google-, Facebook- og SPiD-kontoer.
    </p>

    <h4>Betaling</h4>
    <p>
        Betalingen skjer trygt gjennom plendit. Leiesumen reserveres ved bestilling og utbetales
        når utleien begynner.
    </p>

    <h4>Trygghet</h4>

    <p>
        <%= image_tag "logos/if_150x148.png", alt: "", class: "ad-input-copy__badge", size: "70x70" %>
        Ting du leier ut kan forsikres opp til <%= Rails.configuration.x.insurance.max_insurance_value  %>.
        Les mer om din trygghet utleier <%= link_to "her", help_path %>.
    </p>

    <h4>Spørsmål?</h4>
    <p>
        Ved spørsmål om tjenesten, ta gjerne kontakt med
        <%= link_to 'kundesenteret', Plendit::Application.config.x.customerservice.contact_form %>.
    </p>
    <p>
        Du kan også lese <%= link_to "ofte stilte spørsmål", faq_path %>.
    </p>

</section>