<div class="ad-booking-box">
    <h4 class="ad-booking-box__title">
    <%= number_to_currency_pretty ad.price %>
        <span class="ad-booking-box__period">per døgn</span>
    </h4>

    <div data-controller="listingCalendar">
        <% if ad.published?  %>
            <%# very synthetic form: %>
            <%= form_tag new_booking_path, method: :get do %>
                <%= hidden_field_tag :ad_id, @ad.id %>
                <%= hidden_field_tag :from_date, nil, data: {from: ''} %>
                <%= hidden_field_tag :to_date, nil, data: {to: ''} %>

                <div class="ad-booking-box__calendar-holder" data-calendar>
                    <%= render partial: "unavailability", locals: {ad: @ad} %>
                </div>

                <% unless ad.user.id == current_user.id %>
                    <div class="ad-booking-box__button-holder">
                        <%= button_tag("Gå til booking", {class: "u-push-down button button-primary booking-request-form__book-button"}) %>
                    </div>
                <% end %>
            <% end %>
        <% end %>

        <div class="ad-booking-box__button-holder">
            <%= form_for( FavoriteAd.new, url: users_favorite_ads_path ) do |f| %>
                <%= f.hidden_field :ad_id, value: @ad.id.to_s %>
                <%= f.hidden_field :previous_url, value: request.fullpath %>
                <% if ad.is_favorite_of( current_user ) %>
                    <%= f.button class: "button booking-request-form__book-button" do %>
                        <%= icon 'heart', class: "fa-2x u-fill-gold booking-request-form__heart" %>
                        Fjern fra favoritter
                    <% end %>
                <% else %>
                    <%= f.button class: "button booking-request-form__book-button" do %>
                        <%= icon 'heart-o', class: "fa-2x booking-request-form__heart" %>
                        Legg til i favoritter
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

