<div class="row ad-title-box">
    <div class="twelve columns">
        <%= image_tag ad.user.avatar_url_safetest, alt: "username", class: "avatar--large u-pull-left" %>
        <h3 class="ad-title-box__title"><%= ad.title %></h3>
    </div>
</div>

<div class="row ad-title-box__info-holder">
    <div class="four columns">
        <strong><%= ad.user.name %></strong>
        <br>
        <%= render('shared/stars.html', rating: ad.user.calculate_average_rating ) %>
    </div>
    <div class="four columns">
        <%= image_tag "feedback_link.png", alt: "Tilbakemeldinger", size: "29x29" %>
        <p>Tilbakemeldinger</p>
    </div>
    <div class="four columns ad-title-box__more-ads-holder">
        <%= image_tag "more_ads_link.png", alt: "Fler annonser", size: "34x26" %>
        <p>Fler fra <%= @ad.user.name %></p>
    </div>
</div>
