<section id="ad-input-info" class="ad-input-copy">

    <h4>Gratis å legge ut</h4>

    <p>
        Det er helt gratis å legge ut en annonse hos oss. Vi tar oss bare
        betalt når du tjener penger, og aldri mer enn 10% av den totale leiesummen.
    </p>

    <h4>Verifisering</h4>

    <p>
        Alle våre brukere er verifisert med mobilnummer og
        gjennom Schibsteds innloggingstjeneste Spid.
    </p>

    <h4>Betaling</h4>
    <p>
        Betalingen skjer trygt gjennom PayEx, og og det skjer
        aldri en transaksjon før utleier og leietaker er fornøyd.
    </p>


    <h4>Trygghet</h4>

    <!-- fixme: clear fix -->
    <p>
        <%= image_tag "safety_check.png", alt: "", class: "ad-input-copy__badge", size: "41x69" %>
        Alle ting du leier ut, er forsikret opp til <%= Rails.configuration.x.insurance.max_insurance_value  %>
        Les mer om din trygghet utleier <%= link_to "her", root_path %>.
    </p>


    <h4>Spørsmål?</h4>
    <p>
        Om du har noen spørsmål til tjenesten, ikke nøl med å ta kontakt
         med oss på <%= Rails.configuration.x.customerservice.email %>
    </p>
    <p>
        Du kan også lese <%= link_to "ofte stilte spørsmål", root_path %>.
    </p>

</section>