<div style="border: solid thin black" id="ad-controls">
    Ad.status: <%= ad.status %>

    <% if current_user == ad.user || current_user.is_admin_hack? %>

        <% if ad.status == 'draft' %>
            <%= button_to 'submit for review', submit_for_review_ad_path(@ad), class: "button-primary" %>
        <% end %>
        
        <% if ad.status == 'published' %>
            <%= button_to 'pause', pause_ad_path(ad), class: "button-primary" %>
        <% end %>
        
        <% if ['published', 'paused'].include? ad.status %>
            <%= button_to 'stop', stop_ad_path(ad), class: "button-primary" %>
        <% end %>
        
        <% if ['stopped', 'paused'].include? ad.status %>
            <%= button_to 'resume', resume_ad_path(ad), class: "button-primary" %>
        <% end %>

        <%- if current_user.is_admin_hack? -%>
            <hr>
            <% if ad.status == 'waiting_review' %>
                <%= button_to 'approve', approve_ad_path(ad), class: "button-primary" %>
            <% end %>
            <% if ad.status != 'suspended' %>
                <%= button_to 'suspend', suspend_ad_path(ad), class: "button-primary" %>
            <% end %>
      <%- end -%>
    <% end %>
</div>