<div class="availability-section">
    <div class="row">
        <%
        today = Date.today()
        [today, today.next_month].each do |d|

            @first_day_of_month = Date.civil( d.year, d.month, 1)
            @last_day_of_month  = Date.civil( d.year, d.month, -1)
        %>
            <div class="six columns">
                <%= d.strftime("%B - %Y") %>
                <div class="availability-section__cal">
                    <span class="availability-section__cell--header">Ma</span>
                    <span class="availability-section__cell--header">Ti</span>
                    <span class="availability-section__cell--header">On</span>
                    <span class="availability-section__cell--header">To</span>
                    <span class="availability-section__cell--header">Fr</span>
                    <span class="availability-section__cell--header">Lø</span>
                    <span class="availability-section__cell--header">Sø</span>
                    <% (@first_day_of_month..@last_day_of_month).each do |d| %>
                        <% if d == @first_day_of_month %>
                            <% (d.cwday - 1).times do %><span class="availability-section__cell--blank"></span><% end %>
                        <% end %>

                        <% if d.today? %>
                            <span class="availability-section__cell--today"><%= d.day %></span>
                        <% elsif d < today %>
                            <span class="availability-section__cell--past"><%= d.day %></span>
                        <% else %>
                            <% #for testing purposes:
                                suffix = ['booked', 'starting', 'ending', 'available'].sample
                            %>
                            <span class="availability-section__cell--<%= suffix %>"><%= d.day %></span>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>

    </div>
</div>