<h2 class="u-push-down">Tilgjengelighet</h2>
<div class="availability-section u-push-down">
    <%= render partial: "shared/pageable_calendar", locals: {ad: ad} %>

    <%= form_tag new_ad_booking_path( @ad ), method: :get do %>
        <%= button_tag("Send forespørsel", {class: "u-push-down button-primary availability-section__book"}) %>
    <% end %>

    <div class="row">
        <div class="ten columns offset-by-one column">
            <%= form_for( FavoriteAd.new ) do |f| %>
                <%= f.hidden_field :ad_id, value: @ad.id.to_s %>
                <%= f.hidden_field :previous_url, value: request.fullpath %>
                <% if ad.is_favorite_of(current_user) %>
                    <%= f.button class: "booking-request-form__book-button" do %>
                        <%= evil_icon 'ei-heart', size: :s, class: "booking-request-form__heart--favorite" %>
                        Fjern fra favoritter
                    <% end %>
                <% else %>
                    <%= f.button class: "booking-request-form__book-button" do %>
                        <%= evil_icon 'ei-heart', size: :s, class: "booking-request-form__heart" %>
                        Legg til i favoritter
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
