<h2 class="u-push-down">Tilgjengelighet</h2>
<div class="availability-section u-push-down">
    <div class="row availability-section__calendar-holder">
        <div class="availability-section__calendar-holder-inner">
            <% today = Date.today() %>
            <div class="six columns">
                <h4 class="availability-section__month"><%= today.strftime("%B - %Y") %></h4>
                <%= render partial: "shared/month_calendar", locals: { date: today, ad: @ad } %>
            </div>
            <div class="six columns">
                <h4 class="availability-section__month"><%= today.next_month.strftime("%B - %Y") %></h4>
                <%= render partial: "shared/month_calendar", locals: { date: today.next_month, ad: @ad } %>
            </div>
        </div>
    </div>

    <%= form_tag new_ad_booking_path( @ad ), method: :get do %>
        <%= button_tag("Send forespørsel", {class: "u-push-down button-primary availability-section__book"}) %>
    <% end %>
</div>