<div class="booking-request-form">
    <h3 class="booking-request-form__title"><%= @ad.price %> per dag</h3>

    <div class="row">
        <div class="five columns offset-by-one column booking-request-form__time-input">
            <input type="date">
        </div>

        <div class="five columns  columns booking-request-form__time-input">
            <input type="date">
        </div>

    </div>
    <div class="row">
        <div class="ten columns offset-by-one column">
            <button class="button-primary booking-request-form__book-button">Send forespørsel</button>
        </div>
    </div>
    <div class="row">
        <div class="ten columns offset-by-one column">
            <%= form_for( FavoriteAd.new ) do |f| %>
                <%= f.button "Legg til i favoritter", class: "booking-request-form__book-button" %>
                <%= f.hidden_field :ad_id, value: @ad.id.to_s %>
                <%= f.hidden_field :previous_url, value: request.fullpath %>
            <% end %>
        </div>
    </div>

</div>

