<div class="in-image-list">
    <%= form.nested_fields_for :ad_images do |ff| %>
        <% index = form.object.ad_images.index(ff.object) # eew %>
        <%= ff.hidden_field :weight, data: { weight: '' } %>
        <div class="in-image" data-in-image>
            <div class="in-image__img-box">
                <%= image_tag ff.object.image.url(:thumb) %>
                <br>
                <span class="in-image__main-label">Hovedbilde</span>
            </div>
            <div class="in-image__text-box">
                <%= ff.text_area :description, placeholder: 'Bildetekst', class: 'in-image__description' %>
                <br>
                <div class="in-image__button-holder">
                    <button type="button" class="button in-image__make-main-buton" data-make-primary>Hovedbilde</button>
                    <%= ff.remove_nested_fields_link 'Slett', class: 'button' %>
                </div>
            </div>
        </div>
    <% end %>
</div>