<%= form_for(@ad, url: (users_ad_path @ad), data: {"main-form" => ""}) do |f| %>
    <% if @ad.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

            <ul>
                <% @ad.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <h1 class="u-push-down">Legg ut tingene dine</h1>

    <!-- debug
    <h5>this Ad has the following category: <b><%= @ad.category %></b></h5>
    -->

    <label>Overskrift:</label>
    <%= f.text_field :title, class: 'u-full-width' %>

    <div data-controller="syncPayout" class="u-push-down">
        <div class="row">
            <div class="five columns">
                <label>
                    <span class="label-body">Pris pr dag</span>
                </label>
                <%= f.number_field :price_in_h,
                        class: "u-full-width",
                        placeholder: "Kr 0",
                        data: {"payout-source" => ""} %>
            </div>
            <div class="five columns">
                <label>
                    <span class="label-body">Utbetales til deg</span>
                </label>
                <input disabled="true" type="text" name="day_price" class="u-full-width" placeholder="Kr 0" data-payout-for="ad[price_in_h]">
            </div>
        </div>

    </div>

    <label class="u-push-down">
        <%= f.check_box :insurance_required %>
        <span class="label-body">
            Leietaker må tegne <a href="#">forsikring</a> for å leie gjenstanden.
        </span>
    </label>


    <label class="u-push-down">
        Henteadresse:
    </label>

    <%- if @ad.user.locations.length > 0 -%>

        <div data-controller="addressSelectionDimmer">
            <%= hidden_field_tag "create_new_location", "0" %>

            <%= select( :ad, :location_id,
                        @ad.user.locations.map{ |l| ["#{l.address_line}, #{l.post_code} #{l.city}", l.id] },
                        {},
                        { class: 'u-full-width' } ) %>

            <details>
                <summary>Skriv inn en annen adresse:</summary>
                <div>

                    <%= f.fields_for :location, Location.new(user_id: current_user.id) do |fl| %>
                        <%= fl.text_field :address_line, class: 'u-full-width', placeholder: 'Gateadresse' %>
                        <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
                            <div class="four columns">
                                <%= fl.number_field :post_code, class: "u-full-width", placeholder: "Postnr.", data: {"postal-code" => ""} %>
                            </div>
                            <div class="eight columns">
                                <input type="text" class="u-full-width" disabled placeholder="Poststed" data-postal-place>
                            </div>
                        </div>
                    <% end %>

                </div>
            </details>
        </div>

    <% else %>

        <div>
            <%= hidden_field_tag "create_new_location", "1" %>

            <%= f.fields_for :location, Location.new(user_id: current_user.id) do |fl| %>
                <%= fl.text_field :address_line, class: 'u-full-width', placeholder: 'Gateadresse' %>
                <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
                    <div class="four columns">
                        <%= fl.number_field :post_code, class: "u-full-width", placeholder: "Postnr.", data: {"postal-code" => ""} %>
                    </div>
                    <div class="eight columns">
                        <input type="text" class="u-full-width" disabled placeholder="Poststed" data-postal-place>
                    </div>
                </div>
            <% end %>

        </div>

    <% end %>

    <div class="u-push-down">
        <label>Beskrivelse</label>
        <%= f.text_area :body, class: 'u-full-width', data: { controller: 'autoSizeTextArea' } %>
        <small>FIXME: Husk! Du kan bruke #hashtags i beskrivelse til å gjøre det enklere å finne denne annonse i en søk.</small>
    </div>

<%- end -%>

<div class="u-push-down">
    <%= render partial: 'shared/image_uploader', locals: { ad: @ad } %>
    <%= render partial: 'shared/image_manager', locals: { ad: @ad } %>
</div>

<div>
    <% if @ad.valid? %>
        <%= button_to 'Send til publisering', submit_for_review_ad_path(@ad), form_class: "ad-status-box__form u-inline", class: "button button-primary" %>
        <%= button_tag "lagre", class: "button", form_class: "u-inline", data: {controller: "submitMainForm"}  %>
    <% else %>
        <%= button_tag "lagre", class: "button button-primary", form_class: "u-inline", data: {controller: "submitMainForm"}  %>
    <% end %>

    <%= button_to "Forhåndsvisning", (ad_path @ad), method: :get, form_class: "u-inline", class: "button"  %>
</div>
