<div class="in-form">
    <%= form_for(@ad, url: (users_ad_path @ad), data: {main_form: '', category: @ad.category, controller: 'adAutoSaver'}) do |f| %>
        <% if @ad.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

                <ul>
                    <% @ad.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%
        case @ad.category
        when 'bap' %>
            <h1 class="u-push-down-only">Legg ut ting</h1>
        <% when 'boat' %>
            <h1 class="u-push-down-only">Legg ut båt</h1>

            <small>
                Inntil videre kan man kun leie ut båter opp til 24 fot,
                vi jobber for å finne en god løsning på større båter!
            </small>
        <% when 'motor' %>
            <h1 class="u-push-down-only">Legg ut kjøretøy</h1>
            <small>
                Her kan du legge ut kun registrert kjøretøy.
            </small>
        <% when 'realestate' %>
            <h1 class="u-push-down-only">Legg ut eiendom</h1>
        <% else %>
            <h1 class="u-push-down-only">Legg ut ting</h1>
        <% end %>

        <div class="u-push-down-only">
            <%= f.label :title, 'Tittel:', class: 'u-full-width' %>
            <%= f.text_field :title, class: 'u-full-width' %>
        </div>

        <div class="u-push-down-only">
            <%= f.label :body, 'Beskrivelse:' %>
            <%= f.text_area :body, class: 'u-full-width in-form__description', data: { controller: 'autoSizeTextArea' } %>
            <small>Tips: Du kan bruke #hashtags i annonsen din. Det gjør det enklere for andre å finne den i søket.</small>
        </div>

        <% if @ad.category == 'motor' %>
            <div class="u-push-down-only">
                <%= f.label :registration_group, 'Gruppe:' %>
                <%= f.select( :registration_group ) do %>
                    <% Ad.registration_groups.reject{ |v| v == 'not_motor' }.each do |r| %>
                        <%= content_tag(:option, t(r.first), value: r.first) %>
                    <% end %>
                <% end %>
            </div>
            <div class="u-push-down">
                <label>Registreringsnummer:</label>
                <%= f.text_field :registration_number, class: 'u-full-width', placeholder: "Regnr" %>
            </div>
        <% end %>

        <div class="u-push-down-only">
            <label>Henteadresse:</label>

            <%- if @ad.user.locations.length > 0 -%>

                <div data-controller="addressSelectionDimmer">
                    <%= hidden_field_tag "create_new_location", "0" %>

                    <%= select( :ad, :location_id,
                                @ad.user.locations.map{ |l| ["#{l.address_line}, #{l.post_code} #{l.city}", l.id] },
                                {},
                                { class: 'u-full-width' } ) %>

                    <details>
                        <summary class="u-default-summary">Skriv inn en annen adresse:</summary>
                        <div>

                            <%= f.fields_for :location, Location.new(user_id: current_user.id) do |fl| %>
                                <%= fl.text_field :address_line, class: 'u-full-width', placeholder: 'Gateadresse' %>
                                <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
                                    <div class="four columns">
                                        <%= fl.number_field :post_code, class: "u-full-width", placeholder: "Postnr.", data: {"postal-code" => ""} %>
                                    </div>
                                    <div class="eight columns">
                                        <input type="text" class="u-full-width" disabled placeholder="Poststed" data-postal-place>
                                    </div>
                                </div>
                            <% end %>

                        </div>
                    </details>
                </div>

            <% else %>

                <div>
                    <%= hidden_field_tag "create_new_location", "1" %>

                    <%= f.fields_for :location, Location.new(user_id: current_user.id) do |fl| %>
                        <%= fl.text_field :address_line, class: 'u-full-width', placeholder: 'Gateadresse' %>
                        <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
                            <div class="four columns">
                                <%= fl.number_field :post_code, class: "u-full-width", placeholder: "Postnr.", data: {"postal-code" => ""} %>
                            </div>
                            <div class="eight columns">
                                <input type="text" class="u-full-width" disabled placeholder="Poststed" data-postal-place>
                            </div>
                        </div>
                    <% end %>

                </div>

            <% end %>
        </div>

        <hr>

        <div class="u-push-down">
            <%= render partial: 'shared/image_uploader', locals: { ad: @ad } %>
            <div data-controller="imageSubformController" data-url="<%= nested_images_ad_path @ad %>">
                <%= render partial: 'editable_image_subform', locals: { ad: @ad, form: f } %>
            </div>
        </div>

        <hr>

        <div class="u-push-down">
            <div class="main-price">
                <%= f.fields_for :payin_rules, @ad.main_payin_rule do |mf| %>
                    <%= mf.label :payin_amount_in_h, "Pris per døgn:", class: 'main-price__label' %>
                    <%= mf.telephone_field :payin_amount_in_h, class: 'main-price__input-price' %>
                <% end %>
            </div>

            <div data-controller="updateMainPriceDetails">
                <div>
                    <span class="main-price__label">Leiegebyr:</span>
                    <span class="main-price__value"><%= format_monetary_full_pretty @ad.booking_calculator.total_fee(@ad.main_payin_rule) %></span>
                </div>

                <div>
                    <i>Inkluderer forsikring opp til</i>
                    <i><%= format_monetary_full_pretty(@ad.booking_calculator.max_insurance_coverage(@ad.main_payin_rule)) %></i>
                </div>

                <div>
                    <strong class="main-price__label">Utebetalt til deg:</strong>
                    <strong class="main-price__value"><%= format_monetary_full_pretty(@ad.booking_calculator.payout_amount(@ad.main_payin_rule)) %></strong>
                </div>
            </div>
        </div>

        <div class="u-push-down">
            <%#= render partial: 'price_editor', locals: {f: f} %>
        </div>

    <%- end -%>

        <div class="u-push-down">
            <label>Rabattpriser</label>
            <div data-controller="secondaryPrices" 
                 data-delete-url="<%= del_payin_rule_ad_path(@ad) %>"
                 data-fetch-url="<%= payout_rules_ad_path(@ad) %>">
                <%= render partial: 'secondary_prices' %>
            </div>
        </div>

        <details data-controller="payinAdder"
                 data-estimate-url="<%= payout_estimate_ad_path(@ad) %>"
                 data-new-rule-url="<%= add_payin_rule_ad_path(@ad) %>">
            <summary>
                <span type="button" class="button">Legg til spesialpris</span>
            </summary>

            <div class="price-adder">

                <div class="help-box u-push-down">
                    Pris per enkelt døgn må være minst 99 kr.
                    Vil du gi en lavere døgnpris for lengre
                    leieforhold kan du gjøre det her.
                </div>
                <div>
                    <span class="price-adder__label">Ved utleie over</span>
                    <input class="price-adder__days" type="tel" data-name="days">
                    <span>dager</span>
                </div>
                <div>
                    <span class="price-adder__label">Reduseres pris per dag til</span>
                    <input class="price-adder__price" type="tel" min="2" data-name="price">
                    <span>kr</span>
                </div>
                <div data-estimate></div>
                <button type="button" class="button" data-save disabled>Lagre</button>
                <button type="button" class="button" data-cancel>Avbryt</button>

            </div>
        </details>

    <hr>
        <%= link_to 'Mer informasjon om forsikring.', Plendit::Application.config.x.customerservice.insurance_info, :target => '_blank' %>
    <hr>

    <div data-controller="adErrors"></div>

    <div class="u-push-down">
        <%= button_to 'Send til publisering', submit_for_review_ad_path(@ad), disabled: !@ad.may_submit_for_review?, form_class: 'u-inline', class: 'button button-f', data: {controller: 'publishButton'} %>
        <%= button_to 'Forhåndsvisning', (ad_path @ad), method: :get, form_class: 'u-inline', class: 'button' %>
    </div>
</div>