<%= form_for(@ad, url: (users_ad_path @ad)) do |f| %>
    <% if @ad.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

            <ul>
                <% @ad.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <h1 class="u-push-down">Legg ut tingene dine</h1>

    <h5>this Ad has the following category: <b><%= @ad.category %></b></h5>

    <label>Overskrift:</label>
    <%= f.text_field :title, class: 'u-full-width' %>

    <div data-controller="syncPayout" class="u-push-down">
        <div class="row">
            <div class="five columns">
                <label>
                    <span class="label-body">Pris pr dag</span>
                </label>
                <%= f.number_field :price,
                        class: "u-full-width",
                        placeholder: "Kr 0",
                        data: {"payout-source" => ""} %>
            </div>
            <div class="five columns">
                <label>
                    <span class="label-body">Utbetales til deg</span>
                </label>
                <input disabled="true" type="text" name="day_price" class="u-full-width" placeholder="Kr 0" data-payout-for="ad[price]">
            </div>
        </div>

    </div>

    <label class="u-push-down">
        <%= f.check_box :insurance_required %>
        <span class="label-body">
            Ja, leietaker må tegne <a href="#">forsikring</a> for å leie gjenstanden.
        </span>
    </label>

    <label class="u-push-down">
        Adresse for henting:
    </label>

    <%- if @ad.user.locations.length > 0 -%>
        <div>

            <label>
                <%= check_box_tag "use_registered_location", "1", (not @ad.location.nil?) %>
                <span class="label-body">
                    Bruk en av mine registrert adresser:
                </span>
            </label>

            <div>
                <%= select( :ad, :location_id,
                    @ad.user.locations.map{ |l| ["#{l.address_line} - #{l.city} - #{l.post_code}", l.id] },
                    {},
                    { class: 'u-full-width' } ) %>
            </div>
        </div>
        <%= link_to "edit your locations here", locations_path %>
    <%- end -%>

    <label class="u-push-down">Legg til en ny adresse for denne annonsen:</label>
    <%= f.fields_for :location, Location.new(user_id: current_user.id) do |fl| %>
        <%= fl.text_field :address_line, class: 'u-full-width', placeholder: 'Gateadresse' %>
        <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= misc_postal_place_path %>">
            <div class="four columns">
                <%= fl.number_field :post_code, class: "u-full-width", placeholder: "Postnr.", data: {"postal-code" => ""} %>
            </div>
            <div class="eight columns">
                <input type="text" class="u-full-width" disabled placeholder="Poststed" data-postal-place>
            </div>
        </div>
    <% end %>

    <div class="u-push-down">
        <label>Beskrivelse</label>
        <%= f.text_area :body, class: 'u-full-width', data: { controller: 'autoSizeTextArea' } %>

        <%= f.submit 'Lagre', class: 'u-pull-right button-primary' %>
    </div>

    <%= link_to "Vis annonse", (ad_path @ad)  %>
    <%= link_to "Vis bilder", (users_ad_ad_images_path @ad) %>
<%- end -%>

<% if @ad.valid? %>
  <%= render partial: "ad_status_box", locals: { ad: @ad } %>
<% end %>
