<div class="in-form">
    <%= form_for(@ad, url: (users_ad_path @ad), data: {main_form: '', category: @ad.category, controller: 'adAutoSaver'}) do |f| %>
        <% if @ad.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

                <ul>
                    <% @ad.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%
        case @ad.category
        when 'bap' %>
            <h1 class="u-push-down-only">Legg ut ting</h1>
        <% when 'boat' %>
            <h1 class="u-push-down-only">Legg ut båt</h1>

            <small>
                Inntil videre kan man kun leie ut båter opp til 24 fot.
                Vi jobber for å finne en god løsning på større båter!
            </small>
        <% when 'motor' %>
            <h1 class="u-push-down-only">Legg ut kjøretøy</h1>
            <small>
                Her kan du kun legge ut registrerte kjøretøy.
            </small>
        <% when 'realestate' %>
            <h1 class="u-push-down-only">Legg ut eiendom</h1>
        <% else %>
            <h1 class="u-push-down-only">Legg ut ting</h1>
        <% end %>

        <div class="u-push-down-only">
            <%= f.label :title, 'Tittel:', class: 'u-full-width' %>
            <%= f.text_field :title, class: 'u-full-width' %>
        </div>

        <div class="u-push-down-only">
            <%= f.label :body, 'Beskrivelse:' %>
            <%= f.text_area :body, class: 'u-full-width in-form__description', data: { controller: 'autoSizeTextArea' } %>
            <small>Tips: Du kan bruke #hashtags i annonsen din. Det gjør det enklere for andre å finne den i søket.</small>
        </div>

        <%
        case @ad.category
        when 'motor' %>
            <div class="u-push-down-only">
                <%= f.label :registration_group, 'Gruppe:' %>
                <%= f.select( :registration_group ) do %>
                    <% Ad.registration_groups.reject{ |v| v == 'not_motor' }.each do |r| %>
                        <%= content_tag(:option, t(r.first), value: r.first) %>
                    <% end %>
                <% end %>
            </div>
            <div class="u-push-down">
                <label>Registreringsnummer:</label>
                <%= f.text_field :registration_number, class: 'u-full-width', placeholder: "Regnr" %>
            </div>
        <% when 'boat' %>
            <div class="u-push-down-only">
                <%= f.label :estimated_value_in_h, 'Antatt verdi:' %>
                <%= f.telephone_field( :estimated_value_in_h ) do %>
                <% end %>
            </div>
            <div data-controller="regnumRevealer">
                <div class="u-push-down">
                    <%= f.label :boat_license_required do %>
                        <%= f.check_box :boat_license_required, data: {revealer: ''} %>
                        <span class="label-body">
                            Båt over 14 fot, eller med mer enn 9,9 hestekrefter.
                        </span>
                    <% end %>
                </div>
                <div class="<%= @ad.boat_license_required ? '' : 'u-hidden' %>"
                     data-hidden-section>
                    <label>Registreringsnummer:</label>
                    <small>(valgfritt, kun om det er aktuelt)</small>
                    <%= f.text_field :registration_number, class: 'u-full-width', placeholder: "Regnr" %>
                    <div class="help-box u-push-down">
                    Dersom båten ikke er registrert eller du ikke har registreringsnummer tilgjengelig, vil du bli nødt til å dokumentere eierskap ved eventuelle skader/tap.
                </div>
                </div>
            </div>

        <% end %>

        <div class="u-push-down-only">
            <label>Henteadresse:</label>

            <%- if @ad.user.locations.length > 0 -%>

                <div data-controller="addressSelectionDimmer">
                    <%= hidden_field_tag "create_new_location", "0" %>

                    <%= select( :ad, :location_id,
                                @ad.user.locations.map{ |l| ["#{l.address_line}, #{l.post_code} #{l.city}", l.id] },
                                {},
                                { class: 'u-full-width' } ) %>

                    <details>
                        <summary class="u-default-summary">Skriv inn en annen adresse:</summary>
                        <div>

                            <%= f.fields_for :location, Location.new(user_id: current_user.id) do |fl| %>
                                <%= fl.text_field :address_line, class: 'u-full-width', placeholder: 'Gateadresse' %>
                                <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
                                    <div class="four columns">
                                        <%= fl.number_field :post_code, class: "u-full-width", placeholder: "Postnr.", data: {"postal-code" => ""} %>
                                    </div>
                                    <div class="eight columns">
                                        <input type="text" class="u-full-width" disabled placeholder="Poststed" data-postal-place>
                                    </div>
                                </div>
                            <% end %>

                        </div>
                    </details>
                </div>

            <% else %>

                <div>
                    <%= hidden_field_tag "create_new_location", "1" %>

                    <%= f.fields_for :location, Location.new(user_id: current_user.id) do |fl| %>
                        <%= fl.text_field :address_line, class: 'u-full-width', placeholder: 'Gateadresse' %>
                        <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
                            <div class="four columns">
                                <%= fl.number_field :post_code, class: "u-full-width", placeholder: "Postnr.", data: {"postal-code" => ""} %>
                            </div>
                            <div class="eight columns">
                                <input type="text" class="u-full-width" disabled placeholder="Poststed" data-postal-place>
                            </div>
                        </div>
                    <% end %>

                </div>

            <% end %>
        </div>

        <hr>

        <div class="u-push-down">
            <%= render partial: 'shared/image_uploader', locals: { ad: @ad } %>
            <div data-controller="imageSubformController" data-url="<%= nested_images_ad_path @ad %>">
                <%= render partial: 'editable_image_subform', locals: { ad: @ad, form: f } %>
            </div>
        </div>

        <hr>

        <div class="u-push-down">
            <div class="main-price">
                <%= f.fields_for :payin_rules, @ad.main_payin_rule do |mf| %>
                    <%= mf.label :payin_amount_in_h, "Pris per dag:", class: 'main-price__label' %>
                    <%= mf.telephone_field :payin_amount_in_h, class: 'main-price__input-price' %>
                <% end %>
            </div>

            <div data-controller="updateMainPriceDetails">
                <%= render partial: 'payin_rules/ad_price_estimate_main' %>
            </div>
        </div>

    <%- end -%>

    <hr>

    <div class="u-push-down">
        <label>Rabattpriser:</label>
        <div data-controller="secondaryPrices"
             data-fetch-url="<%= ad_payin_rules_path(@ad) %>">
            <%= render partial: 'secondary_prices' %>
        </div>
    </div>

    <details data-controller="payinAdder"
             data-estimate-url="<%= payout_estimate_ad_payin_rules_path @ad %>">
        <%= form_for( PayinRule.new, url: (payout_estimate_ad_payin_rules_path @ad), data: { estimate_form: '' }, :html => {:'data-type' => 'html'} ) do |f| %>
            <%= f.hidden_field :effective_from ,   data: { effective_from: ''} %>
            <%= f.hidden_field :payin_amount_in_h, data: { payin_amount:   ''} %>
        <% end %>

        <summary>
            <span type="button" class="button">Legg til spesialpris</span>
        </summary>

        <div class="price-adder">
            <%= form_for( PayinRule.new, url: (ad_payin_rules_path @ad), data: { new_rule_form: '' } ) do |f| %>

                <div class="help-box u-push-down">
                    Pris per enkelt dag må være minst 99 kr.
                    Vil du gi en lavere pris per dag ved lengre
                    leieforhold kan du gjøre det her.
                </div>
                <div>
                    <span class="main-price__label">Ved utleie over</span>
                    <%= f.telephone_field :effective_from, class: 'price-adder__days', min: 2 %>
                    <span>dager</span>
                </div>
                <div>
                    <span class="main-price__label">Reduseres pris per dag til</span>
                    <%= f.telephone_field :payin_amount_in_h, class: 'price-adder__price' %>
                    <span>kr</span>
                </div>
                <div data-estimate>
                    <%# estimates are ajaxed in here %>
                </div>
                <button type="button" class="button" data-save disabled>Lagre</button>
                <button type="button" class="button" data-cancel>Avbryt</button>

            <% end %>
        </div>
    </details>

    <hr>

    <div data-controller="adErrors"></div>

    <div class="u-push-down">
        <%= button_to 'Legg ut', submit_for_review_ad_path(@ad), disabled: !@ad.may_submit_for_review?, form_class: 'u-inline', class: 'button button-f', data: {controller: 'publishButton'} %>
    </div>

    <hr>

    <p>
        <%= link_to 'Mer informasjon om forsikring.', Plendit::Application.config.x.customerservice.insurance_info, :target => '_blank' %>
    </p>

</div>