<div class="search-result-item">
    <%= link_to ad, class: "search-result-item__link" do %>
        <div class="search-result-item__image-holder">
            <%= image_tag "ads/ad1/ad_image_1.jpg", alt: "", class: "search-result-item__image" %>
        </div>
    <% end %>
    <%= link_to ad, class: "search-result-item__link" do %>
        <div class="search-result-item__text-container">
            <h6 class="search-result-item__title"><%= ad.title %></h6>
            <p class="search-result-item__body">
               <%= ad.short_description %>
            </p>
        </div>
    <% end %>

    <div class="search-result-item__profile">
        <div>
            <%= image_tag ad.user.avatar_url_safetest, alt: "username", class: "avatar--medium" %>
            <br>
            <%= render('shared/stars.html', rating: ad.user.calculate_average_rating, small: true ) %>
        </div>
    </div>
    <div class="search-result-item__price-floater">kr <%= ad.price %> pr&nbsp;dag</div>
</div>