
<%= render partial: "shared/personal_bar", locals: { selected: "Dine annonser" } %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <%= render layout: "gray_box", locals: {title: "Dine annonser"} do %>
                <p>
                    Under ser du en oversikt over dine annonser. Her kan du
                    se hvilke annonser som er aktive eller inaktive.
                    Om du ønsker å endre selve annonsen, kan du enkelt gjøre
                    dette ved å klikke på annonsen det gjelder. Ønsker du
                    å fjerne eller gjøre en annonse usynlig(inaktiv), kan du
                    raskt og enkelt gjøre dette ved å markere en eller flere
                    annonser og gjøre ditt valg via nedtrekksmenyen under.
                </p>
                <p>
                    <%= link_to 'Legg inn en ny annonse', new_ad_path %>
                </p>
            <% end %>

            <section class="u-push-down">
                <%= render partial: "owned_ad_item", collection: @ads, as: 'ad' %>              
            </section>

        </div>
        <div class="four columns">
            <%= render layout: "gray_box", locals: {title: "Sortere"} do %>
                <ul>
                    <li>
                        <a href="#">Vis aktive annonser</a>
                    </li>
                    <li>
                        <a href="#">Vis inaktive annonser</a>
                    </li>
                    <li>
                        <a href="#">Vis alle annonser</a>
                    </li>
                </ul>
            <% end %>

            <%= render layout: "gray_box", locals: {title: "Filter"} do %>
              <!-- fixme: real data here. Should happen in the controller
                probably, and just hand us a @month_filters array of
                title and url -->
                <h5>Siste 6 måneder</h5>
                <ul>
                    <li>
                        <a href="#">Januar</a>
                    </li>
                    <li>
                        <a href="#">Februar</a>
                    </li>
                    <li>
                        <a href="#">Mars</a>
                    </li>
                    <li>
                        <a href="#">April</a>
                    </li>
                    <li>
                        <a href="#">Mai</a>
                    </li>
                    <li>
                        <a href="#">Juni</a>
                    </li>
                </ul>

                <h5>Sorter per år</h5>
                <ul>
                    <li>
                        <a href="#">2014</a>
                    </li>
                    <li>
                        <a href="#">2015</a>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>
</div>

<!--
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Body</th>
      <th>Price</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.user_id %></td>
        <td><%= ad.title %></td>
        <td><%= ad.body %></td>
        <td><%= ad.price %></td>
        <td><%= ad.tags %></td>
        <td><%= link_to 'Show', ad %></td>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad', new_ad_path %>
-->
