<div class="search-result-view-chooser" data-controller="responsiveSearchResult">
    <div class="search-result-view-chooser__inner">
        <div class="search-result-view-chooser__segment-holder">
            <button data-show-list-toggle class="search-result-view-chooser__segment-button search-result-view-chooser__segment-button--left search-result-view-chooser__segment-button--selected">Vis treff</button>
            <button data-show-map-toggle class="search-result-view-chooser__segment-button search-result-view-chooser__segment-button--right">Vis kart</button>
        </div>
    </div>
</div>

<div class="result-container" data-controller="resultContainerSizeAdjuster">
    <div class="result-container__map-box" data-result-map data-map-view>
        <div class="result-map" data-controller="resultMap">
            <script type="text/json" data-location-info><%= @result_json %></script>
        </div>
    </div>

    <div class="result-container__hits-box" data-hits-view>
        <div class="search-title-box">
            <h4 data-controller="hitCount">
                Treff
                <%= ((@ads.current_page - 1) * @ads.default_per_page) + 1 %>
                -
                <%= [@ads.current_page * @ads.default_per_page, @ads.total_count].min %>
                av
                <%= @ads.total_count %></h4>
        </div>
        <%= render partial: "search_filter_section" %>
        <div class="result-container__hits-list" data-controller="resultList resultPaging" data-result-list>
            <%= render partial: "search_result_box" %>
        </div>
    </div>
</div>
