<div class="container search-title-box">
    <h4 class="search-title-box__title" data-controller="hitCount"><%= @ads.count %> treff for <i><%= @term %></i></h4>
</div>

<div class="search-filter-section">
    <div class="container" data-controller="togglableFilters">

        <span class="search-filter-section__toggler" data-filter-toggler>
            <%= image_tag "filter_arrow.png", alt: "Skjul / vis filter", size: "14x14" %>
            <br>
            <small>Filter</small>
        </span>

        <div data-filter-container data-controller="searchFilterSelection">
            <%= form_tag({}, class: "search-filter-section__form") do %>

                <div class="row search-filter-section__row">
                    <div class="two columns">
                        <%= label_tag(:price, "Pris:") %>
                    </div>
                    <div class="ten columns">
                        <%= range_field_tag(:price, 500, in: 1..1000, class: "search-filter-section__range-input") %>
                    </div>
                </div>

                <div class="row search-filter-section__row">
                    <div class="two columns">
                        <label>Område:</label>
                    </div>
                    <div class="four columns">
                        <input class="search-filter-section__text-input" type="text" placeholder="Gatenavn">
                    </div>
                    <div class="two columns">
                        <input class="search-filter-section__text-input" type="text" placeholder="Postnr">
                    </div>
                    <div class="four columns">
                        <input class="search-filter-section__text-input" type="text" placeholder="Poststed" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="two columns">
                        <%= label_tag(:tags, "Tags:") %>
                    </div>
                    <div class="ten columns">
                        <div data-controller="tageditor" class="tag-editor"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="two columns">
                        <%= label_tag(:q, "Term:") %>
                    </div>
                    <div class="ten columns">
                        <%= text_field_tag(:q, @term ) %>
                    </div>
                </div>

            <% end %>
        </div>
    </div>

</div>

<div class="result-container" data-controller="resultContainerSizeAdjuster">
    <div class="result-container__map-box">
        <div class="result-map" data-controller="resultMap">
            <script type="text/json" data-location-info><%= @location_info %></script>
        </div>
    </div>
    <div class="result-container__hits-box" data-controller="resultList">
        <%= render partial: "search_result_item", collection: @ads, as: 'ad' %>
    </div>
</div>
