<p id="notice"><%= notice %></p>

<h1>Listing Ads</h1>

<table>
  <thead>
    <tr>
      <th>Profile Name</th>
      <th>Title</th>
      <th>Short description</th>
      <th>Profile ephemeral_answer_percent</th>
      <th>Profile stars</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.profile.name %></td>
        <td><%= link_to ad.title, ad %></td>
        <td><%= ad.short_description %></td>
        <td><%= ad.profile.ephemeral_answer_percent %></td>
        <td><%= ad.profile.ephemeral_answer_percent %> stars</td>

        <td><%= ad.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
