<p id="notice"><%= notice %></p>

<h1>Listing Ads</h1>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Title</th>
      <th>Short description</th>
      <th>User ephemeral_answer_percent</th>
      <th>User stars</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.user.name %></td>
        <td><%= link_to ad.title, ad %></td>
        <td><%= ad.short_description %></td>
        <td><%= ad.user.ephemeral_answer_percent %></td>
        <td><%= render('shared/stars.html', rating: ad.user.calculate_average_rating, num_ratings: ad.received_feedbacks.count ) %></td>
        <td><%= ad.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
