<div class="container">
    <div class="ad-title-image"><%= image_tag @ad.image_url_with_fallback(:medium), class: "ad-title-image__img" %></div>

    <div class="row">
        <div class="eight columns">
            <%= render partial: "ad_title_box", locals: { ad: @ad } %>
            <%= render partial: "ad_copy_section", locals: { ad: @ad } %>
            <div style="border: solid thin red;">
                New gallery placeholder
            </div>
            <%= render partial: "ad_feedback_list_section", locals: { ad: @ad } %>
        </div>
        <div class="four columns">
            <div style="border: solid thin red;">
                New calendar booking thingy placeholder
            </div>
        </div>
    </div>
</div>

<% if defined? @ad.location.lat and defined? @ad.location.lon %>
    <section class="ad-location-map">
        <div class="ad-location-map__map"
             data-geolocation="<%= @ad.location.lat %>,<%= @ad.location.lon %>"
             data-controller="adMap">
        <div>
    </section>
<% end %>
