<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ad.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @ad.short_description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ad.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @ad.tags %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
