<%
    meta og: {
        title: @ad.title,
        description: @ad.summary,
        url: request.original_url,
        image: @ad.hero_image_url,
        "image:width" => AdImage::DIMENSIONS[:hero][:width],
        "image:height" => AdImage::DIMENSIONS[:hero][:height]
    }
%>

<%= render partial: 'ad_status_bar', locals: { ad: @ad } %>

<div class="container">
    <div class="hero-holder">
        <div data-controller="gallery" data-show-gallery>
            <script type="text/json" data-images>
                <%= raw @ad.to_gallery_json %>
            </script>
            <%= render partial: 'photoswipe' %>
            <%= render partial: 'shared/hero_image', locals: { ad: @ad } %>
            <div class="gallery-thumb-bar" data-thumb-bar>
                <div class="gallery-thumb" data-image-index="0">
                    <%= image_tag @ad.ad_images.first.image.url(:thumb), size: '90x60' %>
                    <span class="gallery-thumb__count">
                        <%= @ad.ad_images.size %> bilder
                    </span>
                </div>
                <% @ad.ad_images.limit(9).offset(1).each_with_index do |image, n| %>
                    <div class="gallery-thumb <%= "gallery-thumb--no-#{n + 1}" %>"
                        data-image-index="<%= n + 1 %>">
                        <%= image_tag image.image.url(:thumb), size: '90x60' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="u-only-on-bigscreen parallel-booking-box-holder">
        <%= render partial: 'ad_booking_box', locals: { ad: @ad } %>
    </div>

    <div class="row">
        <div class="eight columns">
            <%= render partial: 'shared/ad_title_box', locals: { ad: @ad } %>
            <%= render partial: 'ad_copy_section',     locals: { ad: @ad } %>
            <%= render partial: 'ad_gallery_mosaic',   locals: { ad: @ad } %>
            <%= render partial: 'ad_feedback_list_section', locals: { ad: @ad } %>
        </div>
        <div class="four columns">
            <div class="u-not-on-bigscreen u-push-down">
                <%= render partial: 'ad_booking_box', locals: { ad: @ad } %>
            </div>
            <% if Plendit::Application.config.x.facebook_integration %>
                <%= render partial: 'share_on_facebook' %>
            <% end %>
        </div>
    </div>
</div>

<%= render partial: 'ad_location_map', locals: { ad: @ad } %>
