<div class="container">
    <div class="ad-title-image"><%= image_tag @ad.image_url_with_fallback(:medium), class: "ad-title-image__img" %></div>

    <div class="row">
        <div class="eight columns">
            <%= render partial: "ad_title_box", locals: { ad: @ad } %>
            <%= render partial: "ad_copy_section", locals: { ad: @ad } %>
            <div style="border: solid thin red;">
                New gallery placeholder
            </div>
            <%= render partial: "ad_feedback_list_section", locals: { ad: @ad } %>
        </div>
        <div class="four columns">
            <%= render partial: "ad_booking_box", locals: { ad: @ad } %>
        </div>
    </div>
</div>

<%= render partial: "ad_location_map", locals: { ad: @ad } %>
