<div class="container">
    <div class="ad-title-image">
        <div class="ad-title-image__holder">
            <% img_style = "background-image: url(#{@ad.image_url_with_fallback(:hero)});" %>
            <div class="ad-title-image__bg_img"
                 style="<%= img_style %>"></div>
        </div>
    </div>

    <div class="row">
        <div class="eight columns">
            <%= render partial: "ad_title_box", locals: { ad: @ad } %>
            <%- if  user_signed_in? && (current_user == @ad.user || current_user.status == 'admin') -%>
              <%= render partial: "ad_status_box", locals: { ad: @ad } %>
            <%- end -%>
            <%= render partial: "ad_copy_section", locals: { ad: @ad } %>
            <%= render partial: "ad_gallery_mosaic", locals: { ad: @ad } %>
            <%= render partial: "ad_feedback_list_section", locals: { ad: @ad } %>
        </div>
        <div class="four columns">
            <%= render partial: "ad_booking_box", locals: { ad: @ad } %>
        </div>
    </div>
</div>

<%= render partial: "ad_location_map", locals: { ad: @ad } %>
