<p id="notice"><%= notice %></p>

<p>
  <strong>Booking:</strong>
  <%= @message.booking_id %>
</p>

<p>
  <strong>From user:</strong>
  <%= @message.from_user_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @message.to_user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
