<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phome number</th>
      <th>Join timestamp</th>
      <th>Last action timestamp</th>
      <th>Private link to facebook</th>
      <th>Private link to linkedin</th>
      <th>Ephemeral answer percent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.phome_number %></td>
        <td><%= profile.join_timestamp %></td>
        <td><%= profile.last_action_timestamp %></td>
        <td><%= profile.private_link_to_facebook %></td>
        <td><%= profile.private_link_to_linkedin %></td>
        <td><%= profile.ephemeral_answer_percent %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
