<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Phome number:</strong>
  <%= @profile.phome_number %>
</p>

<p>
  <strong>Join timestamp:</strong>
  <%= @profile.join_timestamp %>
</p>

<p>
  <strong>Last action timestamp:</strong>
  <%= @profile.last_action_timestamp %>
</p>

<p>
  <strong>Private link to facebook:</strong>
  <%= @profile.private_link_to_facebook %>
</p>

<p>
  <strong>Private link to linkedin:</strong>
  <%= @profile.private_link_to_linkedin %>
</p>

<p>
  <strong>Ephemeral answer percent:</strong>
  <%= @profile.ephemeral_answer_percent %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
