<div class="container u-push-down">

    <h2>Logg inn</h2>

    <p>
        Du kan velge mellom å logge inn med en SPiD-, Facebook- eller Google-konto,
        eller med en Plendit konto.
    </p>

    <%= render partial: "users/provider_logins" %>

    <hr>

    <div class="row">
        <div class="five columns">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="row">
                    <div class="six columns">
                        <%= f.label :email, "E-post:" %>
                        <%= f.email_field :email, autofocus: true, class: "u-full-width" %>
                    </div>
                    <div class="six columns">
                        <%= f.label :password, "Passord:" %>
                        <%= f.password_field :password, autocomplete: "off", class: "u-full-width" %>
                    </div>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <label for="remember_me">
                        <%= f.check_box :remember_me %>
                        Husk meg
                    </label>
                <% end -%>

                <div>
                    <%= f.submit "Logg inn", class: "button button-primary" %>
                </div>
            <% end %>
        </div>
    </div>

    <hr>

    <%= render "users/shared/links" %>
    <div class="u-push-down"></div>

</div>
