<%= form_for(@favorite_ad) do |f| %>
  <% if @favorite_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_ad.errors.count, "error") %> prohibited this favorite_ad from being saved:</h2>

      <ul>
      <% @favorite_ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :favorite_list_id %><br>
    <%= f.text_field :favorite_list_id %>
  </div>
  <div class="field">
    <%= f.label :ad_id %><br>
    <%= f.text_field :ad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
