<p id="notice"><%= notice %></p>

<h1>Listing Favorite Ads</h1>

<table>
  <thead>
    <tr>
      <th>Favorite list</th>
      <th>Ad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_ads.each do |favorite_ad| %>
      <tr>
        <td><%= favorite_ad.favorite_list %></td>
        <td><%= favorite_ad.ad %></td>
        <td><%= link_to 'Show', favorite_ad %></td>
        <td><%= link_to 'Edit', edit_favorite_ad_path(favorite_ad) %></td>
        <td><%= link_to 'Destroy', favorite_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite ad', new_favorite_ad_path %>
