<p id="notice"><%= notice %></p>

<p>
  <strong>Favorite list:</strong>
  <%= @favorite_ad.favorite_list %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @favorite_ad.ad %>
</p>

<%= link_to 'Edit', edit_favorite_ad_path(@favorite_ad) %> |
<%= link_to 'Back', favorite_ads_path %>
