<div class="booking-summary">
    <div class="booking-summary__row">
        <strong>Fra dato:</strong> <%= @booking.display_from_date %>
    </div>
    <div class="booking-summary__row">
        <strong>Til dato:</strong> <%= @booking.display_end_date %>
    </div>
    <div class="booking-summary__row">
        <strong>Antall dager:</strong> <%= @booking.days %>
    </div>
    <div class="booking-summary__row">
        <% if current_user.owns_booking_item? @booking %>
            <strong>Totalt utbetalt:</strong>
            <%= @booking.sum_paid_to_owner %>
        <% else %>
            <strong>Totalt å betale:</strong>
            <%= @booking.sum_paid_by_renter %>
        <% end %>
    </div>
    <div class="booking-summary__row">
        <strong>Mobilnummer:</strong>
        <% if current_user.owns_booking_item? @booking %>
            <%= @booking.from_user.phone_number %>
        <% else %>
            <%= @booking.user.phone_number %>
        <% end %>
    </div>

    <div class="booking-summary__row">
        <strong>Hente/leverings-addresse:</strong> <%= @booking.ad.location.to_s_pretty %>
    </div>
</div>
