<%= render layout: 'gray_box', locals: {title: @booking.booking_title_for(current_user), nopad: true } do %>
    <div class="booking-heading">
        <div class="booking-heading__left">
            <%= image_tag ad.safe_image_url(:thumb), size: '90x60', alt: '' %>
        </div>

        <div class="booking-heading__right">
            <% unless @booking.new_record? %>
                <%= booking_status_label @booking %>
            <% end %>
            <h5 class="booking-heading__title">
                <%= @booking.ad.display_title %>
            </h5>
            <div>
                <%
                    other_user = ( current_user.id == @booking.from_user.id ) ? @booking.ad.user : @booking.from_user
                %>
                <%= avatar_image(other_user, :medium) %>
                <div class="booking-heading__name">
                    <%= other_user.display_name %>
                    <br>
                    <%= render('shared/stars.html', rating: other_user.feedback_score ) %>
                </div>
            </div>
        </div>
    </div>
<% end %>