<%# Probably deprecated by _price_summary and _booking_summary %>
<div class="booking-price-summary">
    <table>
        <tr class="booking-price-summary__row">
            <th>Leieperiode fra</th>
            <td class="booking-price-summary__td">
                <%= l @booking.starts_at %>
            </td>
        </tr>
        <tr class="booking-price-summary__row">
            <th>Leieperiode til</th>
            <td class="booking-price-summary__td">
                <%= l @booking.ends_at %>
            </td>
        </tr>

        <% if current_user.owns_booking_item? booking %>
            <tr class="booking-price-summary__summary-row">
                <th>Utbetales til deg</th>
                <td class="booking-price-summary__price"><%= number_to_currency_pretty @booking.sum_paid_to_owner, unit: 'kr' %></td>
            </tr>
        <% else %>
            <%# FIXME: do we really want all this information here? %>
            <tr class="booking-price-summary__summary-row">
                <th>Utbetales til utleier</th>
                <td class="booking-price-summary__price"><%= number_to_currency_pretty @booking.sum_paid_to_owner, unit: 'kr' %></td>
            </tr>
            <tr>
                <th>Platform Fee</th>
                <td class="booking-price-summary__price"><%= number_to_currency_pretty @booking.platform_fee_amount, unit: 'kr' %></td>
            </tr>
            <% if @booking.insurance_amount >= 0 %>
            <tr>
                <th>Forsikring</th>
                <td class="booking-price-summary__price"><%= number_to_currency_pretty @booking.insurance_amount, unit: 'kr' %></td>
            </tr>
            <% end %>
            <tr>
                <th>Totalt å betale</th>
                <td class="booking-price-summary__price"><%= number_to_currency_pretty @booking.sum_paid_by_renter, unit: 'kr' %></td>
            </tr>
        <% end %>
    </table>
</div>