<div class="conversation-item-box">
    <div class="conversation-item-box__avatar-box">
        <%= avatar_image message.from_user, :medium %>
    </div>
    <div class="conversation-item-box__body">
        <time class="conversation-item-box__time" datetime="<%= message.updated_at.iso8601 %>">
            <%= time_ago_in_words message.updated_at %>
        </time>
        <h5 class="conversation-item-box__title"><%= message.from_user.display_name %></h5>
        <p class="">
            <%= message.content %>
        </p>
    </div>
</div>
<hr class="u-slim-hr">
