<%= form_for(@booking) do |f| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

            <ul>
                <% @booking.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @booking.ad.ad_items.count == 1 %>
        <%#= f.label :ad_item_id %>
        <%#= @booking.ad.ad_items.first.id %>
        <%= f.hidden_field(:ad_item_id, :value => @booking.ad.ad_items.first.id )%>
    <% elsif @booking.ad.ad_items.count > 0 %>
        <%= f.hidden_field(:ad_item_id, :value => @booking.ad.ad_items.first.id )%>
<!--
        <div class="field">
            <%= f.label :ad_item_id %><br>
            <%= f.collection_select(:ad_item_id, @booking.ad.ad_items.all, :id, :id) %>
        </div>
 -->
    <% else %>
        <%# This will fail miserably. %>
    <% end %>

    <div data-controller="kalendaeBookingSelector">
        <div class="row">
            <div class="seven columns">
                <div class="booking-period-selector"><div data-kalendae-container class="u-center"></div></div>
                <%= f.hidden_field :starts_at_time, value: '12.12' %>
                <%= f.hidden_field :ends_at_time, value: '12.12' %>
           </div>
            <div class="five columns">
                <ol class="booking-request-summary">
                    <li>
                        Fra:
                         <%= f.text_field :ends_at_date, data: { format: "yyyy.MM.dd" }, class: 'u-pull-right booking-request-summary__input' %>
                    </li>
                    <li>
                        Til:
                        <%= f.text_field :starts_at_date, data: { format: "yyyy.MM.dd" }, class: 'u-pull-right booking-request-summary__input' %>
                    </li>
                    <li>
                        Antall dager:
                        <span class="u-pull-right" data-day-count>0</span>
                    </li>
                    <li>
                        Pris per dag:
                        <span class="u-pull-right"><%= @booking.ad.decorate.pretty_price %></span>
                    </li>
<!--                     <li>
                        <strong>Totalt å betale:</strong>
                        <span class="u-pull-right" data-total-price>Fetch from server</span>
                    </li>
 -->
                 </ol>
            </div>
        </div>

        <div class="row">
            <div class="seven columns">

    <% if current_user.user_payment_cards.length > 1 %>
        TRANSLATEME: Velg en kreditt kort til å betale med:
        <%# would have been nice to call the field below for user_payment_card_guid %>
        <%= collection_select( :booking, :user_payment_card_id, @booking.from_user.user_payment_cards.decorate, :guid, :pretty_view ) %>
    <% elsif current_user.user_payment_cards.length == 1 %>
        TRANSLATEME: Reservasjon for utleie skal komme på denne kreditt kort:
        <%= f.label 'booking[user_payment_card][guid]', @booking.from_user.user_payment_cards.decorate.first.pretty_view %>
        <%= f.hidden_field 'booking[user_payment_card][guid]', value: upc.guid %>
    <% else %>
        TRANSLATEME: ERROR: You can't pay for this rental. Please register a credit card.
    <% end %>
      <p>
        <small>
        FIXME: TRANSLATEME: (fiks språk) Din førspørsel blir sendt etter reservering av total beløp skjer.
        Du blir belastet kun om din førspørsel blir godkjent av utleieren. Du kan gratis avbestille om du gjør det over 4 dager på forhånd, og da penger er refundert til din kreditt kort.
        Om du vil avbestille etter det, da får du ikke refusjon.
        </small>
      </p>

            </div>
        </div>


        <div class="actions">
            <%= f.submit class: "button button-primary" %>
        </div>

      <%= image_tag "logos/mangopay_powered_590x53.png", alt: "Powered by MangoPay", class: "", size: "270x26" %>

    </div>
<% end %>