<%= form_for(@booking) do |f| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

            <ul>
                <% @booking.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @booking.ad.ad_items.count == 1 %>
        <%= f.label :ad_item_id %>
        <%= @booking.ad.ad_items.first.id %>
        <%= f.hidden_field(:ad_item_id, :value => @booking.ad.ad_items.first.id )%>
    <% else %>
        <div class="field">
            <%= f.label :ad_item_id %><br>
            <%= f.collection_select(:ad_item_id, @booking.ad.ad_items.all, :id, :id) %>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :price %> <br>
        <%= number_to_currency_pretty @booking.ad.price %> per dag
    </div>

    <%= render partial: "shared/booking_period_selector", locals: { form: f, ad: @booking.ad } %>

    <div class="actions">
        <%= f.submit class: "button button-primary" %>
    </div>
<% end %>