<%= form_for(@booking) do |f| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

            <ul>
                <% @booking.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @booking.ad.ad_items.count == 1 %>
        <%#= f.label :ad_item_id %>
        <%#= @booking.ad.ad_items.first.id %>
        <%= f.hidden_field(:ad_item_id, :value => @booking.ad.ad_items.first.id )%>
    <% elsif @booking.ad.ad_items.count > 0 %>
        <%= f.hidden_field(:ad_item_id, :value => @booking.ad.ad_items.first.id )%>
    <% else %>
        <%# This will fail miserably. Should never happen. %>
    <% end %>

    <div data-controller="kalendaeBookingSelector">
        <div class="row">
            <div class="seven columns">
                <div class="booking-period-selector"><div data-kalendae-container class="u-center"></div></div>
                <%= f.hidden_field :starts_at_time, value: '12.12' %>
                <%= f.hidden_field :ends_at_time, value: '12.12' %>
           </div>
            <div class="five columns">
                <ol class="booking-request-summary">
                    <li>
                        Fra:
                         <%= f.text_field :ends_at_date, data: { format: "yyyy.MM.dd" }, class: 'u-pull-right booking-request-summary__input' %>
                    </li>
                    <li>
                        Til:
                        <%= f.text_field :starts_at_date, data: { format: "yyyy.MM.dd" }, class: 'u-pull-right booking-request-summary__input' %>
                    </li>
                    <li>
                        Antall dager:
                        <span class="u-pull-right" data-day-count>0</span>
                    </li>
                    <li>
                        Pris per dag:
                        <span class="u-pull-right"><%= @booking.ad.decorate.pretty_price %></span>
                    </li>
<!--
                    <li>
                        <strong>Totalt å betale:</strong>
                        <span class="u-pull-right" data-total-price>Fetch from server</span>
                    </li>
 -->
                 </ol>
            </div>
        </div>

        <div class="row">
            <div class="seven columns">

    <% if current_user.user_payment_cards.length > 1 %>
        Velg det kredittkortet du ønsker å betale med:
        <%# would have been nice to call the field below for user_payment_card_guid %>
        <%# FIXME: auto-select favorite card %>
        <%= collection_select( :booking, :user_payment_card_id, @booking.from_user.user_payment_cards.decorate, :guid, :pretty_view ) %>
    <% elsif current_user.user_payment_cards.length == 1 %>
    Reservasjonen skal belastes på følgende kredittkort:
        <%= f.label 'booking[user_payment_card_id]', @booking.from_user.user_payment_cards.decorate.first.pretty_view %>
        <%= f.hidden_field 'booking[user_payment_card_id]', value: @booking.from_user.user_payment_cards.decorate.first.guid %>
    <% else %>

Noe gikk galt: Du må registrere kredittkortet ditt før du kan sende en forespørsel.
    <% end %>

    <% if current_user.user_payment_cards.length >= 1 %>
      <p>
        <small>
        Om du har dekning på kredittkortet ditt, sendes forespørselen til utleieren. Du blir kunn belastet om din forespørsel blir godkjent av utleier. Dersom ikke, blir pengene tilbakeført til din konto.
        </small>
      </p>
    <% end %>

            </div>
        </div>


        <div class="actions">
            <% unless current_user.user_payment_cards.length == 0 %>
                <%= f.submit class: "button button-primary" %>
            <% else %>
            Du må ha registrert ditt kredittkort før du kan gjennomføre en booking. Du kan registrere ditt kredittkort 
                <%= link_to 'HERE', new_user_payment_card_path %>.
            <% end %>
        </div>

      <%= image_tag "logos/mangopay_powered_590x53.png", alt: "Powered by MangoPay", class: "", size: "270x26" %>

    </div>
<% end %>