<%= form_for(@booking) do |f| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= @booking.errors.count %>
                feil forhindret at du fikk sendt bookingen:
            </h2>

            <ul>
                <% @booking.errors.each do |attribute,message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @booking.ad.ad_items.count == 1 %>
        <%#= f.label :ad_item_id %>
        <%#= @booking.ad.ad_items.first.id %>
        <%= f.hidden_field(:ad_item_id, :value => @booking.ad.ad_items.first.id )%>
    <% elsif @booking.ad.ad_items.count > 0 %>
        <%= f.hidden_field(:ad_item_id, :value => @booking.ad.ad_items.first.id )%>
    <% else %>
        <%# This will fail miserably. Should never happen. %>
    <% end %>

    <div class="row">
        <div data-controller="kalendaeBookingSelector">
            <%= render partial: 'ads/unavailability', locals: {ad: @booking.ad} %>

            <div class="eight columns">
                <div class="booking-period-selector">
                    <div data-kalendae-container class="u-center"></div>
                </div>

                <div class="booking-request-summary">
                    <div class="booking-price-summary__row">
                        <span class="booking-price-summary__label">
                            Fra:
                        </span>

                        <span class="booking-price-summary__value">
                            <%= f.text_field :starts_at_date, data: { format: 'yyyy.MM.dd' }, class: 'booking-price-summary__input' %>
                        </span>
                    </div>

                    <div class="booking-price-summary__row">
                        <span class="booking-price-summary__label">
                            Til:
                        </span>
                        <span class="booking-price-summary__value">
                            <%= f.text_field :ends_at_date, data: { format: 'yyyy.MM.dd' }, class: 'booking-price-summary__input' %>
                        </span>
                    </div>

                    <%#= render partial: 'price_summary' %>
                    <div data-controller="bookingPriceLoader"
                            data-url="<%= booking_calc_users_path %>">
                        <div class="booking-price-summary__row">
                            <span class="booking-price-summary__label">
                                Antall dager:
                            </span>
                            <span class="booking-price-summary__value">?</span>
                        </div>
                        <div class="booking-price-summary__row">
                            <span class="booking-price-summary__label">
                                Pris per dag:
                            </span>
                            <span class="booking-price-summary__value">?</span>
                        </div>
                        <div class="booking-price-summary__row">
                            <span class="booking-price-summary__label">
                                Totalt leiepris:
                            </span>
                            <span class="booking-price-summary__value">?</span>
                        </div>
                        <div class="booking-price-summary__row">
                            <span class="booking-price-summary__label">
                                Depositum:
                            </span>
                            <span class="booking-price-summary__value">?</span>
                        </div>
                        <div class="booking-price-summary__row">
                            <span class="booking-price-summary__label">
                                Totalt å betale:
                            </span>
                            <span class="booking-price-summary__value"><strong>?</strong> </span>
                        </div>
                     </div>
                 </div>

            </div>
        </div>

        <div class="row">
            <div class="seven columns">

                <div class="u-push-down">
                    <% if current_user.user_payment_cards.card_valid.length > 1 %>
                        Velg det kredittkortet du ønsker å betale med:
                        <%# would have been nice to call the field below for user_payment_card_guid %>
                        <%# FIXME: auto-select favorite card %>
                        <%= f.collection_select( :user_payment_card_id, @booking.from_user.user_payment_cards.card_valid.decorate, :guid, :pretty_view ) %>
                    <% elsif current_user.user_payment_cards.card_valid.length == 1 %>
                        Reservasjonen skal belastes på følgende kredittkort:
                        <%= f.label 'user_payment_card_id', @booking.from_user.user_payment_cards.card_valid.decorate.first.pretty_view %>
                        <%= f.hidden_field 'user_payment_card_id', value: @booking.from_user.user_payment_cards.card_valid.decorate.first.guid %>
                    <% elsif current_user.user_payment_cards.card_valid.length < 1 %>
                        Du må registrere kredittkortet ditt før du kan sende en forespørsel.
                    <% end %>
                </div>
            </div>
        </div>

        <div class="help-box">
            Om du har dekning på kredittkortet ditt, sendes forespørselen
            til utleieren. Du blir kun belastet om din forespørsel blir
            godkjent av utleier. Du vil få pengene tilbake dersom leifoholdet blir avslått, abrutt eller avlyst.
        </div>

        <div class="row">
            <div class="seven columns">

                <div class="actions u-push-down u-pull-right">
                    <% unless current_user.user_payment_cards.length == 0 %>
                        <%= f.submit class: 'button button-primary', data: {controller: 'disableOnSubmit'} %>
                    <% else %>
                        Du må legge inn et betalingskort før du kan gjøre en booking. <%= link_to 'Legg til betalingskort', new_user_payment_card_path %>.
                    <% end %>
                </div>

                <div class="actions u-push-down u-pull-left">
                    <%= image_tag 'logos/mangopay_powered_590x53.png', alt: 'Powered by MangoPay', class: '', size: '270x26' %>
                </div>
            </div>
        </div>

    </div>
<% end %>