<div class="incoming-request-item">
    <div class="row">
        <div class="two columns incoming-request-item__personalia">
            <%= render('shared/avatar.html', user: booking.user, size: "large" ) %>
            <p><%= booking.user.name %></p>
        </div>
        <div class="ten columns">
                <%= image_tag "ads/ad1/ad_image_1.jpg", alt: "", size: "160x100", class: "u-pull-right" %>
            <h5><%= link_to booking.ad.title, booking_path(booking) %></h5>
            <p>
                <%= booking.ad.summary %>
            </p>
            <p><%= booking.updated_at.to_formatted_s(:plendit_short_datetime) %> STATUS: <b><%= booking.status %></b></p>
        </div>
    </div>
</div>
