<div class="incoming-request-item">
    <div class="row">
        <div class="two columns incoming-request-item__personalia">
            <%= render('shared/avatar.html', user: booking.from_user, size: "large" ) %>
            <p><%= booking.from_user.safe_first_name %></p>
        </div>
        <div class="ten columns">
            <%= image_tag booking.ad.safe_image_url(:thumb), alt: "", class: "u-pull-right" %>

            <h5><%= link_to booking.ad.title, booking_path(booking) %></h5>
            <p>
                <%= booking.ad.summary %>
            </p>
            <p><%= booking.updated_at.to_formatted_s(:plendit_short_datetime) %> STATUS: <b><%= booking.status %></b></p>
        </div>
    </div>
</div>
