<div class="booking-price-summary__row">
    <span class="booking-price-summary__label">
        Antall dager:
    </span>
    <span class="booking-price-summary__value"><%= @booking.days %></span>
</div>
<div class="booking-price-summary__row">
    <span class="booking-price-summary__label">
        Pris per dag:
    </span>
    <span class="booking-price-summary__value"><%= format_monetary_full_pretty @booking.sum_paid_by_renter_per_day %></span>
</div>
<div class="booking-price-summary__row">
    <span class="booking-price-summary__label">
        Totalt for leieperiode:
    </span>
    <span class="booking-price-summary__value"><%= format_monetary_full_pretty @booking.sum_paid_by_renter %> </span>
</div>
<div class="booking-price-summary__row">
    <span class="booking-price-summary__label">
        Depositum:
    </span>
    <span class="booking-price-summary__value"><%= format_monetary_full_pretty @booking.deposit_amount %> </span>
</div>
<div class="booking-price-summary__row">
    <span class="booking-price-summary__label">
        Totalt å betale:
    </span>
    <span class="booking-price-summary__value"><strong><%= format_monetary_full_pretty @booking.sum_paid_by_renter_with_deposit %></strong> </span>
</div>