<div class="rental-request-box">
    <div class="row">
        <div class="three columns">
            <%= image_tag booking.ad.safe_image_url(:thumb) , alt: "Fler annonser", size: "180x120" %>
        </div>
        <div class="six columns">
            <h2><%= booking.ad.display_title  %></h2>
        </div>
        <div class="three columns rental-request-box__owner-box">
            <%= render('shared/avatar.html', user: booking.user, size: "large" ) %>
            <br>
            <%= booking.user.display_name %>
            <br>
            <%= render('shared/stars.html', rating: booking.user.feedback_score, size: :small ) %>
        </div>
    </div>
    <%= render partial: 'show_price', locals: { params: params } %>
</div>