<%= render partial: "rental_request_box", locals: {booking: @booking, is_owner: false} %>

<% if @booking.status == 'created' %>

<div class="rental-request-buttons">
    <%= button_to(booking_path, class: "rental-request-buttons__button rental-request-buttons__button--bad", method: "patch", params: { 'booking[status]' => 'cancelled' }) do -%>
        <%= image_tag("offer_reject.png", size: "25x25") %>
        <br>
        Avbryt
    <%- end %>

    <%= link_to edit_booking_path(@booking) do %>
    <button class="rental-request-buttons__button rental-request-buttons__button--neutral">
        <%= image_tag("offer_edit.png", size: "25x25") %>
        <br>
        Rediger
    </button>
    <% end %>
</div>

<% else %>
        <br> But its an action has been taken already. No further action possible (?).
<% end %>