
<div class="container">
    <div class="row">
        <%= render partial: "shared/hero_image", locals: { ad: @booking.ad } %>

        <div class="twelve columns">
            <%= render partial: "shared/ad_title_box", locals: { ad: @booking.ad } %>

            <h2>Leieforespørsel til <%= @booking.user.decorate.display_name %></h2>
            FIXME: Velg dato og tidspunkt at du ønsker å hente "item":

            <%= render 'form' %>

            <%= link_to 'Tilbake', booking_path(@booking) %>
        </div>
    </div>
</div>


