<div class="container">
    <div class="row">
        <%= render partial: "shared/hero_image", locals: { ad: @ad } %>

        <div class="eight columns">
            <%= render partial: "shared/ad_title_box", locals: { ad: @ad } %>

            <h2>Leieforespørsel til <%= @ad.user.name %></h2>

<!-- # FIXME: should be a partial, same as in edit.html.erb -->
            <%= @ad.ad_items.each do |ai| %>
                Ad Item: <%= ai.id  %>
                <div class="row availability-section__calendar-holder">
                    <div class="availability-section__calendar-holder-inner">
                        <% today = Date.today() %>
                        <div class="six columns">
                            <h4 class="availability-section__month"><%= today.strftime("%B - %Y") %></h4>
                            <%= render partial: "shared/month_calendar", locals: { date: today, ad: @ad } %>
                        </div>
                        <div class="six columns">
                            <h4 class="availability-section__month"><%= today.next_month.strftime("%B - %Y") %></h4>
                            <%= render partial: "shared/month_calendar", locals: { date: today.next_month, ad: @ad } %>
                        </div>
                    </div>
                </div>
            <% end %>
            <%= render 'form' %>

            
            Jeg vil leie fra
            <%= date_field_tag("lol", "laaal") %>

        </div>

        <div class="three columns offset-by-one column">
            Docs med hjelp / lenke til betingelser osv her?
        </div>
    </div>
</div>

