<%= render partial: "shared/personal_bar", locals: { selected: "Forespørsler" } %>

<div class="container">
    <%= render partial: "shared/hero_image", locals: { ad: @booking.ad } %>
    <%= render partial: "shared/ad_title_box", locals: { ad: @booking.ad } %>


    <% if current_user.owns_booking_item? @booking %>
        <h3 class="u-push-down"><%= @booking.from_user.display_name %> ønsker å leie av deg</h3>
    <% else %>
        <h3 class="u-push-down">Din forespørsel til <%= @booking.user.display_name %>.</h3>
    <% end %>

    <div class="row">
        <div class="five columns">
            <%= render partial: "booking_price_summary", locals: {booking: @booking} %>
            <%= render partial: "booking_controls", locals: {booking: @booking} %>
        </div>
    </div>

    <!-- <hr> -->
    <%# FIXME: this belongs only in the first step of setting up a booking. so it now renders in the wrong place %>
    <%#= render partial: "payment", locals: {booking: @booking} %>
    <hr>
    <%= render partial: "conversation_section", locals: {booking: @booking} %>
</div>
