<%= render layout: 'gray_box', locals: {title: 'Rediger tilkoblede kontoer', id: 'identities', nopad: true} do %>

<%
  providers = [
    {
      id: "facebook",
      name: 'Facebook',
    },
    {
      id: "google",
      name: 'Google',
    },
    {
      id: "spid",
      name: 'SPID',
    }
  ]


  # FIXME:
  # ** use array of identity providers or similar from config or models
%>
    <% providers.each do |provider| %>
        <div class="conns-box">
            <div class="conns-box__left">
                <h5 class="conns-box__title"><%= provider[:name] %></h5 class="conns-box__title">
                <div>
                    Du kan opprette en kobling fra Plendit til din
                    <%= provider[:name] %>-konto. Det bygger tillit
                    hos andre brukere, samt gjør det enklere å logge
                    inn.
                </div>
            </div>
            <div class="conns-box__right">
                <% if current_user.connected_to_provider provider[:id] %>
                    <%= button_to 'Koble fra', identity_users_path,
                          method: :delete,
                          params: { 'user[identity][provider]' => provider[:id] },
                          class: "button",
                          form_class: "u-inline" %>
                <% else %>
                    <%= button_to 'Koble til', user_omniauth_authorize_path(provider[:id]),
                        class: "button",
                        form_class: "u-inline" %>
                <% end %>
            </div>

        </div>
    <% end %>

<% end %>