<%= render layout: 'gray_box', locals: {title: 'Rediger personalia', id: 'personal-info'} do %>

    <%- if @user.errors.any? -%>
        <div>
            Følgende feil forhindret deg i å oppdatere profilen din: <%= pluralize(@user.errors.count, 'error') %>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <%- end -%>

    <%= form_for( @user, url: users_path, html: { method: :put }) do |f| %>

        <%#= devise_error_messages! %>

        <div class="row">
            <div class="six columns">
                <%= f.label :first_name, 'Fornavn:' %>
                <%= f.text_field :first_name, class: 'u-full-width', required: true %>
            </div>
            <div class="six columns">
                <%= f.label :last_name, 'Etternavn:' %>
                <%= f.text_field :last_name, class: 'u-full-width', required: true %>
            </div>
        </div>


        <div class="row">
            <div class="two-thirds column">
                <%= f.label :birthday, 'Fødselsdato:' %>
                <%= f.date_select :birthday, start_year: 1900 %>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">
                <%= f.label :nationality, 'Statsborgerskap:' %>
                <%= f.country_select( :nationality, priority_countries: ['NO', 'SE', 'DK', 'FI', 'PL', 'DE'], format: :with_flag) %>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">
                <%= f.label :country_of_residence, 'Bosatt i:' %>
                <%= f.country_select( :country_of_residence, priority_countries: ['NO', 'SE', 'DK', 'FI', 'PL', 'DE'], format: :with_flag) %>
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <%= f.label :email, 'E-post:' %>
                <%= f.text_field :email, class: 'u-full-width', required: true %>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <% if @user.pending_reconfirmation? %>
                    <div>Venter at du skal bekrefte: <%= @user.unconfirmed_email %>. Du skal ha mottatt en e-post med bekreftelseslenke. Om du ikke har mottatt denne e-posten, klikk <%= link_to "here", new_user_confirmation_path %>. Vi beholder din forrige e-postadresse til du har bekreftet din nye.
                    </div>
                    <%# FIXME(RA): make the link a post to the user's current email.
            link_to "here", user_confirmation_path, method: :post, {email: @user.email} ###or similar?%>
                <% else %>
                    <div>
                        <%= icon 'check-circle-o', class: 'fa-lg u-fill-green' %>
                        <small>E-postadressen er bekreftet!</small>
                    </div>
                <% end %>
            </div>
        </div>


        <div class="row u-push-down-only">
            <div class="six columns">
                <%= f.label :current_phone_number, 'Telefonnummer:' %>
                <%= f.text_field :current_phone_number, { class: "u-full-width", maxlength: 8 } %>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <% if @user.phone_pending_confirmation? %>
                    <div>
                        <%= icon 'times-circle-o', class: 'fa-lg u-fill-red' %>
                        <small>
                            Telefonnummer <%= @user.unconfirmed_phone_number %> er ikke bekreftet!
                            <% if not @user.unconfirmed_phone_number.blank? %>
                                <%= link_to 'Bekreft telefonnummer nå', verify_mobile_users_path %>
                                <%#= link_to 'send ny melding', foo_bar_path %>
                                <%# FIXME(RA): Create a controller method to send a New SMS. Should refuse to send too often, otherwise we go bankrupt. %>
                            <% end %>
                        </small>
                    </div>
                <% else %>
                    <div>
                        <%= icon 'check-circle-o', class: 'fa-lg u-fill-green' %>
                        <small>Telefonnummeret er bekreftet!</small>
                    </div>
                <% end %>
            </div>
        </div>


        <p>
            <small>Vi trenger addressen som tilhører bankkontoen din:</small>
        </p>
        <div class="row">
            <div class="eight columns">
                <%= f.label :home_address_line, 'Gateadresse:' %>
                <%= f.text_field :home_address_line, class: 'u-full-width' %>
            </div>
        </div>
        <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
            <div class="two columns">
                <%= f.label :home_post_code, 'Postnr.' %>
                <%= f.telephone_field :home_post_code, class: 'u-full-width', placeholder: 'Postnr.', maxlength: 4, data: {postal_code: ''} %><%# :pattern => '[0-9]{4}', %>
            </div>
            <div class="six columns">
                <%= label_tag :poststed, 'Poststed' %>
                <input type="text" id="poststed" name="poststed" class="u-full-width" disabled placeholder="<%= @user.home_city || 'Poststed' %>" data-postal-place>
            </div>
        </div>

        <%= render partial: 'privacy_box' unless Plendit::Application.config.x.application_mode.beta %>


        <div class="row u-push-down">
            <div class="three columns">
              <%= render('shared/avatar.html', user: @user, size: 'huge') %>
            </div>
            <div class="nine columns">
              <p>
                <%= f.fields_for :user_images do |uimg_builder| %>
                  <%#= uimg_builder.hidden_field :id %>
                  <%= uimg_builder.hidden_field :category, :value => 'avatar' %>
                  <%= uimg_builder.label :image, 'Last opp profilbilde' %>
                  <%= uimg_builder.file_field :image %>
                <% end %>
              </p>
            </div>
        </div>

        <p>
            <small>
                Her kan du skrive litt om deg selv.
                Denne blir vist på din offentlig profil.
            </small>
        </p>
        <div class="row">
            <div class="two-thirds column">
                <%= f.label :about, 'Om meg:' %>
                <%= f.text_area :about, class: 'u-full-width' %>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <%= f.submit 'Oppdater', class: "u-pull-right button" %>
            </div>
        </div>
    <% end %>
<% end %>