<%= render layout: "gray_box", locals: {title: "Rediger tilkoblede kontoer", id: "identities"} do %>

<%
  providers = [
    {
      id: "facebook",
      name: 'Facebook',
      image: 'facebook/FB-f-Logo__blue_50.png',
      image_size: '50x50'
    },
    {
      id: "google_oauth2",
      name: 'Google',
      image: 'logos/google_50x50.png',
      image_size: '50x50'
    },
    {
      id: "spid",
      name: 'SPID',
      image: 'logos/spid_117x50.png',
      image_size: '117x50'
    }
  ]

  # FIXME:
  # ** use array of identity providers or similar from config or models
  # ** fix so that after linking an account, they are redirected back here.
  # ** do we want to enable disconnecting identities? yes. Hook that up to link
%>

    <p>
        Oversikt over hvilke brukerprofiler som er til din konto.
    </p>

    <div>
        <% providers.each do |provider| %>
            <div class="provider-box">
                <%= image_tag provider[:image], size: provider[:image_size], alt: "" %>
                <% if current_user.connected_to_provider provider[:id] %>
                    Tilkoblet!
                    <%= evil_icon 'ei-check', size: :l, class: "u-pull-right u-fill-green" %>
                    <small><a href="#">Koble fra</a></small>
                <% else %>
                    <%= button_to user_omniauth_authorize_path(provider[:id]), class: "button-primary", form_class: "u-inline" do %>
                        Koble din <%= provider[:name] %> konto til din Plendit-konto.
                    <% end %>
                    <%= evil_icon 'ei-close-o', size: :l, class: "u-pull-right u-fill-red" %>
                <% end %>
            </div>
            <hr>
        <% end %>
    </div>

<% end %>