<div class="profile-image-box">
    <p>
        <div>
          Before you can receive any payments you need to put in your bank account information:
        </div>

        <%- if @user.errors.any? -%>
            <div>
                <%= pluralize(@user.errors.count, "error") %> prohibited this ad from being saved:
                <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <%- end -%>

        <div>
          <%= form_for @user, url: users_path do |f| %>
            <%= f.fields_for :user_bank_accounts do |acc_builder| %>
              <%= acc_builder.hidden_field :id %>

              <%= acc_builder.label :bank_account_number %>
              <%= acc_builder.text_field :bank_account_number %>
            <% end %>
            <%= f.submit "Send" %>
          <% end %>
        </div>
    </p>
</div>