<%= render layout: 'gray_box', locals: {title: 'Rediger profil', id: 'personal-info'} do %>

    <%- if @user.errors.any? -%>
        <div>
            <%= I18n.t '.error_prevented_saving_profile',
                default: 'Følgende forhindret deg i å oppdatere profilen din:',
                count: @user.errors.count
             %>
            <ul>
                <% @user.errors.messages.each do |attribute,message| %>
                    <% message.each do |m| %>
                        <li><%= m %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    <%- end -%>

    <%= form_for( @user, url: users_path, html: { method: :put }) do |f| %>

        <%#= devise_error_messages! %>

        <div class="row u-push-down">
            <div class="three columns">
                <%= avatar_image(@user, :huge) %>
            </div>
            <div class="nine columns">
              <p>
                <%= f.fields_for :user_images do |uimg_builder| %>
                  <%#= uimg_builder.hidden_field :id %>
                  <%= uimg_builder.hidden_field :category, :value => 'avatar' %>
                  <%= uimg_builder.label :image, 'Last opp profilbilde' %>
                <p>
                    <small>
                        Kvadratiske bilder ser best ut
                    </small>
                </p>
                  <%= uimg_builder.file_field :image %>
                <% end %>
              </p>
            </div>
        </div>


        <div class="row">
            <div class="six columns">
                <%= f.label :public_name, 'Navn i offentlig profil:' %>
                <%= f.text_field :public_name, class: 'u-full-width', required: true %>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">
                <%= f.label :about, 'Om meg:' %>
                <p>
            <small>
                Her kan du skrive litt om deg selv som vil vises på din offentlig profil.
            </small>
        </p>
                <%= f.text_area :about, maxlength: 2000, class: 'u-full-width' %>
            </div>
        </div>

        <% if @user.has_confirmed_id? %>
            <div class="row">
                <div class="six columns">
                    <strong>Fornavn:</strong>   <%= @user.first_name %> <br>
                    <strong>Etternavn:</strong> <%= @user.last_name %>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <strong>Fødselsdato:</strong> <%= l @user.birthday %>
                </div>
            </div>
        <% else %>
            <div class="row">
                <div class="two-thirds column">
                    <%= f.label :birthday, 'Fødselsdato:' %>
                    <%= f.date_select :birthday, start_year: 110.years.ago.year, end_year: 18.years.ago.year, disabled: @user.has_confirmed_id? %>
                </div>
            </div>
        <% end %>

        <div class="row">
            <div class="six columns">
                <%= f.label :email, 'E-post:' %>
                <%= f.text_field :email, class: 'u-full-width', required: true %>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <% if @user.pending_reconfirmation? %>
                    <%= icon 'exclamation-triangle', class: 'fa-lg' %>
                    <small>
                        Venter at du skal bekrefte: <%= @user.unconfirmed_email %>. Vi beholder din forrige e-postadresse til du har bekreftet din nye. Om du ikke har mottatt en e-post med bekreftelseslenke, <%= link_to 'klikk her', new_user_confirmation_path %>.
                    </small>
                    <%# FIXME(RA): make the link a post to the user's current email.
            link_to "here", user_confirmation_path, method: :post, {email: @user.email} ###or similar?%>
                <% else %>
                    <div>
                        <%= icon 'check', class: 'fa-lg' %>
                        <small>E-postadressen er bekreftet!</small>
                    </div>
                <% end %>
            </div>
        </div>


        <div class="row u-push-down-only">
            <div class="six columns">
                <%= f.label :current_phone_number, 'Telefonnummer:' %>
                <%= f.text_field :current_phone_number, { class: 'u-full-width', maxlength: 8 } %>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <% if @user.phone_pending_confirmation? %>
                    <div>
                        <%= icon 'exclamation-triangle', class: 'fa-lg' %>
                        <small>
                            Telefonnummer <%= @user.unconfirmed_phone_number %> er ikke bekreftet!
                            <% if @user.unconfirmed_phone_number.present? %>
                                <%= link_to 'Bekreft telefonnummer nå', verify_mobile_users_path %><br>
                            <% end %>
                            <% if @user.phone_number.present? %>
                                Telefonnummeret <%= @user.phone_number %> er fortsatt bekreftet.
                            <% end %>
                        </small>
                    </div>
                <% else %>
                    <div>
                        <%= icon 'check', class: 'fa-lg' %>
                        <% if @user.unconfirmed_phone_number.present? %>
                            <small>Telefonnummeret (<%= @user.phone_number %>) er bekreftet!</small>
                        <% else %>
                            <small>Telefonnummeret er bekreftet!</small>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>

        <br>
        <small>Addressen som tilhører din bankkonto:</small>
        <div class="row">
            <div class="eight columns">
                <%= f.label :home_address_line, 'Gateadresse:' %>
                <%= f.text_field :home_address_line, class: 'u-full-width' %>
            </div>
        </div>
        <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
            <div class="two columns">
                <%= f.label :home_post_code, 'Postnr.' %>
                <%= f.telephone_field :home_post_code, class: 'u-full-width', placeholder: 'Postnr.', maxlength: 4, data: {postal_code: ''} %><%# :pattern => '[0-9]{4}', %>
            </div>
            <div class="six columns">
                <%= label_tag :poststed, 'Poststed' %>
                <input type="text" id="poststed" name="poststed" class="u-full-width" disabled placeholder="<%= @user.home_city || 'Poststed' %>" data-postal-place>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">
                <%= f.label :nationality, 'Statsborgerskap:' %>
                <%= f.country_select( :nationality, priority_countries: ['NO', 'SE', 'DK', 'FI', 'PL', 'DE'], format: :with_flag) %>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">
                <%= f.label :country_of_residence, 'Bosatt i:' %>
                <%= f.country_select( :country_of_residence, priority_countries: ['NO', 'SE', 'DK', 'FI', 'PL', 'DE'], format: :with_flag) %>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <%= f.submit 'Oppdater', class: "u-pull-right button" %>
            </div>
        </div>
    <% end %>
<% end %>