<%= render layout: "gray_box", locals: {title: "Rediger personalia", id: "personal-info"} do %>

    <%- if @user.errors.any? -%>
        <div>
            <%= pluralize(@user.errors.count, "error") %> prohibited this ad from being saved:
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <%- end -%>

    <%= form_for( @user, url: users_path, html: { method: :put }) do |f| %>

        <%#= devise_error_messages! %>

        <div class="row">
            <div class="six columns">
                <%= f.label :first_name, 'Fornavn:' %>
                <%= f.text_field :first_name, class: 'u-full-width' %>
            </div>
            <div class="six columns">
                <%= f.label :last_name, 'Etternavn:' %>
                <%= f.text_field :last_name, class: 'u-full-width' %>
            </div>
        </div>


        <div class="row">
            <div class="two-thirds column">
                <%= f.label :birthday, 'Fødselsdato:' %>
                <%= f.date_field :birthday %>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">
                <details class="u-implode-summary">
                    <summary>
                        <input type="checkbox" checked data-controller="clickthrough"><span> Norsk statsborger</span>
                    </summary>
                    <div>
                        <%= f.label :nationality, 'Statsborgerskap:' %>
                        <%= f.country_select( :nationality, priority_countries: ["NO", "SE", "DK", "DE"], format: :with_flag) %>
                    </div>
                </details>
            </div>
        </div>

        <div class="row">
            <div class="two-thirds column">

                <details class="u-implode-summary">
                    <summary>
                        <input type="checkbox" checked data-controller="clickthrough"><span> Bosatt i Norge</span>
                    </summary>
                    <div>
                        <%= f.label :country_of_residence, 'Bosatt i:' %>
                        <%= f.country_select( :country_of_residence, priority_countries: ["NO", "SE", "DK", "DE"], format: :with_flag) %>
                    </div>
                </details>
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <%= f.label :email, 'E-post:' %>
                <%= f.text_field :email, class: 'u-full-width' %>
            </div>

        </div>

        <% if @user.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %>. Check your email for instructions on how to confirm it.
            To have the email resent, please go <%= link_to "here", new_user_confirmation_path %>. Your previous email will be kept on file until you have verified the new one.
            </div>
            <%# TODO(RA): make the link a post to the user's current email.
            link_to "here", user_confirmation_path, method: :post, {email: @user.email} ###or similar?%>
        <% else %>
            <div>
                <%= evil_icon 'ei-check', size: :s, class: 'u-fill-green' %>
                <span>E-post adressen er bekreftet!</span>
            </div>
        <% end %>

        <div class="row u-push-down">
            <div class="six columns">
                <%= f.label :current_phone_number, 'Telefonnummer:' %>
                <%= f.text_field :current_phone_number, { class: "u-full-width", maxlength: 8 } %>
            </div>
        </div>

        <% if @user.phone_pending_confirmation? %>
            <div>
                Currently waiting confirmation for: <%= @user.unconfirmed_phone_number %>. Last confirmed number: <%= @user.phone_number %>. Please confirm your new number <%= link_to 'here', verify_sms_users_path %>. If you need a new sms sent, please click <%= link_to 'here', '#' %>.
                <%# TODO(RA): Create a page to send a New SMS. Should refuse to send too often, otherwise we go bankrupt. %>
            </div>
        <% else %>
            <div>
                <%= evil_icon 'ei-check', size: :s, class: 'u-fill-green' %>
                <span>Telefonnummeret er bekreftet!</span>
            </div>
        <% end %>

        <%= f.fields_for :user_payment_account do |acc_builder| %>
          <%#= acc_builder.hidden_field :id %>
          <%= acc_builder.label :bank_account_number %>
          <%= acc_builder.text_field :bank_account_number %>
        <% end %>
        <p>
            <small>Vi trenger kontonummer for å utbetale penger til deg som utleier</small>
        </p>

        <div class="row">
            <div class="twelve columns">
                <%= f.submit "Oppdater", class: "u-pull-right button-primary" %>
            </div>
        </div>
    <% end %>
<% end %>