<%= render layout: "gray_box", locals: {title: "Rediger tilkoblede kontoer", id: "identities"} do %>

<%
  providers = [
    {
      id: "facebook",
      name: 'Facebook',
      image: 'facebook/FB-f-Logo__blue_50.png',
      image_size: '50x50'
    },
    {
      id: "google",
      name: 'Google',
      image: 'logos/google_50x50.png',
      image_size: '50x50'
    },
    {
      id: "spid",
      name: 'SPID',
      image: 'logos/spid_117x50.png',
      image_size: '117x50'
    }
  ]

  # FIXME:
  # ** use array of identity providers or similar from config or models
  # ** fix so that after linking an account, they are redirected back here.
  # ** do we want to enable disconnecting identities? yes. Hook that up to link
%>
    <p>
        Du kan koble din plendit-konto til andre tjenester du bruker. Det gjør
        det lettere for deg å logge inn.
    </p>
    <div>
        <% providers.each do |provider| %>
            <div class="provider-box">
                <div class="provider-box__logo-box">
                    <%= image_tag provider[:image], size: provider[:image_size], alt: "", class: 'provider-box__logo' %>
                </div>
                <% if current_user.connected_to_provider provider[:id] %>
                    <%= evil_icon 'ei-check', size: :s, class: "u-fill-green provider-box__status" %>
                    <a href="#" class="button u-pull-right">Koble fra</a>
                <% else %>
                    <%= button_to user_omniauth_authorize_path(provider[:id]), class: "button u-pull-right", form_class: "u-inline" do %>
                        Koble til
                    <% end %>
                    <%= evil_icon 'ei-close-o', size: :s, class: "u-fill-red provider-box__status" %>
                <% end %>
            </div>
        <% end %>
    </div>

<% end %>
