<%# todo: this should share / be the same as the _provider_logins partial %>
<div class="row">
    <%= link_to social_button(:facebook, nil), user_omniauth_authorize_path(:facebook), class: 'u-no-underline' %>
    <br>
    <br>
    <%= link_to social_button(:google,  nil), user_omniauth_authorize_path(:google), class: 'u-no-underline' %>
    <br>
    <br>
    <%= link_to social_button(:spid,  nil), user_omniauth_authorize_path(:spid), class: 'u-no-underline' %>
    <br>
    <br>
    <%= link_to social_button(:plendit, 'Ny bedriftsbruker'), Plendit::Application.config.x.signup.bedriftskunde_signup_link  %>
    <br>
    <br>
    <p>
        Ved å logge inn aksepterer du <%= link_to 'brukervilkårene.', terms_path %>
    </p>
</div>