<div class="row">
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
        <%= social_button(:facebook, nil) %>
    <% end %>
    <br>
    <br>
    <%= link_to user_omniauth_authorize_path(:google) do %>
        <%= social_button(:google, nil) %>
    <% end %>
    <br>
    <br>
    <%= link_to user_omniauth_authorize_path(:spid) do %>
        <%= social_button(:spid, nil) %>
    <% end %>
</div>