<%= link_to users_feedback_path(feedback), class: 'public-profile-feedback' do %>
    <div class="public-profile-feedback__avatar-box">
        <%= render 'shared/avatar', user: feedback.from_user %>
        <br>
        <%= feedback.from_user.display_name %>
    </div>
    <div class="public-profile-feedback__text-box">
        <h4>
            <%= render 'shared/stars.html', rating: feedback.score %>
            <%= feedback.booking.ad.decorate.display_title %>
        </h4>
        <p class="public-profile-feedback__description">
            <%= feedback.body %>
        </p>
    </div>
<% end %>