<%= render layout: 'gray_box', locals: {title: 'Bekreft mobilnummer', id: 'verify-phone'} do %>
    <%- if sms_notice -%>
        <%= sms_notice %>
    <%- end -%>

    <%#= form_for(@user, url: verify_sms_path(@user), html: { method: :put }) do |f| %>
    <%= form_tag( verify_sms_users_path ) %>
        <div class="row">
            <div class="six columns">
                <%= label_tag 'user[phone_number_confirmation_token]', "Kode fra SMS sendt til #{@user.unconfirmed_phone_number}" %>
                <%= text_field_tag 'user[phone_number_confirmation_token]', '', { class: 'u-full-width', maxlength: 8 }  %>
            </div>
            <div class="twelve columns">
                <%= submit_tag 'Bekreft', class: 'u-pull-right button' %>
            </div>

        </div>
    </form>
    <%= form_tag( resend_verification_sms_users_path ) %>
        <div class="row">
            <%= submit_tag 'Send ny melding', class: 'u-pull-right button' %>
        </div>
    </form>
<% end %>
