<%= render layout: "gray_box", locals: {title: 'Mine verifiseringer'} do %>
    <div class="user-verifications">
        <ol class="user-verifications__list">
            <li>
                <%= link_to 'Telefonnummer', '#', class: 'user-verifications__action-link' %>

                <% if @user.phone_verified? %>
                    <%= icon_verification_ok %>
                <% else %>
                    <%# todo: state when it's sent and waiting for pin to be entered %>
                    <%= icon_verification_required %>
                    <span class="user-verifications__help-link" data-help-label-for="phone">
                        <%= icon 'info-circle', 'hvorfor?', class: 'fa-fw' %>
                    </span>
                <% end %>

                <div class="user-verifications__help u-hidden" data-help-text-for="phone">
                    Vi trenger et bekreftet telefonnumer før du kan
                    leie, eller leie ut, på plendit.
                    <a href="#" target="_blank">Les mer.</a>
                </div>
            </li>
            <li>
                <%= link_to 'E-post', '#', class: 'user-verifications__action-link' %>

                <% if @user.email_verified? %>
                    <%= icon_verification_ok %>
                <% else %>
                    <%# todo: state when it's sent and waiting for pin to be entered %>
                    <%= icon_verification_required %>

                    <span class="user-verifications__help-link" data-help-label-for="email">
                        <%= icon 'info-circle', 'hvorfor?', class: 'fa-fw' %>
                    </span>
                <% end %>

                <div class="user-verifications__help u-hidden" data-help-text-for="email">
                    Vi trenger en bekreftet e-postadresse før du kan
                    leie, eller leie ut, på plendit.
                    <a href="#" target="_blank">Les mer.</a>
                </div>
            </li>
            <li>
                <h5>Førerkort <%= verification_state_label current_user.drivers_license_status %></h5>

                <% if current_user.drivers_license_status == :rejected %>
                    <p><strong>Årsak:</strong> <%= current_user.drivers_license_rejection_reason || 'Ingen årsak gitt' %></p>
                <% end %>

                <% if current_user.drivers_license_status == :missing || current_user.drivers_license_status == :rejected %>
                    <%= link_to verify_drivers_license_users_path do %>
                        <%= icon_verification_missing %>
                        Last opp
                    <% end %>
                <% end %>

                <hr>

                <%= link_to 'Førerkort', verify_drivers_license_users_path, class: 'user-verifications__action-link' %>

                <% if current_user.drivers_license_status == :verified %>
                    <%= icon_verification_ok %>
                <% else %>
                    <% if current_user.drivers_license_status == :missing %>
                       <%= icon_verification_missing %>
                    <% elsif current_user.drivers_license_status == :pending %>
                       <%= icon_verification_pending %>
                    <% elsif current_user.drivers_license_status == :rejected %>
                       <%= icon_verification_rejected %>
                    <% else %>
                        <!-- Unknown status -->
                    <% end %>

                    <span class="user-verifications__help-link" data-help-label-for="drivers-permit">
                        <%= icon 'info-circle', 'hvorfor?', class: 'fa-fw' %>
                    </span>
                <% end %>

                <div class="user-verifications__help u-hidden" data-help-text-for="drivers-permit">
                    Vi trenger bilde av førerkort for at du skal kunne leie motorkjøretøy.
                    <a href="#" target="_blank">Les mer.</a>
                </div>
            </li>
            <li>
                <%= link_to 'Identitetskort', verify_id_card_users_path, class: 'user-verifications__action-link' %>

                <% if current_user.id_card_status == :verified || current_user.drivers_license_status == :verified %>
                   <%= icon_verification_ok %>
                <% else %>
                    <% if current_user.id_card_status == :missing %>
                       <%= icon_verification_missing %>
                    <% elsif current_user.id_card_status == :pending %>
                       <%= icon_verification_pending %>
                    <% elsif current_user.id_card_status == :rejected %>
                       <%= icon_verification_rejected %>
                    <% else %>
                        <!-- Unknown status -->
                    <% end %>

                    <span class="user-verifications__help-link" data-help-label-for="id-card">
                        <%= icon 'info-circle', 'hvorfor?', class: 'fa-fw' %>
                    </span>

                <% end %>

                <div class="user-verifications__help u-hidden" data-help-text-for="id-card">
                    Dette er påkrevet for å kunne utbetale summer over 20 000,- i året.
                    <a href="#" target="_blank">Les mer.</a>
                </div>

            </li>
            <li>
                <%= link_to 'Båtførerbevis', verify_boat_license_users_path, class: 'user-verifications__action-link' %>

                <% if current_user.boat_license_status == :verified %>
                   <%= icon_verification_ok %>
                <% else %>
                    <% if current_user.boat_license_status == :missing %>
                       <%= icon_verification_missing %>
                    <% elsif current_user.boat_license_status == :pending %>
                       <%= icon_verification_pending %>
                    <% elsif current_user.boat_license_status == :rejected %>
                       <%= icon_verification_rejected %>
                    <% else %>
                        <!-- Unknown status -->
                    <% end %>

                    <span class="user-verifications__help-link" data-help-label-for="boat-permit">
                        <%= icon 'info-circle', 'hvorfor?', class: 'fa-fw' %>
                    </span>
                <% end %>

                <div class="user-verifications__help u-hidden" data-help-text-for="boat-permit">
                    Vi trenger bilde av båtførerbevis for at du skal kunne leie båt.
                    <a href="#" target="_blank">Les mer.</a>
                </div>
            </li>
        </ol>

        <%= render partial: 'privacy_box' %>

    </div>

<% end %>
