<%= render layout: "gray_box", locals: {title: 'Min dokumentasjon'} do %>
    <div class="user-verifications">
        <% @verifications.each do |v| %>
            <div class="verification-item u-push-down-only">
                <p class="verification-item__status">
                    <%= v.title %> <%= verification_state_label v.state %>
                </p>
                <% if v.rejected %>
                    <p class="verification-item__rejection">
                        <small><span>Årsak:</span> <%= v.rejection_reason || 'Ingen årsak gitt' %></small>
                    </p>
                <% end %>

                <% if v.rejected || v.state == :missing || v.state == :required %>
                    <p class="verification-item__link">
                        <%= link_to v.path do %>
                            <%= v.question? ? icon_question : icon_verification_missing %>
                            <%= v.link_text || 'Last opp' %>
                        <% end %>
                    </p>
                <% end %>
            </div>
        <% end %>
        <%= render partial: 'privacy_box' %>
    </div>
<% end %>