<%= render partial: 'shared/personal_bar', locals: { selected: 'Profil' } %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <%= render layout: 'gray_box', locals: {title: 'Rediger profil'} do %>
                I feltene under kan du redigere din profil. Husk at
                det bare er ditt fornavn og "om deg" som vises til andre brukere.
            <% end %>
            <% if @user.phone_pending_confirmation? && ! @user.unconfirmed_phone_number.blank?  %>
                <%= render partial: 'verify_sms' if Plendit::Application.config.x.application_mode.beta %>
            <% end %>
            <%= render partial: 'edit_profile' %>
            <%= render partial: 'locations/list' %>
            <%= render partial: 'edit_registration' %>
            <%= render partial: 'edit_identity' if Plendit::Application.config.x.application_mode.beta %>

        </div>

        <div class="four columns">
            <%= render layout: 'gray_box'  do %>
                <ul>
                    <li><%= link_to 'Rediger personalia', anchor: 'personal-info' %></li>
                    <li><%= link_to 'Adresser', anchor: 'locations' %></li>
                    <li><%= link_to 'Bytte passord', anchor: 'password' %></li>
                    <% if Plendit::Application.config.x.application_mode.beta %>
                    <li><%= link_to 'Rediger tilkoblede kontoer', anchor: 'identities' %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>

    </div>
</div>

<%#
<h3>Cancel my account</h3>

# We need to think about what we will do once a user cancels his account. (delete, flag as deleted, allow email to be re-used?)
# !!! this is a wasps nest of nastiness !!!
<p>Unhappy? << button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete >> </p>
%>
