<%= render partial: "shared/personal_bar", locals: { selected: "Din profil" } %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <%= render layout: "gray_box", locals: {title: "Rediger profil"} do %>
                I feltene under kan du redigere din profil. Husk at
                det bare er ditt fornavn som vises til andre brukere.
            <% end %>

            <%= render partial: "edit_profile" %>
            <%= render partial: "edit_registration" %>

            <%= render layout: "gray_box", locals: {title: "Endre adresser", id: "locations"} do %>
              <%= link_to "Se og rediger mine adresser.", locations_path %>
            <% end %>

            <%= render partial: "edit_identity" %>

        </div>

        <div class="four columns">
            <%= render layout: "gray_box"  do %>
                <ul>
                    <li><%= link_to "Rediger personalia", anchor: "personal-info" %></li>
                    <li><%= link_to "Bytte passord", anchor: "password" %></li>
                    <li><%= link_to "Legg til kredittkort", user_payment_cards_path %></li>
                    <li><%= link_to "Rediger adresser", anchor: "locations" %></li>
                    <li><%= link_to "Rediger tilkoblede kontoer", anchor: "identities" %></li>
                </ul>
            <% end %>
        </div>

    </div>
</div>

<%#
<h3>Cancel my account</h3>

# We need to think about what we will do once a user cancels his account. (delete, flag as deleted, allow email to be re-used?)
# !!! this is a wasps nest of nastiness !!!
<p>Unhappy? << button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete >> </p>
%>
