<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>Vi trenger litt mer info fra deg...</h1>
            <p>
                For å komme helt i gang! Alle feltene er obligatoriske.
            </p>
            <%= form_for(current_user, as: 'user', url: finish_signup_users_path, html: { role: 'form'}) do |f| %>
                <% if @show_errors && current_user.errors.any? %>
                    <div id="error_explanation">
                        <ul>
                            <% current_user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <% if current_user.email.blank? %>
                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :email, 'E-post:', class: 'u-full-width' %>
                            <%= f.text_field :email, autofocus: true, required: true, class: 'u-full-width' %>
                        </div>
                    </div>
                <% end %>

                <% if current_user.first_name.blank? %>
                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :first_name, 'Fornavn:', class: 'u-full-width' %>
                            <%= f.text_field :first_name, class: 'u-full-width' %>
                        </div>
                    </div>
                <% end %>

                <% if current_user.last_name.blank? %>
                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :last_name, 'Etternavn:', class: 'u-full-width' %>
                            <%= f.text_field :last_name, class: 'u-full-width' %>
                        </div>
                    </div>
                <% end %>

                <% if current_user.current_phone_number.blank? %>
                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :current_phone_number, 'Mobilnummer:', class: 'u-full-width' %>
                            <%= f.text_field :current_phone_number, maxlength: 8, class: 'u-full-width' %>
                        </div>
                    </div>
                <% end %>

                <%# HACK: we keep the birthday always updateable, so, there is always something to be updated and the
                     if check for @user.update(user_params) always passes as long as the content is minimally valid %>
                <%# if current_user.birthday.blank? %>
                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :birthday, 'Fødselsdato:', class: 'u-full-width' %>
                            <%= f.date_select :birthday, start_year:  18.years.ago.year, end_year: 110.years.ago.year, default: 18.years.ago.beginning_of_year, disabled: @user.has_confirmed_id? %>
                        </div>
                    </div>
                <%# end %>

                <% if current_user.country_of_residence.blank? %>
                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :country_of_residence, 'Bosatt i:', class: 'u-full-width' %>
                            <%= f.country_select( :country_of_residence, priority_countries: ['NO', 'SE', 'DK', 'FI', 'PL', 'DE'], format: :with_flag) %>
                        </div>
                    </div>
                <% end %>

                <% if current_user.nationality.blank? %>
                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :nationality, 'Statsborgerskap:', class: 'u-full-width' %>
                            <%= f.country_select( :nationality, priority_countries: ['NO', 'SE', 'DK', 'FI', 'PL', 'DE'], format: :with_flag) %>
                        </div>
                    </div>
                <% end %>


                <div class="actions">
                    <%= f.submit 'Lagre', class:'button button-primary' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
