<%= render partial: "shared/personal_bar" %>

<div class="container">
    <div class="row">
        <div class="six columns">
            <%= render layout: "bubble_box", locals: {title: "Utestående vurderinger"} do %>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
            <% end %>







            <%= render layout: "bubble_box", locals: {title: "Utestående vurderinger", color: "red"} do %>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
            <% end %>






            <%= render layout: "bubble_box", locals: {title: "Utestående vurderinger", color: "blue"} do %>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
                <a href="#" class="actionable-item u-push-down">
                    <div class="actionable-item__avatar">
                        <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    </div>
                    <div class="actionable-item__main">
                        <h2 class="actionable-item__title">Jan Erik<br><small>11.09.2015</small></h2>
                        <p class="actionable-item__body">thule henger morradi er mann</p>
                    </div>
                </a>
            <% end %>








        </div>

        <div class="six columns">

            <%= render layout: "bubble_box", locals: {title: "Ubesvarte forespørsler"} do %>
                it's complicated
            <% end %>

            <%= render layout: "bubble_box", locals: {title: "Siste meldinger"} do %>
                it's complicated
            <% end %>

            <%= render layout: "bubble_box", locals: {title: "Utestående vurderinger"} do %>

                <a href="#">
                    <%= render('shared/avatar.html', user: current_user, size: "medium" ) %>
                    <h2>Jan Erik<br><small>11.09.2015</small></h2>
                    <p>thule henger morradi er mann</p>
                </a>

            <% end %>
        </div>
    </div>
</div>