<%= render partial: "shared/personal_bar" %>

<div class="container">
    <div class="row">
        <div class="six columns">
            <div class="u-push-down">
                <h4>Mine annonser</h4>
                <% unless current_user.ads.empty? %>
                    <ul>
                        <% current_user.ads.each do |ad| %>
                            <li>
                                <%= link_to ad.safe_title, ad %>
                                <%= ad.status %>
                                <small>(oppdatert <%= ad.updated_at.to_formatted_s(:plendit_short_datetime) %>)</small>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    Du har ikke publisert noen annonser ennå.
                <% end %>
                <%= button_to "Legg ut en ny annonse", new_ad_path, method: "get" %>
            </div>

            <div class="u-push-down">
                <h4>Utestående vurderinger</h4>
                <div>Placeholder</div>
            </div>
        </div>

        <div class="six columns">
            <div class="u-push-down">
                <h4>Forespørsler</h4>
                <% unless current_user.current_bookings.empty? %>
                    <ul>
                        <% current_user.current_bookings.each do |booking| %>
                            <li>
                                <%= link_to booking.ad.safe_title, booking %>
                                <%= booking.status %>
                                <small>(oppdatert <%= booking.ad.updated_at.to_formatted_s(:plendit_short_datetime) %>)</small>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                        Du har ingen åpne sendte eller mottatte forespørsler
                <% end %>
            </div>

            <div class="u-push-down">
                <h4>Siste meldinger</h4>
                <div>Placeholder</div>
            </div>
        </div>

    </div>
</div>