<%= render partial: "shared/personal_bar" %>

<div class="container">
    <div class="row">
        <div class="twelve columns">

            <%= render layout: "gray_box", locals: {title: "Min oversikt"} do %>
                <p>
                    Her får du en oversikt over den siste aktiviteten på plendit
                    som er relevant for deg.
                </p>
                <%= link_to 'Se min offentlige profil', user_path(current_user), class: 'button' %>
                <%= button_to 'Legg ut en ny annonse', new_ad_path, method: 'get', class: 'button button-primary', form_class: 'u-inline' %>
            <% end %>

            <%= render layout: "bubble_box", locals: {title: "Mine annonser"} do %>
                <% unless current_user.ads.empty? %>
                    <ul>
                        <% current_user.ads.each do |ad| %>
                            <li>
                                <%= link_to ad.display_title, ad %>
                                <%= ad.display_status %>
                                <small>(oppdatert <%= ad.updated_at.to_formatted_s(:plendit_short_datetime) %>)</small>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    Du har ikke publisert noen annonser ennå.
                <% end %>
                <%= button_to "Legg ut en ny annonse", new_ad_path, method: "get", class: "button button-primary" %>
            <% end %>

            <%= render layout: "bubble_box", locals: {title: "Utestående vurderinger"} do %>
                <div>Ingen utestående vurderinger.</div>
            <% end %>

            <%= render layout: "bubble_box", locals: {title: "Forespørsler"} do %>
                <% unless current_user.current_bookings.empty? %>
                    <ul>
                        <% current_user.current_bookings.each do |booking| %>
                            <li>
                                <%= link_to booking.ad.display_title, booking %>
                                <%= booking.display_status %>
                                <small>(oppdatert <%= booking.ad.updated_at.to_formatted_s(:plendit_short_datetime) %>)</small>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    Du har ingen åpne sendte eller mottatte forespørsler
                <% end %>
            <% end %>

            <%= render layout: "bubble_box", locals: {title: "Siste meldinger"} do %>
                <% unless current_user.received_messages.empty? %>
                    <ul>
                        <% current_user.received_messages.each do |message| %>
                            <li>
                                <%= link_to message.booking.ad.display_title, message.booking %>
                                <p><%= message.content[0..60] %></p>
                                <small>(<%= message.created_at.to_formatted_s(:plendit_short_datetime) %>)</small>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    Du ikke mottatt noen meldinger
                <% end %>
            <% end %>
        </div>
    </div>
</div>
