<%= render partial: "shared/personal_bar", locals: {selected: 'Betaling'} %>

<div class="container">
  <div class="row">
    <div class="eight columns">
    <%= render layout: "gray_box", locals: {title: "Overføre", id: "overfoere"} do %>
      <%= render partial: "users/payment/payout_summary_table" %>

      <%-
        if current_user.user_payment_account.present? &&
          ( @financial_transaction_payout[:amount] > 0 ) &&
          ( @financial_transaction_payout[:amount] > @financial_transaction_payout[:fees] )
      -%>

        <%= button_to "Overfør", payment_payout_users_path, class: "button" %>
      <%- end -%>

      <%= link_to "Avbryt", payment_users_path %>

      <% if @financial_transaction_payout[:fees] > 0 %>
        <hr>
        NB! Om du overfører mer enn<%= format_monetary_full_pretty Rails.configuration.x.platform.payout_fee_waived_after_amount %> av gangen, så slipper du bankgebyr.
      <% end %>

    <% end %>
    </div>
  </div>
</div>