<%= render partial: 'shared/personal_bar', locals: {selected: 'profil'} %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>Din profil</h1>

            <div class="biz-card">
                <div class="biz-card__avatar">
                    <%= avatar_image current_user, :huge %>
                </div>
                <div class="biz-card__details">
                    <%= "#{@user.first_name} #{@user.last_name}" %>
                    <br>
                    <%= @user.email %>
                    <br>
                    Tlf: <%= @user.phone_number || 'Ikke registrert mobilnummer' %>
                    <br>
                    <%= link_to 'Rediger min profil', edit_users_path %>
                    <br>
                    <%= link_to 'Gå til min offentlige profil', user_path(current_user) %>
                </div>
            </div>

            <hr>

            <div class="user-verifications">
                <h2>Mine verifiseringer</h2>
                <ol class="user-verifications__list">
                    <li>
                        <%= link_to 'Telefonnummer', '#', class: 'user-verifications__action-link' %>
                        
                        <% if @user.phone_verified? %>
                            <%= evil_icon 'ei-check', size: :t, class: 'u-fill-green u-v-bottom' %> Verifisert
                        <% else %>
                            <%# todo: state when it's sent and waiting for pin to be entered %> 
                            <%= evil_icon 'ei-exclamation', size: :t, class: 'u-fill-red u-v-bottom' %>
                            Ikke verifisert
                            <span class="user-verifications__help-link" data-help-label-for="phone">(hvorfor?)</span>
                        <% end %>

                        <div class="user-verifications__help u-hidden" data-help-text-for="phone">
                            Vi trenger et bekreftet telefonnumer før du kan
                            leie, eller leie ut, på plendit.
                            <a href="#" target="_blank">Les mer.</a>
                        </div>
                    </li>
                    <li>
                        <%= link_to 'E-post', '#', class: 'user-verifications__action-link' %>
                        
                        <% if @user.email_verified? %>
                            <%= evil_icon 'ei-check', size: :t, class: 'u-fill-green u-v-bottom' %> Verifisert
                        <% else %>
                            <%# todo: state when it's sent and waiting for pin to be entered %> 
                            <%= evil_icon 'ei-exclamation', size: :t, class: 'u-fill-red u-v-bottom' %>
                            Ikke verifisert
                            <span class="user-verifications__help-link" data-help-label-for="email">(hvorfor?)</span>
                        <% end %>

                        <div class="user-verifications__help u-hidden" data-help-text-for="email">
                            Vi trenger en bekreftet e-postadresse før du kan
                            leie, eller leie ut, på plendit.
                            <a href="#" target="_blank">Les mer.</a>
                        </div>
                    </li>
                    <li>
                        <%= link_to 'Førerkort', '#', class: 'user-verifications__action-link' %>
                        <%= evil_icon 'ei-check', size: :t, class: 'u-fill-green u-v-bottom' %>
                        Verifisert 
                        <span class="user-verifications__help-link" data-help-label-for="drivers-permit">(hvorfor?)</span>
                        <div class="user-verifications__help u-hidden" data-help-text-for="drivers-permit">
                            Vi trenger bilde av førerkort for at du skal kunne leie motorkjøretøy.
                            <a href="#" target="_blank">Les mer.</a>
                        </div>
                    </li>
                    <li>
                        <%= link_to 'Identitetskort', '#', class: 'user-verifications__action-link' %>
                        <%= evil_icon 'ei-eye', size: :t, class: 'u-fill-brown u-v-bottom' %>
                        Til kontroll
                        <span class="user-verifications__help-link" data-help-label-for="id-card">(hvorfor?)</span>
                        <div class="user-verifications__help u-hidden" data-help-text-for="id-card">
                            Dette er påkrevet for å kunne utbetale summer over ,-20 000 i året.
                            <a href="#" target="_blank">Les mer.</a>
                        </div>
                    </li>
                    <li>
                        <%= link_to 'Båtførerbevis', '#', class: 'user-verifications__action-link' %>
                        <%= evil_icon 'ei-plus', size: :t, class: 'u-fill-gray u-v-bottom' %>
                        Ikke lastet opp <span class="user-verifications__help-link" data-help-label-for="boat-permit">(hvorfor?)</span>

                        <div class="user-verifications__help u-hidden" data-help-text-for="boat-permit">
                            Vi trenger bilde av båtførerbevis for at du skal kunne leie båt.
                            <a href="#" target="_blank">Les mer.</a>
                        </div>
                    </li>
                </ol>
            </div>

            <hr>

            <div class="user-identities">
                <h2>Mine tilkoblede identiteter</h2>
                <ol>
                    <li>
                        <%= link_to 'Facebook', '#' %>
                    </li>
                    <li>
                        <%= link_to 'Google', '#' %>
                    </li>
                    <li>
                        <%= link_to 'SPiD', '#' %>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

