<%= render partial: 'shared/personal_bar', locals: {selected: 'profil'} %>

<div class="container">
    <div class="row">
        <div class="eight columns">

            <% if @user.phone_pending_confirmation? || @user.unconfirmed_phone_number.present?  %>
                <%= render partial: 'verify_sms' %>
            <% end %>

            <%= render layout: 'gray_box', locals: {title: 'Min profil'} do %>
                <div class="biz-card">
                    <div class="biz-card__avatar">
                        <%= avatar_image current_user, :huge %>
                    </div>
                    <div class="biz-card__details">
                        <strong><%= current_user.display_name %></strong>
                        <br>
                        <%= current_user.display_email %>
                        <br>
                        Tlf: <%= current_user.phone_number.blank? ? 'Ikke registrert mobilnummer' : current_user.phone_number %>
                        <br>
                        <%= link_to 'Rediger min profil', edit_users_path %>
                        <br>
                        <%= link_to 'Gå til min offentlige profil', user_path(current_user) %>
                        <br>
                        <%= link_to 'Logg ut', destroy_user_session_path, method: :delete %>
                    </div>
                </div>
            <% end %>

            <%= render partial: 'verifications_list' %>

            <%= render partial: 'edit_identity' %>

        </div>
    </div>
</div>
