<div class="container">
    <div class="row">
        <div class="eight columns">
            <% if @user.about.present? %>
                <%= render layout: 'gray_box', locals: {title: "#{@user.display_name_posessive} profil"} do %>
                    <p class="profile-about"><%= h @user.display_about %></p>
                <% end %>
            <% end %>

            <section class="profile-self-ads-section u-push-down">
                <%= render layout: 'gray_box', locals: {title: 'Annonser', nopad: true} do %>
                    <% if @user.published_ads.empty? %>
                        <div class="profile-self-ads-section__inner">
                            <%= @user.display_name %> har ikke lagt ut noe til leie ennå.
                        </div>
                    <% else %>
                        <%= render partial: 'public_profile_ad', collection: @user.published_ads, as: :ad %>
                    <% end %>
                <% end %>
            </section>

            <section class="profile-self-ads-section u-push-down">
                <%= render layout: 'gray_box', locals: {title: 'Tilbakemeldinger', nopad: true} do %>
                    <% if @user.recent_feedback.empty? %>
                        <div class="profile-self-ads-section__inner">
                            <%= @user.display_name %> har ikke mottatt noen tilbakemeldinger ennå.
                        </div>
                    <% else %>
                        <%= render partial: 'public_profile_feedback', collection: @user.recent_feedback, as: :feedback %>
                    <% end %>
                <% end %>
            </section>
        </div>

        <div class="four columns">
            <div class="u-push-down">
                <%= render partial: 'shared/sidebar_profile_summary', locals: { user: @user } %>
                <%= render partial: 'shared/profile_quality_box', locals: { user: @user } %>
            </div>
        </div>
    </div>
</div>
