<div class="container">
    <div class="row">
        <div class="eight columns">

            <section class="profile-self-ads-section">
                <h5>Annonser</h5>
                <% if @user.ads.empty? %>
                  Brukeren har ikke lagt ut noe til leie ennå.
                <% else %>
                  <%= render partial: "shared/slim_promoted_ad", collection: @user.ads, as: :ad %>
                <% end %>
            </section>

            <section class="profile-self-ads-section">
                <h5>Tilbakemeldinger</h5>
                <% if @user.recent_feedback.empty? %>
                  Brukeren har ikke fått noen tilbakemeldinger ennå.
                <% else %>
                  <small>( <%= @user.recent_feedback.length %> av <%= @user.received_feedbacks.length %> )</small>
                  <%= render partial: "shared/feedback_item_box", collection: @user.recent_feedback, as: 'feedback' %>
                <% end %>
            </section>
        </div>

        <div class="four columns">
            <%= render partial: "shared/sidebar_profile_summary", locals: { user: @user } %>
            <%= render partial: "shared/profile_quality_box", locals: { user: @user } %>
        </div>
    </div>
</div>
