<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1><%= @user.display_name_posessive %> profil</h1>

            <section class="profile-self-ads-section u-push-down">
                <h2>Annonser</h2>
                <% if @user.published_ads.empty? %>
                  <%= @user.display_name %> har ikke lagt ut noe til leie ennå.
                <% else %>
                  <%= render partial: 'public_profile_ad', collection: @user.published_ads, as: :ad %>
                <% end %>
            </section>

            <section class="profile-self-ads-section u-push-down">
                <h2>Tilbakemeldinger</h2>
                <% if @user.recent_feedback.empty? %>
                  <%= @user.display_name %> har ikke mottatt noen tilbakemeldinger ennå.
                <% else %>
                  <%= render partial: 'public_profile_feedback', collection: @user.recent_feedback, as: :feedback %>
                <% end %>
            </section>
        </div>

        <div class="four columns">
            <div class="u-push-down">
                <%= render partial: 'shared/sidebar_profile_summary', locals: { user: @user } %>
                <%= render partial: 'shared/profile_quality_box', locals: { user: @user } %>
            </div>
        </div>
    </div>
</div>
