<div class="container">
    <div class="row">
        <div class="eight columns">

            <section class="profile-self-ads-section">
                <h5>Annonser</h5>
                <% if @user.ads.empty? %>
                  Brukeren har ikke lagt ut noe til leie ennå.
                <% else %>
                  <%= render partial: "shared/slim_promoted_ad", collection: @user.ads, as: :ad %>
                <% end %>
            </section>

            <section class="profile-self-ads-section">
                <h5>Tilbakemeldinger</h5>
                <% if @user.recent_feedback.empty? %>
                  Brukeren har ikke fått noen tilbakemeldinger ennå.
                <% else %>
                  <%= render partial: "shared/feedback_item_box", collection: @user.recent_feedback, as: 'feedback' %>
                <% end %>
            </section>
        </div>

        <div class="four columns">
            <%= render partial: "shared/profile_quality_box", locals: {} %>
        </div>
    </div>
</div>

<p id="notice"><%= notice %></p>


<!--
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Email number:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Ephemeral answer percent:</strong>
  <%= @user.ephemeral_answer_percent %>
</p>

<p>
  <strong>User Status ID:</strong>
  <%= @user.user_status_id %> - <%= @user.user_status.status %>
</p>
-->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
