<%= render partial: 'shared/personal_bar', locals: { selected: 'Profil' } %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>Båtførerbevis</h1>

            <%= render partial: 'privacy_box' %>


            <% if current_user.boat_rental_allowed? %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Du kan leie båt.
                </p>

            <% elsif current_user.boat_license_status == :pending %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Båtførerbeviset ditt er lastet opp og sendt til kontroll.
                    Du får en melding fra oss når det er godkjent.
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% else %>

                <p>
                    For at du skal kunne leie en båt, trenger vi en egenerklæring
                    på at du kan føre båt. Hvis du er født etter 1. januar 1980
                    må du også ha et gyldig båtførerbevis, og laste opp et bilde
                    av dette.
                </p>
                <p>
                    <%= link_to 'Les mer om reglene på lovdata', 'https://lovdata.no/artikkel/skal_du_kjore_bat_i_sommer/73' %>,
                </p>


                <% @errors.each do |e| %>
                    <p><%= e %></p>
                <% end %>

                <%= form_for '', html: { multipart: true } do |f| %>
                    <%= f.label :seaworthy, 'Egenerklæring' %>
                    <%= f.check_box :seaworthy %>

                    <br>

                    <% if current_user.boat_license_required? %>
                        <%= f.label :image, 'Last opp bilde av båtførerbeviset ditt her:' %>
                        
                        <%= f.file_field :image %>
                    <% end %>
                    
                    <% if current_user.boat_license_required? %>
                        <%= f.submit 'Last opp', class: 'button button-primary' %>
                    <% else %>
                        <%= f.submit 'Bekreft', class: 'button button-primary' %>
                    <% end %>
                <% end %>

            <% end %>
        </div>
    </div>
</div>