<%= render partial: 'shared/personal_bar', locals: { selected: 'Profil' } %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>Identitetsbevis</h1>

            <% if current_user.id_card_status == :missing %>
                <p>
                    For å kunne overføre summer over 2500 euro må vi
                    ha et gyldig identitetsbevis fra deg.
                </p>

                <p>
                    Merk, hvis du har et førerkort kan du
                    <%= link_to 'laste det opp her.', verify_drivers_license_users_path %>
                    Førerkort er et gyldig identitetsbevis.
                </p>

                <%= render partial: 'privacy_box' %>

                <%= form_for '', html: { multipart: true } do |f| %>
                    <%= f.label :image, 'Last opp bilde av identitetsbevis her:' %>
                    
                    <%= f.file_field :image %>
                    <br>
                    <%= f.submit 'Last opp', class: 'button button-primary' %>
                <% end %>
            <% elsif current_user.id_card_status == :pending %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Identitetsbeviset ditt er lastet opp og sendt til kontroll.
                    Du får en melding når det er godkjent.
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% elsif current_user.id_card_status == :verified %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Identitetsbeviset ditt er allerede godkjent!
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% else %>
                Unknown state
            <% end %>
        </div>
    </div>
</div>


