<%= render partial: "shared/personal_bar", locals: { selected: :profile } %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>Førerkort</h1>

            <% if current_user.drivers_license_status == :missing || current_user.drivers_license_status == :rejected %>
                <p>
                    For at du skal kunne leie en bil, trenger vi at du laster
                    opp bilder av forsiden og baksiden av førerkortet ditt.
                </p>

                <% if !current_user.drivers_license_rejection_reason.blank? %>
                    <p>
                        Du lastet opp et førerkort som ble avvist.
                        Årsaken var: <%= current_user.drivers_license_rejection_reason %>. 
                    </p>
                <% end %>

                <p>Last opp bilder av førerkortet ditt her:</p>

                <%= form_for '', html: { multipart: true } do |f| %>
                    Forside: <%= f.file_field 'front' %>
                    <br>
                    Bakside: <%= f.file_field 'back' %>
                    <br>
                    <%= f.submit 'Last opp', class: 'button button-primary' %>
                <% end %>
            <% elsif current_user.drivers_license_status == :pending %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Førerkortet ditt er lastet opp og sendt til kontroll.
                    Du får en melding fra oss når det er godkjent.
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% elsif current_user.drivers_license_status == :verified %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Førerkortet ditt er allerede godkjent!
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% else %>
                Unknown state: <%= current_user.drivers_license_status %>
            <% end %>

            <%= render partial: 'privacy_box' %>

        </div>
    </div>
</div>
