<%= render partial: 'shared/personal_bar', locals: { selected: 'Profil' } %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>Båtførerbevis</h1>

            <% if current_user.boat_license_status == :missing %>
                <p>
                    For at du skal kunne leie en båt, må du laste opp et bilde av båtførerbeviset ditt.
                </p>

                <%= render partial: 'privacy_box' %>
                
                <%= form_for '', html: { multipart: true } do |f| %>
                    <%= f.label :image, 'Last opp bilde av båtførerbevis her:' %>
                    
                    <%= f.file_field :image %>
                    <br>
                    <%= f.submit 'Last opp', class: 'button button-primary' %>
                <% end %>
            <% elsif current_user.boat_license_status == :pending %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Båtførerbeviset ditt er lastet opp og sendt til kontroll.
                    Du får en melding fra oss når det er godkjent.
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% elsif current_user.boat_license_status == :verified %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Båtførerbevis ditt er allerede godkjent!
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% else %>
                Unknown state
            <% end %>
        </div>
    </div>
</div>


