<%= render partial: 'shared/personal_bar', locals: { selected: 'Profil' } %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>ID KOERT!</h1>

            <% if current_user.drivers_license_status == :missing %>
                <p>
                    For at du skal kunne leie en bil trenger vi at du laster
                    opp bilder av forsiden og baksiden av førerkortet ditt.
                </p>

                <p>
                    Du kan lese mer om krav til dokumentasjon og hvordan
                    plendit behandler personlige dokumenter
                    <%= link_to 'på kundesenteret', '#' %>.
                </p>

                <p>Last opp bilder av førerkort her:</p>

                 <%= form_for '', html: { multipart: true } do |f| %>
                    Forside: <%= f.file_field 'front' %>
                    <br>
                    Bakside: <%= f.file_field 'back' %>
                    <br>
                    <%= f.submit 'Last opp', class: 'button button-primary' %>
                <% end %>
            <% elsif current_user.drivers_license_status == :pending %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Førerkortet ditt er lastet opp og sendt til kontroll.
                    Du får en melding når det er godkjent.
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% elsif current_user.drivers_license_status == :verified %>
                <p>
                    <%= plendbot_avatar :huge, class: 'u-pull-left' %>
                    Førerkortet ditt er allerede godkjent!
                </p>
                <p>
                    <%= link_to 'Tilbake til min profil', users_path %>
                </p>
            <% else %>
                Unknown state
            <% end %>
        </div>
    </div>
</div>


