<div class="row feedback-item-box">
    <div class="three columns feedback-item-box__avatar-box">
        <%= render('shared/avatar.html', user: feedback.from_user, size: "medium" ) %>
        <p><%= link_to feedback.from_user.name, user_path(feedback.from_user.id) %></p>
    </div>
    <div class="nine columns feedback-item-box__body">
        <%= render('shared/stars.html', rating: feedback.user.calculate_average_rating ) %>
        <%= feedback.updated_at.to_formatted_s(:plendit_short_date)  %>
        på <%= link_to feedback.ad.title, ad_path(feedback.ad) %>
       <p class="feedback-item-box__body">
            <%= feedback.body %>
       </p>
    </div>
</div>