<div class="image-manager__item row">
    <div class="three columns image-manager__thumb-box">
        <%= image_tag ad_image.image.url(:thumb), class: 'image-manager__thumb' %>
    </div>
    <div class="nine columns image-manager__controls">
        <%= form_for(ad_image, url: ad_image_path(ad_image),  data: {controller: 'imageDescriptionAutoSaver'}) do |f| %>
            <%= f.text_area :description, placeholder: 'Bildetekst', class: 'u-full-width' %>
            <%= f.hidden_field :previous_url, value: request.fullpath %>
            <%#= f.submit 'Lagre bildetekst' %>
        <% end %>

 
        <% if ad_image_counter != 0 %>
            <%= button_to 'hovedbilde', make_primary_ad_image_path(ad_image), class: 'button image-manager__button', form_class: 'u-inline' %>
        <% end %>

        <%= button_to 'Slett', ad_image_path(ad_image), method: :delete, params: {previous_url: request.fullpath}, class: 'button image-manager__button', form_class: 'u-inline' %>

    </div>
    <hr>
</div>