<div class="profile-quality-box">

<!-- <%# These are not present in the initial release of plendit: %>
    <table class="profile-quality-box__table">
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= icon 'calendar', class: 'fa-lg profile-quality-box__icon' %>
                Svartid:
            </th>
            <td class="profile-quality-box__td">
                ukjent
            </td>
        </tr>
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= icon 'comment-o', class: 'fa-lg profile-quality-box__icon' %>
                Svarprosent:
            </th>
            <td class="profile-quality-box__td">
                ukjent
            </td>
        </tr>
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= icon 'clock-o', class: 'fa-lg profile-quality-box__icon' %>
                Sist sett:
            </th>
            <td class="profile-quality-box__td">
                ukjent
            </td>
        </tr>
    </table>
 -->

    <div>
        <ol class="profile-quality-box__verifications-list">
            <% if user.bankid_verified? %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>BankID verifisert</span>
                </li>
            <% end %>

            <% if user.has_confirmed_id? %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>ID-kort</span>
                </li>
            <% end %>

            <% if user.boat_license_status == :verified %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>Båtførerbevis</span>
                </li>
            <% end %>

            <% if user.drivers_license_status == :verified %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>Førerkort</span>
                </li>
            <% end %>

            <% if user.email_verified? %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>E-postadresse</span>
                </li>
            <% end %>

            <% if user.phone_verified? %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>Mobilnummer</span>
                </li>
            <% end %>

            <% if user.identities.find_by(provider:'facebook').present? %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>Facebook</span>
                </li>
            <% end %>

            <% if user.identities.find_by(provider:'google').present? %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>Google</span>
                </li>
            <% end %>

            <% if user.identities.find_by(provider:'spid').present? %>
                <li>
                    <%= icon 'check', class: 'fa-lg profile-quality-box__icon' %>
                    <span>SPiD</span>
                </li>
            <% end %>

        </ol>
    </div>

</div>