<div class="profile-quality-box">

    <table class="profile-quality-box__table">
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= evil_icon 'ei-calendar', size: 'small', class: 'profile-quality-box__icon' %>
                Svartid:
            </th>
            <td class="profile-quality-box__td">
                ukjent
            </td>
        </tr>
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= evil_icon 'ei-comment', size: 'small', class: 'profile-quality-box__icon' %>
                Svarprosent:
            </th>
            <td class="profile-quality-box__td">
                ukjent
            </td>
        </tr>
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= evil_icon 'ei-clock', size: 'small', class: 'profile-quality-box__icon' %>
                Sist sett:
            </th>
            <td class="profile-quality-box__td">
                ukjent
            </td>
        </tr>
    </table>

    <div>
        <ol class="profile-quality-box__verifications-list">
            <li>
                <% if user.email_verified? %>
                    <%= evil_icon 'ei-check', size: 'small', class: 'u-fill-green profile-quality-box__icon' %>
                    <span>e-postadresse (verifisert)</span>
                <% else %>
                    <%= evil_icon 'ei-minus', size: 'small', class: 'u-fill-brown profile-quality-box__icon' %>
                    <span>e-postadresse (ikke verifisert)</span>
                <% end %>
            </li>

            <li>
                <% if user.phone_verified? %>
                    <%= evil_icon 'ei-check', size: 'small', class: 'u-fill-green profile-quality-box__icon' %>
                    <span>telefonnummer (verifisert)</span>
                <% else %>
                    <%= evil_icon 'ei-minus', size: 'small', class: 'u-fill-brown profile-quality-box__icon' %>
                    <span>telefonnummer (ikke verifisert)</span>
                <% end %>
            </li>
        </ol>
    </div>

</div>
