<div class="slim-promoted-ad">
    <%= link_to image_tag( ad.image_url_with_fallback(:thumb), alt: "username", class: "slim-promoted-ad__image"), ad %>

    <h6 class="slim-promoted-ad__title"><%= link_to ad.title, ad %></h6>

    <p class="slim-promoted-ad__body">
        <%= ad.summary %>
    </p>

    <%= form_for( FavoriteAd.new ) do |f| %>

        <%= f.hidden_field :ad_id, value: ad.id.to_s %>
        <%= f.hidden_field :previous_url, value: request.fullpath %>
        <% if ad.is_favorite_of(current_user) %>
            <%= f.button class: "slim-promoted-ad__button" do %>
                <%= image_tag("add_favorite_small.png", size: "15x14", alt: "", class: "slim-promoted-ad__fav-button-image") %>
                Fjern fra favoritter
            <% end %>
        <% else %>
            <%= f.button class: "slim-promoted-ad__button" do %>
                <%= image_tag("add_favorite_small.png", size: "15x14", alt: "", class: "slim-promoted-ad__fav-button-image") %>
                Legg til i favoritter
            <% end %>
        <% end %>
    <% end %>

    <div class="slim-promoted-ad__price-floater">
        <%= ad.price %>,-
        <small>per&nbsp;dag</small>
    </div>
</div>
