<table>
  <tr>
    <td>Din plendit utbetalingskonto saldo</td>
    <td><%= format_monetary_full @financial_transaction_payout[:amount] %></td>
  </tr>

  <%- if current_user.user_payment_account.present? &&
    ( @financial_transaction_payout[:amount] > 0 ) &&
    ( @financial_transaction_payout[:amount] > @financial_transaction_payout[:fees] )
  -%>
    <tr>
      <td>Bankgebyr</td>
      <td><%= format_monetary_full @financial_transaction_payout[:fees] %></td>
    </tr>
    <tr>
      <td>
          Blir overført til kontornr <%= current_user.user_payment_account.pretty_bank_account_number %>
      </td>
      <%# FIXME: can be negative if transaction_payout is zero: %>
      <td><%= format_monetary_full( @financial_transaction_payout[:amount] - @financial_transaction_payout[:fees] ) %></td>
    </tr>
  <%- end -%>

</table>


<% if current_user.user_payment_account.nil? %>
 Du må legge inn bankkonto før du kan overføre penger.
<% elsif @financial_transaction_payout[:amount] == 0 %>
 Du trenger penger på din utbetalingskonto før du kan overføre.
<% elsif @financial_transaction_payout[:amount] < @financial_transaction_payout[:fees] %>
  Du må ha minst <%= format_monetary_full @financial_transaction_payout[:fees] %> på din utbetalingskonto før du kan overføre penger til din bankkonto.
<% end %>