<%= render layout: "gray_box", locals: {title: "Legg til kredittkort", id: "credit-card"} do %>
    <div data-controller="cardInputter"
         data-card-registration-url="<%= @user_payment_card[:card_registration_url] %>"
         data-card-preregistration-data="<%= @user_payment_card[:preregistration_data] %>"
         data-card-access-key="<%= @user_payment_card[:access_key] %>"
         data-card-vid="<%= @user_payment_card[:card_vid] %>"
         data-card-client-id="<%= MangoPay.configuration.client_id %>"
         class="card-input">

        <div class="card-input__card-holder">
            <div data-card-holder></div>
        </div>

        <form>
            <%- if not Rails.env.production? -%>
              <p>
                <strong>
                  TEST ENVIRONMENT. DO NOT USE REAL CARD NUMBERS!! <br>
                  Only use numbers listed in the <%= link_to 'mangopay documentation', 'https://docs.mangopay.com/api-references/test-payment/' %>.
                    Mangopay test visa car num: <code>4970100000000154</code>. csc: <code>123</code>.
                </strong>
              </p>
            <%- end -%>

            <div class="row">
                <div class="twelve columns">
                    <label for="number">Kortnummer:</label>
                    <input class="u-full-width" name="number" id="number" type="text">
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <label for="name">Fullt navn:</label>
                    <input class="u-full-width" name="name" id="name" type="text">
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="expiry">Utløpsdato:</label>
                    <input class="u-full-width" name="expiry" placeholder="<%= 1.year.from_now.strftime('%m/%y') %>" id="expiry" type="text">
                </div>
                <div class="six columns">
                    <label for="cvc">Kontrollnummer:</label>
                    <input class="u-full-width" name="cvc" placeholder="123" id="cvc" type="text">
                </div>
            </div>

            <div class="row">
                <button type="submit" data-save-card class="u-pull-right button button-primary">Lagre kort</button>
                <%= icon 'spinner', class: 'fa-2x fa-pulse u-fill-blue u-pull-right u-hidden data-spinner', data: {spinner: ''} %>
            </div>

            <div class="row">
                <div data-error class="u-hidden">
                Noe gikk feil når vi prøvde å registrere kortet ditt!
                Feilmeldingen var <code></code>.
                </div>
            </div>

            <%= image_tag "logos/mangopay_powered_590x53.png", alt: "Powered by MangoPay", class: "", size: "270x26" %>
        </form>

        <%= form_for UserPaymentCard.new, data: { card_form: "" } do |f| %>
            <%= f.hidden_field :card_vid, value: @user_payment_card[:card_vid] %>
            <input type="hidden" name="user_payment_card[registration_data]" data-reg-data>
        <% end %>

    </div>

<% end %>

