
<%= render layout: "gray_box", locals: {title: "Legg til kredittkort", id: "credit-card"} do %>

    <!--
        If credit card registered, button for delete
    -->


    <div data-controller="cardInputter">
        <div data-card-holder></div>
        <%= form_for @user_payment_card, url: ( @user_payment_card.card_registration_url || "#"),:html => {:class => 'u-push-down'} do |f| %>

<!-- BEGIN: do we really want these error messages here? -->
            <% if @user_payment_card.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user_payment_card.errors.count, "error") %> prohibited this user_payment_card from being saved:</h2>
                <ul>
                <% @user_payment_card.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
<!-- END: do we really want these error messages here? -->

            <%- if not Rails.env.production? -%>
              <p>
                <strong>
                  TEST ENVIRONMENT. DO NOT USE REAL CARD NUMBERS!! <br>
                  Only use numbers listed in the <%= link_to 'mangopay documentation', 'https://docs.mangopay.com/api-references/test-payment/' %>.
                </strong>
              </p>
            <%- end -%>

            <%= hidden_field_tag( :preregistrationData, @user_payment_card.preregistration_data ) %>
            <%= hidden_field_tag( :accessKeyRef,        @user_payment_card.access_key ) %>
<!--
<script>
    var cardRegistrationURL = "<%= ( @user_payment_card.card_registration_url || "#") %>";
    var preregistrationData = "<%= @user_payment_card.preregistration_data %>";
    var accessKey           = "<%= @user_payment_card.access_key %>";
    var ajaxUrl             = "<%#= user_payment_card_path %>"; //<?php print $returnUrl; ?>";
    var redirectUrl         = "<%#= user_payment_card_path %>"; //"<?php print $returnUrl; ?>";
</script>
 -->
<!--
            <input type="hidden" name="data" value="">
            <input type="hidden" name="accessKeyRef" value="">
 -->
 <!-- FIXME: card.js doesnt work unless the field names are the same as the ID -->
            <div class="row">
                <div class="twelve columns">
                    <label for="number">Kortnummer:</label>
                    <input class="u-full-width" name="number" id="number" type="text">
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label for="name">Fullt navn:</label>
                    <input class="u-full-width" name="name" id="name" type="text">
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="expiry">Utløpsdato:</label>
                    <input class="u-full-width" name="expiry" placeholder="04/16" id="expiry" type="text">
                </div>
                <div class="six columns">
                    <label for="cvc">Kontrollnummer:</label>
                    <input class="u-full-width" name="cvc" placeholder="123" id="cvc" type="text">
                </div>
            </div>
            <div class="row">
                <button type="submit" data-save-card class="u-pull-right button button-primary">Lagre kort</button>
                <%= evil_icon 'ei-spinner-2', size: 'm', class: 'u-fill-green u-pull-right u-hidden' %>
            </div>
        <% end %>
        <%= image_tag "logos/mangopay_powered_590x53.png", alt: "Powered by MangoPay", class: "", size: "270x26" %>
    </div>

<% end %>

