<%= render layout: 'gray_box', locals: {title: 'Legg til kredittkort', id: 'credit-card'} do %>
    <div data-controller="cardInputter"
         data-card-registration-url="<%= @user_payment_card[:card_registration_url] %>"
         data-card-preregistration-data="<%= @user_payment_card[:preregistration_data] %>"
         data-card-access-key="<%= @user_payment_card[:access_key] %>"
         data-card-registration-id="<%= @user_payment_card[:card_registration_id] %>"
         data-card-client-id="<%= MangoPay.configuration.client_id %>"
         data-mangopay-base-url="<%= MANGOPAY_API_BASE_URL %>"
         class="card-input">

        <div class="card-input__card-holder">
            <div data-card-holder></div>
        </div>

        <form>
            <%- unless Rails.env.production? -%>
              <p>
                <strong>
                  TEST ENVIRONMENT. DO NOT USE REAL CARD NUMBERS!! <br>
                  Only use numbers listed in the
                  <%= link_to 'mangopay documentation', 'https://docs.mangopay.com/api-references/test-payment/' %>.
                  
                  Mangopay test visa card:
                  <dl>
                    <dt>Card number:</dt>
                    <dd><code>3569990000000140</code></dd>

                    <dt>CSC:</dt>
                    <dd><code>123</code></dd>

                    <dt>Password:</dt>
                    <dd><code>secret3</code></dd>
                </dl>

                </strong>
              </p>
            <%- end -%>

            <div class="row">
                <div class="twelve columns">
                    <label for="number">Kortnummer:</label>
                    <input class="u-full-width" name="number" id="number" type="tel">
                </div>
            </div>

            <%# FIXME/Note/Reminder: Should we have this at all? %>
            <div class="row">
                <div class="twelve columns">
                    <label for="name">Fullt navn:</label>
                    <input class="u-full-width" name="name" id="name" type="text">
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="expiry">Utløpsdato:</label>
                    <input class="u-full-width" name="expiry" placeholder="<%= 1.year.from_now.strftime('%m/%y') %>" id="expiry" type="tel">
                </div>
                <div class="six columns">
                    <label for="cvc">Kontrollnummer:</label>
                    <input class="u-full-width" name="cvc" placeholder="123" id="cvc" type="tel">
                </div>
            </div>

            <div class="row">
                <button type="submit" data-save-card class="u-pull-right button button-primary">Lagre kort</button>
                <%= icon 'spinner', class: 'fa-2x fa-pulse u-fill-blue u-pull-right u-hidden data-spinner', data: {spinner: ''} %>
            </div>

            <div class="row">
                <div data-error class="u-hidden">
                Noe gikk feil når vi prøvde å registrere kortet ditt!
                Feilmeldingen var <code></code>.
                </div>
            </div>

            <%= image_tag 'logos/mangopay_powered_590x53.png', alt: 'Powered by MangoPay', class: '', size: '270x26' %>
        </form>

        <%= form_for UserPaymentCard.new, data: { card_form: '' } do |f| %>
            <%= f.hidden_field :card_vid, data: {reg_id: ''} %>
            <%= f.hidden_field :registration_data, data: {reg_data: ''} %>
        <% end %>

    </div>

<% end %>