<li class="locations-list__item">
    <span class="locations-list__star-holder">
        <% if user_payment_card.favorite %>
            <%= icon 'heart', class: 'fa-lg u-fill-blue' %>
        <% else %>
            <%# FIXME: kidnapping style from locations. that is wrong in a lot of levels %>
            <%= button_to make_favorite_user_payment_card_path( user_payment_card ), class: 'locations-list__star-button', form_class: 'u-inline' do %>
                <%= icon 'heart-o', class: 'fa-lg' %>
            <% end %>
        <% end %>
    </span>

    <%= payment_card_icon user_payment_card.card_provider %>
    <span class="payment-card-item__card-id">
        <%= user_payment_card.pretty_number_alias %>.
    </span>
    Utløper&nbsp;<%= user_payment_card.pretty_expiration_date %>
    <%= icon user_payment_card.decorate.validity_icon_name, class: 'fa-lg' unless user_payment_card.card_valid? %>
    <%= button_to 'Slett', user_payment_card, method: :delete,
            class: 'button u-pull-right',
            form_class: 'u-inline',
            data: { confirm: 'Er du sikker på at du vil slette kredittkortet?' } %>

</li>