
<tr>
  <td><%= user_payment_card.number_alias %></td>
  <td><%= user_payment_card.expiration_date %></td>
  <td><%= user_payment_card.validity %></td>
  <td><%= user_payment_card.active %></td>
  <td><%= link_to 'Destroy', user_payment_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>