<%= form_for(@ad_item) do |f| %>
  <% if @ad_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_item.errors.count, "error") %> prohibited this ad_item from being saved:</h2>

      <ul>
      <% @ad_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ad_id %><br>
    <%= f.number_field :ad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
