<p id="notice"><%= notice %></p>

<h1>Listing Ad Items</h1>

<table>
  <thead>
    <tr>
      <th>Ad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_items.each do |ad_item| %>
      <tr>
        <td><%= ad_item.ad_id %></td>
        <td><%= link_to 'Show', ad_item %></td>
        <td><%= link_to 'Edit', edit_ad_item_path(ad_item) %></td>
        <td><%= link_to 'Destroy', ad_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad item', new_ad_item_path %>
