<p id="notice"><%= notice %></p>

<h1>Listing Profile Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_statuses.each do |profile_status| %>
      <tr>
        <td><%= profile_status.status %></td>
        <td><%= link_to 'Show', profile_status %></td>
        <td><%= link_to 'Edit', edit_profile_status_path(profile_status) %></td>
        <td><%= link_to 'Destroy', profile_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile status', new_profile_status_path %>
