<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h1>Frontpage ads</h1>

            <h2>Current ads</h2>
            <% if @current_ad_ids.empty? %>
                No current frontpage ads set.
            <% else %>
                <ul>
                    <% @current_ad_ids.zip(@current_ads.each) do |id, ad| %>
                        <li>
                            <% if ad.nil? %>
                                <%= id %>: Annonsen finnes ikke eller er ikke offentlig!
                            <% else %>
                                <%= id %>: <%= ad.title %>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            <% end %>

            <hr>

            <h2>New ads</h2>

            <%= form_tag do %>
                <%= label_tag :new_ad_ids, 'New ad IDs:' %>
                <%= text_field_tag :new_ad_ids, @new_ad_ids.join(',') %>
                <%= submit_tag 'Finn annonser', class: 'button' %>
            <% end %>

            <% unless @new_ads.empty? %>
                <ol>
                    <% @new_ads.each do |ad| %>
                        <li>
                            <% if ad.nil? %>
                                Annonsen finnes ikke eller er ikke offentlig!
                            <% else %>
                                <%= link_to ad.title, ad_path(ad) %>
                            <% end %>
                        </li>
                    <% end %>
                </ol>

                <%= form_tag save_frontpage_ads_path, method: :post do %>
                    <%= hidden_field_tag :ad_ids, @new_ad_ids.join(',') %>
                    <%= submit_tag 'Save', class: 'button button-primary', disabled: !@new_ads_ok %>
                <% end %>
                <% unless @new_ads_ok %>
                    <p>At least 6 published ads are required</p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>