<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h1>Backstage</h1>

            <table>
                <tr>
                    <th>Environment:</th>
                    <td><%= Rails.env %></td>
                </tr>
                <tr>
                    <th>Request host:</th>
                    <td><%= request.host %></td>
                </tr>
                <tr>
                    <th><%= link_to 'Ads pending review:', pending_ad_reviews_path %></th>
                    <td><%= @pending_ads_cnt %></td>
                </tr>
                <tr>
                    <th><%= link_to 'KYC docs pending review:', pending_kyc_reviews_path %></th>
                    <td><%= @pending_kyc_cnt %></td>
                </tr>
            </table>

            <hr>

            <ul>
                <li><%= link_to 'ActiveAdmin', admin_root_path %> - Go to model admin UI</li>
                <li><%= link_to 'Health check', ok_computer_path %> - Service health</li>
                <li><%= link_to 'Resque overview', resque_web_path %> - Service health</li>
                <li><%= link_to 'Broadcast', broadcast_path %> - Change broadcast message</li>
                <li><%= link_to 'Pending ads', pending_ad_reviews_path %> - Review submitted ads</li>
                <li><%= link_to 'Pending KYC', pending_kyc_reviews_path %> - Review submitted documents</li>
            </ul>

        </div>
    </div>
</div>