<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h1>User document verification</h1>

            <div class="u-push-down">
                <% 
                    d = @user_document
                    u = @user_document.user
                %>

                <div>
                    <%= avatar_image u, :huge %>
                </div>

                <div>
                    Navn: <%= u.display_full_name %>
                </div>

                <div>
                    Adresse: <%= "#{u.home_address_line}. #{u.home_post_code} #{u.home_city}" %>
                </div>

                <div>
                    Fødselsdato: <%= u.birthday.to_s %>
                </div>
                <hr>
                <%= form_for @user_document, url: {controller: 'backstage', action: 'kyc_document'} do |f| %>
                    <div>Category: <%= d.display_category %></div>
                    <br>
                    <%= image_tag kyc_image_path(@user_document), class: 'u-full-width' %>
                    <%= link_to 'Show full image', kyc_image_path(@user_document), target: '_blank' %>
                    <br>
                    <%= f.label :expires_at, 'Expires at:' %> <%= f.date_select :expires_at, end_year: 2050, include_blank: true %>
                    <br>
                    <%= f.label :rejection_reason, 'Rejection reason:' %> <%= f.text_field :rejection_reason %>
                    <br>
                    <%= f.submit 'Approve', value: 'approve', class: 'button' %>
                    <%= f.submit 'Reject', value: 'reject', class: 'button' %>
                <% end %>
            </div>
            <%= link_to 'Back to KYC documents', pending_kyc_reviews_path %>
            <br>
            <%= link_to 'Back to backstage', backstage_path %>
        </div>
    </div>
</div>