<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h1>User document verification</h1>

            <div class="u-push-down">
                <%
                    d = @user_document
                    u = @user_document.user
                %>

                <div>
                    <%= image_tag kyc_image_path(@user_document), class: 'u-full-width' %>
                    <%= link_to 'Show full image', kyc_image_path(@user_document), target: '_blank' %>
                </div>

                <div>
                    <%= avatar_image u, :huge %>
                </div>

                <div>
                    Offentlig Navn: <%= u.public_name %>
                </div>

                <div>
                    Navn (display_full_name): <%= u.display_full_name %>
                </div>

                <div>
                    Navn (name): <%= u.name %>
                </div>

                <div>
                    Adresse: <%= "#{u.home_address_line}. #{u.home_post_code} #{u.home_city}" %>
                </div>

                <div>
                    Fødselsdato: <%= u.birthday.to_s %>
                </div>

                <div>
                    Document status: <%= d.status %>
                </div>

                <div>
                    User verification level: <%= u.verification_level %> (<%= User.verification_levels[u.verification_level] %>)
                </div>

                <%- if @user_document.errors.any? -%>
                  <hr>
                  <div>
                      Følgende feil forhindret deg i å oppdatere KYC info:
                      <ul>
                        <% @user_document.errors.each do |attribute,message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                  </div>
                <%- end -%>

                <hr>
                <%= form_for @user_document, url: {controller: 'backstage', action: 'kyc_document'} do |f| %>
                    <div>Category: <%= d.display_category %></div>
                    <br>
                    <%= f.label :expires_at, 'Expires at:' %>
                    <%= f.date_select :expires_at, end_year: 100.years.from_now.year, include_blank: true %>
                    <br>
                    <%= f.label :rejection_reason, 'Rejection reason:' %>
                    <%= f.text_field :rejection_reason %>
                    <br>
                    <strong>Mandatory fields! Need to be checked externally that they match with the name.</strong>
                    <%= f.fields_for :user do |u| %>
                        <%= u.label :first_name, 'First Name:' %>
                        <%= u.text_field :first_name %>
                        <br>
                        <%= u.label :last_name, 'Last Name:' %>
                        <%= u.text_field :last_name %>
                        <br>
                        <%= u.label :personal_id_number, 'Personal ID number (personnummer):' %>
                        <%= u.text_field :personal_id_number, size: 20, maxlength: 11 %>
                        <br>
                        <%= u.label :birthday, 'Birthday:' %>
                        <%= u.date_select :birthday, start_year: 110.years.ago.year, include_blank: true %>
                        <br>
                        <%= u.label :verification_level, 'Verification Level:' %>
                        <%= u.select :verification_level, User.verification_levels.keys.to_a %>
                        <br>
                    <% end %>
                    <%= f.submit 'Approve', value: 'approve', class: 'button' %>
                    <%= f.submit 'Reject', value: 'reject', class: 'button' %>
                <% end %>
            </div>
            <%= link_to 'Back to KYC documents', pending_kyc_reviews_path %>
            <br>
            <%= link_to 'Back to backstage', backstage_path %>
        </div>
    </div>
</div>