<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h1>Pending reviews</h1>

            <div class="u-push-down">
                <ul>
                    <% @ads.order(updated_at: :asc).each do |ad| %>
                        <li>
                            <%= link_to ad.title, ad %> (<strong><%= ad.category %></strong>) - <%= time_ago_in_words(ad.updated_at) %> siden.
                            <% if ad.motor? %>
                                slå opp på vegvesen <%= link_to "regnr #{ad.registration_number}","#{Plendit::Application.config.x.ads.motor_vegvesen_baseurl}#{ad.registration_number}", target: :_blank  %>.
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>

            <%= link_to 'Back to backstage', backstage_path %>

        </div>
    </div>
</div>