<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h1>Annonsetilgjengelighet</h1>

            <p>
                Her kan du legge til og slette perioder hvor
                det ikke vil være mulig å bestille
                <%= link_to @ad.title, @ad %>.
            </p>

            <h2>Utilgjengelige perioder</h2>

            <strong>todo: unavaliabilities scope for stuff ended in the past </strong>
            <% if @ad.unavailabilities.empty? %>
                <p>Ingen perioder er satt utilgjengelige</p>
            <% else %>
                <% @ad.unavailabilities.each do |u| %>

                <% end %>
            <% end %>


            <h2>Ny utilgjengelig periode</h2>

            <%= form_for :unavailability do |f| %>

                <label>Fra og med dato:</label>
                <%= f.date_select :from_date %>

                <label>Til og med dato:</label>
                <%= f.date_select :to_date %>

                <br>
                <%= f.submit 'Legg til' %>

            <% end %>

        </div>
    </div>
</div>
