<%= form_for(@ad_image, :html => { :multipart => true }) do |f| %>
  <% if @ad_image.errors.any? %>
    <div id="error_explanation">
      <%# TRANSLATEME ? %>
      <h2><%= pluralize(@ad_image.errors.count, "error") %> prohibited this ad_image from being saved:</h2>

      <ul>
      <% @ad_image.errors.each do |attribute,message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ad_id %><br>
    <%= f.number_field :ad_id %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
