<div class="dropzone-box" data-controller="dropzone" 
        data-image-path="<%=  ad_images_path(:ad_id => params[:ad_id], :format => :json) %>">
    <script type="text/template" data-dropzone-template>
        <div class="dropzone-box__item row">
            <div class="three columns dropzone-box__thumb-col">
                <img class="dropzone-box__thumbnail" data-dz-thumbnail>
            </div>
            <div class="nine columns">
                <span data-dz-name></span>
                <button type="button" data-dz-remove >Slett</button
                <span>✔</span>
                <span>✘</span>

                <span class="dropzone__upload" data-dz-uploadprogress></span>
                <span data-dz-errormessage>
            </div>
        </div>
    </script>

    <%= form_for(AdImage.new, html: { multipart: true }) do |f|  %>
        <%= f.hidden_field(:weight, { :value => 10 }) %>
        <div class="dropzone-box__drop-target dz-message">
            <%= image_tag("camera_icon.png", size: "57x47", alt: "") %>
            <p>Dra bilder hit, eller klikk her, for å laste opp bilder</p>
        </div>
    <% end %>

    <hr>

    <div class="dropzone-box__preview-container dropzone-previews" data-dropzone-preview></div>

</div>

<div class="next-step-holder">
<%= link_to "rediger annonse", (edit_users_ad_path @ad_id) %>
<%= link_to "vis annonse", (ad_path @ad_id) %>
</div>
