<h1>Listing Ad Images</h1>

<table>
  <thead>
    <tr>
      <th>Ad id</th>
      <th>Weight</th>
      <th>Thumbnail</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_images.each do |ad_image| %>
      <tr>
        <td><%= ad_image.ad_id %></td>
        <td><%= ad_image.weight %></td>
        <td><%= image_tag ad_image.image.url(:thumb) %></td>
        <td><%= ad_image.description %></td>
        <td><%= link_to 'Show', ad_image %></td>
        <td><%= link_to 'Edit', edit_ad_image_path(ad_image) %></td>
        <td><%= link_to 'Destroy', ad_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad image', new_ad_image_path %>
