<p>
  <strong>AdImage id:</strong>
  <%= @ad_image.id %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @ad_image.ad_id %>
</p>

<p>
  <strong>Ad Image:</strong>
  <%= image_tag @ad_image.image.url( :thumb ) %>
  <%= image_tag @ad_image.image.url( :medium ) %>
  <%= image_tag @ad_image.image.url( :mediumplus ) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad_image.description %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @ad_image.weight %>
</p>

<%= link_to 'Edit', edit_ad_image_path(@ad_image) %> |
<%= link_to 'Back', ad_images_path %>
