<div class="feedback_item_box">
    <%= feedback.from_profile.name %><br>
    <%= feedback.body %><br>
    <%= feedback.score %><br>
    <%= feedback.updated_at %><br>
    <%= feedback.ad.title %><br>
<br><br>
</div>