<%
    topics = Rails.configuration.x.frontpage.popular_ads
    topics = topics.map { |t|
        t[:style] = "background-image: url(#{image_path(t[:image])});"
        t
    }
%>

<div class="container">
    <div class="row">
        <div class="twelve columns front-popular-box">
            <div class="front-popular-box">
                <h2 class="front-popular-box__title">Populære kategorier</h2>
                <div class="front-popular-box__row1">
                    <div class="front-popular-box__bgimg" style="<%= topics[0][:style] %>">
                        <%= link_to topics[0][:title], (search_path q: topics[0][:term]), class: "front-popular-box__link" %>
                    </div>
                    <div class="front-popular-box__bgimg" style="<%= topics[1][:style] %>">
                        <%= link_to topics[1][:title], (search_path q: topics[1][:term]), class: "front-popular-box__link" %>
                    </div>
                </div>
                <div class="front-popular-box__row2">
                    <div class="front-popular-box__bgimg" style="<%= topics[2][:style] %>">
                        <%= link_to topics[2][:title], (search_path q: topics[2][:term]), class: "front-popular-box__link" %>
                    </div>
                    <div class="front-popular-box__col1">
                        <div class="front-popular-box__bgimg" style="<%= topics[3][:style] %>">
                            <%= link_to topics[3][:title], (search_path q: topics[3][:term]), class: "front-popular-box__link" %>
                        </div>
                        <div class="front-popular-box__bgimg" style="<%= topics[4][:style] %>">
                            <%= link_to topics[4][:title], (search_path q: topics[4][:term]), class: "front-popular-box__link" %>
                        </div>
                    </div>
                    <div class="front-popular-box__bgimg" style="<%= topics[5][:style] %>">
                        <%= link_to topics[5][:title], (search_path q: topics[5][:term]), class: "front-popular-box__link" %>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
