<%= render layout: 'gray_box', locals: {title: 'Om Plendit'} do %>
    <p>
        Plendit, en forkortelse for «people lend it» er et nettsted der du enkelt
        skal kunne leie til og fra privatpersoner og bedrifter.
    </p>

    <p>
        Det er gratis å legge ut annonser, alle brukere blir verifisert og
        betaling utføres trygt gjennom tjenesten. Plendit gir utleier en ekstra
        sikkerhet ved å tilby skadeforsikring fra If. For å sikre en
        god brukeropplevelse gir både utleier og leietaker hverandre en rating
        av leieforholdet.
    </p>
<% end %>

<%= render layout: 'gray_box', locals: {title: 'Hvem er vi?'} do %>
    <div class="about-bios">
        <%= render partial: 'bio_box', collection: @employees, as: :employee %>
    </div>
<% end %>

<%= render layout: 'gray_box', locals: {title: 'Bakgrunn'} do %>
    <p>
        Vi som har startet Plendit er til daglig ansatte i FINN.no. Med hjelp
        av FINNs innovasjonsprogram «Sandbox» har vi fått muligheten til å
        utvikle plendit. FINN og Sandbox har støttet oss med infrastruktur,
        utviklingsverktøy, markedsføring samt god støtte og sparring fra
        kolleger.
    </p>

    <p>
        Plendit er ikke en del av FINNs merkevare og FINN har således ikke
        ansvar for tjenestens kvalitet eller innhold.
    </p>
<% end %>

<%= render layout: 'gray_box', locals: {title: 'Kontakt Plendit'} do %>
    <table>
        <tr>
            <th>E-post</th>
            <td><%= Plendit::Application.config.x.customerservice.email %></td>
        </tr>
        <tr>
            <th>Postadresse:</th>
            <td><%= Plendit::Application.config.x.organization.address %></td>
        </tr>
    </table>
<% end %>


<%= render layout: 'gray_box', locals: {title: 'Partnere'} do %>
    <div class="partner-box">
        <%= link_to (image_tag "logos/if_150x148.png", class: 'partner-box__logo'), 'https://www.if.no/' %>
        <%= link_to (image_tag "logos/innovasjon-norge.png", class: 'partner-box__logo'), 'http://www.innovasjonnorge.no/' %>
        <%= link_to (image_tag "logos/finn_logo.png", class: 'partner-box__logo'), 'https://m.finn.no' %>
        <%= link_to (image_tag "logos/mangopay_611x121.png", class: 'partner-box__logo'), 'https://www.mangopay.com/' %>
    </div>
<% end %>

<%= render partial: 'purechat' %>
