<%= render layout: 'gray_box', locals: {title: 'Om Plendit'} do %>
    <p>
        Plendit, en forkortelse for «people lend it» er en tjeneste for utleie der det er trygt og enkelt å tjene penger på det man eier.
    </p>

    <p>
        Det er gratis å legge ut annonser, alle brukere blir verifisert og
        betaling utføres trygt gjennom tjenesten. Alt som leies ut på Plendit er forsikret av If Skadeforsikring og du har som utleier ingen egenandel.
    </p>
<% end %>

<%= render layout: 'gray_box', locals: {title: 'Hvem er vi?'} do %>
    <div class="about-bios">
        <%= render partial: 'bio_box', collection: @employees, as: :employee %>
    </div>
<% end %>

<%= render layout: 'gray_box', locals: {title: 'Bakgrunn'} do %>
    <p>
        Vi som startet Plendit er til daglig ansatte i FINN.no.
        I 2014 ble FINN Torget gratis for privatannonsører og det ble i løpet av kort tid publisert tusenvis av annonser med ting til leie.
        FINN Torget er en tjeneste laget for kjøp og salg og er dermed ikke tilrettelagt for utleie.
        Rammeverket man er avhengig av for å støtte denne typen aktivitet, er rett og slett ikke tilstede på FINN.
    </p>

     <p>
        Til tross for utfordringer, var det likevel åpenbart at brukere på FINN ønsket en tjeneste for privatutleie. Og slik ble Plendit til.
        Det store spørsmålet var hvordan gjøre dette enkelt og trygt.
         Vi satte i gang med å utvikle Plendit i det håp om å lage en tjeneste der utleie mellom folk skulle gi en god opplevelse i alle ledd.
        Gjennom avansert verifisering av alle brukere, sikker betaling og gode forsikringer, har Plendit.no blitt en trygg markedsplass for både utleier og leietaker.
    </p>

    <p>
        FINN og FINNs innovasjonsprogram «Sandbox» har bidratt med infrastruktur, utviklingsverktøy, markedsføring samt god støtte og sparring fra kolleger.
        Plendit er ikke en del av FINNs merkevare og FINN har således ikke ansvar for tjenestens kvalitet eller innhold.
    </p>


<% end %>

<%= render layout: 'gray_box', locals: {title: 'Kontakt Plendit'} do %>
    <table>
        <tr>
            <th>E-post</th>
            <td><%= Plendit::Application.config.x.customerservice.email %></td>
        </tr>
        <tr>
            <th>Kundesupport:</th>
            <td><%= Plendit::Application.config.x.customerservice.phone_number %></td>
        </tr>
        <tr>
            <th>Pressehenvendelser:</th>
            <td><%= Plendit::Application.config.x.organization.press_contact_phone_number %></td>
        </tr>
        <tr>
            <th>Postadresse:</th>
            <td><%= Plendit::Application.config.x.organization.address %></td>
        </tr>
    </table>
<% end %>


<%= render layout: 'gray_box', locals: {title: 'Partnere'} do %>
    <div class="partner-box">
        <%= link_to (image_tag "logos/if_150x148.png", class: 'partner-box__logo'), 'https://www.if.no/' %>
        <%= link_to (image_tag "logos/innovasjon-norge.png", class: 'partner-box__logo'), 'http://www.innovasjonnorge.no/' %>
        <%= link_to (image_tag "logos/finn_logo.png", class: 'partner-box__logo'), 'https://m.finn.no' %>
        <%= link_to (image_tag "logos/mangopay_611x121.png", class: 'partner-box__logo'), 'https://www.mangopay.com/' %>
    </div>
<% end %>

<%= render partial: 'purechat' %>
