<section class="front-search-block" style="background-image: url(<%= @hero_video[:still] %>)">
    <div class="front-search-block__video-holder">
        <video preload="auto" loop="loop" class="front-search-block__video" data-controller="videoTrigger">
            <% unless @hero_video[:mp4].nil? %>
                <source src="<%= @hero_video[:mp4] %>" type="video/mp4">
            <% end  %>
            <% unless @hero_video[:webm].nil? %>
                <source src="<%= @hero_video[:webm] %>" type="video/webm">
            <% end  %>
        </video>
    </div>

    <div class="front-search-block__splash">
        <h1 class="front-search-block__title">LEI DET DU TRENGER</h1>
        <p class="front-search-block__copy">og spar penger! Mer enn <%= Rails.configuration.x.view.current_num_ads  %> ting til leie.</p>

        <div>
            <%= form_tag("/search", method: "get") do %>
              <%= text_field_tag 'q', '', class: 'front-search-block__input' %>
              <%= submit_tag 'Søk', class: 'front-search-block__search-button button-primary' %>
            <% end %>
        </div>
    </div>

    <div class="front-search-block__create-box" >
        <form action="<%= new_ad_path %>">
            <button class="button-primary" type="submit">Lei ut tingene dine her</button>
        </form>
    </div>

</section>

<%= render partial: "front_popular_box" %>
