<section class="front-search-block" style="background-image: url(<%= @hero_video[:still] %>)">
    <div class="front-search-block__video-holder">
        <video preload="auto" class="front-search-block__video" data-controller="videoTrigger" poster="<%= @hero_video[:still] %>">
            <% unless @hero_video[:mp4].nil? %>
                <source src="<%= @hero_video[:mp4] %>" type="video/mp4">
            <% end  %>
            <% unless @hero_video[:webm].nil? %>
                <source src="<%= @hero_video[:webm] %>" type="video/webm">
            <% end  %>
        </video>
    </div>

    <div class="front-search-block__splash">
        <h1 class="front-search-block__title">LEI DET DU TRENGER</h1>
        <p class="front-search-block__copy">Og spar penger! Massevis av ting til leie.</p>

        <div>
            <%= form_tag("/search", method: "get") do %>
              <%= text_field_tag 'q', '', class: 'front-search-block__input', autofocus: true, placeholder: 'Hva vil du leie?' %>
              <%= submit_tag 'Søk', class: 'front-search-block__search-button button button-primary' %>
            <% end %>
        </div>
    </div>

    <div class="front-search-block__create-box" >
        <form action="<%= new_ad_path %>">
            <button class="button button-primary" type="submit">Lei ut tingene dine her</button>
        </form>
    </div>

</section>

<div class="explainer-video-section">
    <details>
        <summary><span class="explainer-video-section__title button">Se hvordan plendit fungerer</span></summary>
        <iframe class="explainer-video-section__video" width="560" height="315"
                src="<%= Rails.configuration.x.frontpage.explainer_video_url %>" allowfullscreen></iframe>
    </details>
</div>

<div class="container u-push-down">
    <div class="if-branding-section">
        <div class="if-branding-section__centerer">
            <%= image_tag 'logos/if_150x148.png', size: '60x59', alt: '' %>
            <h2>Skadeforsikring fra If</h2>
            <p>
                Slipp alle bekymringer. Alt du leier ut på Plendit blir
                forsikret av If. Ved skade har du som utleier ingen
                egenandel eller bonustap.
                <strong>
                    <%= link_to 'Les mer om forsikring', Rails.configuration.x.customerservice.insurance_info, target: '_blank' %>.
                </strong>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="latest-ads">
        <h2>Siste annonser</h2>
        <% @ads.each do |ad| %>
            <div class="latest-ads__holder">
                <%= render partial: "shared/search_result_link", locals: { ad: ad } %>
            </div>
        <% end %>
    </div>
</div>

<% cache 'front_popular_box' do %>
    <%#= render partial: 'front_popular_box' %>
<% end %>