<section class="front-search-block">        
    <h1 class="front-search-block__title">LEI DET DU TRENGER</h1>
    <p class="front-search-block__copy">og spar penger! Mer enn 500.000 ting til leie.</p>
    <div>
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag 'q', 'skiboks', class: 'front-search-block__input' %>
          <%= date_field_tag 'from', '', class: 'front-search-block__input--date' %>
          <%= submit_tag 'Søk', class: 'front-search-block__search-button button-primary' %>
        <% end %>
    </div>
    <div class="front-search-block__create-box" >
        <form action="<%= new_ad_path %>">
            <button class="button-primary" type="submit">Lei ut tingene dine her</button>
        </form>
    </div>
</section>

<section class="front-popular-block">
    <%= render partial: "front_popular_box", collection: @popular_topics, as: 'topic' %>
</section>
