<div class="white-front-block front-hero">
    <h1 class="front-hero__title">Lei det du trenger</h1>

    <div class="front-hero__buttons">
        <%# fixme: paths on the buttons %>
        <%= button_to (t '.rent_out_button'), search_path, method: :get, form_class: 'u-inline', class: 'button button-primary u-push-down-only' %>
        <%= button_to (t '.request_item_button'), search_path, method: :get, form_class: 'u-inline', class: 'button button-primary u-push-down-only' %>
    </div>
</div>

<div class="white-front-block">
    <div class="container front-topics-block">
        <%= render partial: 'front_topics_box' %>
    </div>
</div>

<div class="explainer-video-section">
    <details>
        <summary><span class="explainer-video-section__title button"><%= t '.explainer_video_summary' %></span></summary>
        <iframe class="explainer-video-section__video" width="560" height="315"
                src="<%= Rails.configuration.x.frontpage.explainer_video_url %>" allowfullscreen></iframe>
    </details>
</div>

<div class="container u-push-down">
    <div class="if-branding-section">
        <div class="if-branding-section__centerer">
            <%= image_tag 'logos/if_150x148.png', size: '60x59', alt: '' %>
            <h2><%= t '.if_branding.heading' %></h2>
            <p>
                <%= t '.if_branding.copy' %>
                <strong>
                    <%= link_to (t '.if_branding.link'), Rails.configuration.x.customerservice.insurance_info, target: '_blank' %>.
                </strong>
            </p>
        </div>
    </div>
</div>

<% if @ads.present? %>
    <div class="container">
        <div class="latest-ads">
            <h2><%= t '.selected_ads_heading' %></h2>
            <% @ads.each do |ad| %>
                <div class="latest-ads__holder">
                    <%= render partial: 'shared/search_result_link', locals: { ad: ad } %>
                </div>
            <% end %>
            <%= button_to (t '.see_all_ads_button'), search_path, method: :get, form_class: 'u-inline', class: 'button button-primary u-push-down-only' %>
        </div>
    </div>
<% end %>

<% cache 'front_popular_box' do %>
    <%#= render partial: 'front_popular_box' %>
<% end %>