<ul>
  <li><strong>Innledning</strong></li>
</ul>

<p>
  Plendit er en plattform for deling og  utleie, som driftes av selskapet Plendit AS (Org.nr. 915252230). Plendit AS er  et programvareselskap som utvikler en markedsplass for leie, og har ikke selv eierskap  eller ansvar for noen av eiendelene som leies ut gjennom tjenesten.

  <br>
  Bedrifter og personer kan legge ut noe  som andre kan få leie. Utleier bestemmer prisen, og legger inn når det er  tilgjengelig. Interesserte ber om å få leie, og utleier kan takke ja til bestillingen,  og det opprettes et leieforhold.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Annonsering</strong></li>
</ul>

<p>
  Annonsen skal gi en riktig beskrivelse av  utleie-objektet.
  <br>
  Kreativitet  og humor er bra, men pass på at annonsen er sannferdig og ikke villedende.  Beskriv varen du leier ut, og hold meningene dine om konkurrenter, lover eller  personer for deg selv.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong> Én ting, én annonse</strong></li>
</ul>

<p>
  For at det  skal være enkelt å finne frem (og dermed lettere for deg å få leid ut), ønsker  vi at en ting bare har en annonse på Plendit.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong> Bilder</strong></li>
</ul>

<p>
  Bildene i  annonsen skal kun være bilder av det produktet du skal leie ut. Bilder som også  inneholder annen informasjon vil ikke bli godkjent. Logo skal heller ikke være  for dominerende i bildet.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong> Lenker</strong></li>
</ul>

<p>
  Du kan  lenke til produktinformasjon eller -tester på internett. Som privatannonsør  uten forhandleravtale kan du ikke markedsføre din egen eller andres  næringsvirksomhet, blogg eller hjemmeside.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong> Søkeord</strong></li>
</ul>

<p>
  Vi  oppmuntrer deg til å bruke gode nøkkelord i annonsebeskrivelsen, men vi  tillater dessverre ikke å bruke opplisting av irrelevante ord. Vi stanser  annonser som åpenbart benytter seg av mange irrelevante ord bare for å bli  funnet ofte.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong> Språk</strong></li>
</ul>


<p>
  Det er  lurt å skrive på norsk siden de fleste søker på norsk. Svensk, dansk eller  engelsk kan fungere i et nødsfall.
</p>

<p>&nbsp;</p>

<ul>
    <li><strong> Opphavsrett på tekst og bilder</strong></li>
</ul>

<p>
  Plendit  bruker av og til bilder og innhold fra Plendit-annonser i kommunikasjon og  markedsføring. Så legg bare ut tekst og bilder som det er greit at vi bruker.  Legger du inn bilder med gjenkjennbare personer, må du være sikker på at  vedkommende også har akseptert disse vilkårene.
  <br>
  Bruker du  andres tekst eller bilder må du innhente samtykke hos dem som har  opphavsretten.
</p>

<p>&nbsp;</p>

<ul>
    <li><strong> Pris</strong></li>
</ul>

<p>
  Sett den  reelle prisen på varen i prisfeltet. Hvis du er usikker på hva du kan forvente,  kan du sammenligne med andre, og forsøke deg frem. Det er enkelt å endre prisen  underveis. Om prisen ikke er reell, stanser vi annonsen. 
  <br>
  Prisen i  annonsen skal gjenspeile hva varen faktisk koster å leie inklusiv mva. Ønsker  annonsøren å synliggjøre pris eksklusiv mva kan dette gjøres i feltet  «Beskrivelse», men prisen i annonsen skal gjenspeile gjenstandens kostnad  inklusiv mva.
</p>

<p>&nbsp;</p>

<ul>
    <li><strong> Du er ansvarlig</strong></li>
</ul>

<p>
  Legg aldri  ut annonser for andre, eller for noe du ikke selv eier. Og be ikke andre legge  ut annonser for deg.
</p>

<p>&nbsp;</p>

<ul>
    <li><strong>Svar på  forespørsler</strong></li>
</ul>

<p>
  Gjenstanden  markeres som utleid i tjenesten i den perioden den er booket og akseptert. Men  hvis du ikke lenger ønsker å leie ut gjenstanden eller har tid til å følge opp,  så deaktiver annonsene på siden slik at det ikke ligger gjenstander til leie  som faktisk ikke er tilgjengelig.
  <br>
  Brukere  som ikke svarer på forespørsler eller som stadig avviser (uten rimelig  forklaring) kan få de aktuelle annonsene deaktivert og fjernet fra  søkeresultatene.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Varer eller  tjenester vi ikke tillater</strong></li>
</ul>

<p>
  Varer,  tjenester eller dyr som det ikke er lov å leie, selge, markedsføre, eie eller  bruke i Norge tillater vi ikke. Det samme gjelder for valuta og finansielle  produkter.
  <br>
  Det  tillates heller ikke annonser som kan oppfattes som støtende, som for eksempel  våpen, pornografi og erotiske leketøy, og utstyr som ofte brukes i ulovlig  virksomhet.
  <br>
  Piratkopier  er ikke tillatt.
  <br>
  Motorsykkel  kan innebære høy risiko for både sjåfør og medtrafikanter og er derfor ikke  mulig å leie på Plendit.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Er du privatperson  eller en bedrift</strong></li>
</ul>

<p>
  Plendit  sin forsikring gjelder ikke hvis utleier er en bedrift.
  <br>
  Det er  forskjellige regler for personer og bedrifter når det kommer til pris,  forsikringsvilkår eller andre ting. Det er derfor du som bedrift må bruke egne  skjemaer hvis du ønsker å registreres som bedriftskunde hos Plendit.
  <br>
  Hvis du er  en privatperson som tjener godt på å leie ut, så kan det være du faller under  reglene for næring. Du er selv pliktig til å sette deg inn i hvor mye du kan  tjene, og om virksomheten din faller inn under reglene for næringsvirksomhet.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Riktig identititet</strong></li>
</ul>

<p>
  For å kunne verifisere deg som bruker så må du  dokumenterer identiteten din og at du er over 18 år. Du er ansvarlig for at  informasjonen om deg til enhver tid er komplett og riktig, og at du kun opptrer  på vegne av deg selv.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Hvordan håndterer Plendit&nbsp;regelbrudd?&nbsp;</strong></li>
</ul>

<p>
  Plendit  forbeholder seg retten til&nbsp;å  forhåndskontrollere alle annonser, og stoppe de som bryter annonsereglene. Dette inkluderer også  annonser som allerede er publisert.
  <br>
  Plendit kan  ekskludere annonsører som bryter annonsereglene gjentatte ganger. Dette gjelder  også ved gjentatte klager og svært dårlig rating fra leietakere, ved  politianmeldelser, misbruk av tjenesten eller andre former for uakseptabel  atferd.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Booking og Betaling</strong></li>
</ul>

<p>
  Er du interessert i å leie, så sender  du forespørsel om det gjennom Plendit. Da reserveres beløpet på din konto. Hvis  utleier godkjenner forespørselen din, så trekkes det reserverte beløpet fra  leietakers konto. Brukerne er ansvarlige for å avtale hente- og leveringstidspunkt.  Hvis ikke annet er avtalt så gjelder hente- og leveringsadresse som er oppgitt  på Plendit.

  <br>
  Når gjenstanden hentes så godkjenner  leietaker at den er i samsvar med annonsen.
  <br>
  Dersom partene blir enige om å  forlenge en leieperiode, må det legges inn ny booking og betaling. Ved utløp av  avtalt leieforhold utløper også skadeforsikringen. En skade som oppstår etter  avtalens utløp, vil ikke lenger være dekket av utleieforsikringen.
  <br>
  Dersom gjenstanden returneres som  avtalt så anses leieforholdet som avsluttet.
  <br>
  Dersom gjenstanden ikke returneres til  avtalt tid, kan det skape problemer for utleier. Da kan leietaker belastes for 150%  av avtalt dagspris for hver dag det går over avtalen.
  <br>
  Dersom gjenstanden har fått en skade,  så er leietaker ansvarlig for å varsle utleier, og det må fylles ut en  skademelding på Plendit innen 48 timer. Da vil forsikringsselskapet ta kontakt  og avtale nærmere om utbedring av skaden. Leietaker vil bli belastet for  egenandel.
  <br>
  Ved å akseptere disse vilkårene, aksepterer  du også vilkårene til forsikringsselskapet og betalingsformidleren som Plendit benytter.
  Les <%= link_to 'Vilkår for MangoPay', 'docs/Mangopay_Terms-EN.pdf' %>, forsikringsvilkår for
    <%= link_to 'bolig/eiendom', 'public/docs/if/Forsikringsvilkaar_Korttidsforsikring_Innbo.pdf'%>,
    <%= link_to 'bil', 'public/docs/if/Forsikringsvilkaar_Korttidsforsikring_motorvogn.pdf'%>,
    <%= link_to 'båt', 'public/docs/if/Forsikringsvilkaar_Korttidsforsikring_Baat.pdf'%>*<%# not in place yet %> og
    <%= link_to 'ting', 'public/docs/if/Forsikringsvilkaar_Korttidsforsikring_Ting.pdf'%>.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Skade / forsikring</strong></li>
</ul>

<p>
  Plendit samarbeider med IF Skadeforsikring og tilbyr obligatorisk  forsikringsdekning private utleiere. Skadeforsikringen er begrenset til NOK 700.000 på kjøretøy, NOK 500.000 på bolig og som hovedregel 25x dagrate på ting.
</p>

<p>
  Bilforsikringen (Superforsikring) inneholder ansvar, brann, tyveri,  glass, redning, kasko, maskinskader og underslagsdekning*. I tillegg dekkes  leiebil som koster inntil 500 kroner mens egen bil står på verkstedet for  reparasjon. Ingen begrensing på antall dager.
  <br>
  *Dekker bilens verdi om leietaker ikke returnerer bilen etter endt leiekontrakten, og bilen må anses som tapt.
</p>

<p>
  Boligforsikringen dekker kun tyveri, uhell og hærverk utført av  leietaker eller dens gjester, inntil 500 000,-' (innbo og bygningsskader)*.
  <br>
  *Øvrige skader dekkes av utleiers bolig/innbo-forsikring, som må  oppgraderes til utleie!
  <br>
  Tingforsikringen dekker skade på Stort og Smått (løsøre)*
  <br>
  *Forsikringen dekker ikke normal slitasje eller vedlikehold.
</p>

<p>
  Leietaker er ansvarlig for å levere tilbake det han har leid i samme  stand til avtalt tid.
  <br>
  Alt på Plendit er forsikret. Men leietaker vil holdes ansvarlig for  egenandel ved skade. Ved grov uaktsomhet eller misbruk kan leietaker bli holdt  ansvarlig utover egenandelen.
  <br>
  Ved aksept av disse vilkårene, aksepteres også IF sine forsikringsvilkår.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Ansvarsforsikring for kjøretøy</strong></li>
</ul>

<p>
  Den obligatoriske forsikringen som følger med i alle leieforhold dekker  også ansvarsskader. Det vil ikke bli sendt inn bekreftelse til  Motorvognregisteret som viser dette, siden dette vil skape utfordringer når  utleiers ordinære forsikring skal ta over etter endt leieforhold. Det er derfor  viktig at bilens ordinære ansvarsforsikring er løpende.
  <br>
  Skulle det oppstå en skade, er det viktig at skaden rapporteres umiddelbart til Plendit slik at If Skadeforsikring raskt kan  starte opp med å behandle skadesaken. For å rapportere en skade, må du bruke skademeldingsskjemaet det linkes til i bookingen.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Bedriftsleie</strong></li>
</ul>

<p>
  Plendit-forsikringen gjelder ikke når du leier av en bedrift. Her gjelder  bedriftens egne vilkår, og du er selv ansvarlig for å sette deg inn i disse før  du leier.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Privatleie</strong></li>
</ul>

<p>
  Forsikringen er en del av prisen som leietaker betaler på Plendit.
  <br>
  Leietaker er ansvarlig for egenandel ved skade. Egenandelen belastes  leietakers konto ved registrering av skade. Ved manglende dekning vil det bli  belastet senere, eller krav vil bli sendt til leietaker. Dersom kravet ikke er  betalt innen 14 dager, sendes kravet til inkasso etter gjeldende regler.
</p>

<p>
  Egenandel ved skade:
</p>

<ul>
  <li>Kjøretøy kr. 12.000</li>
  <ul>
    <li>Glasskader kr. 2.000</li>
    <li>Veihjelp kr. 500</li>
    <li>Underslag kr. 4.000</li>
  </ul>
  <li>Eiendom kr. 6.000</li>
  <li>Båt opptil kr. 5.000</li>
  <li>Ting kr. 1.500</li>
</ul>

<p>
  Egenandelen  reserveres på kortet samtidig med leieforholdets start. Når gjenstanden  returneres og godkjennes av utleier så frigis reservasjonen.
    <br>
  Skader  skal meldes på skademeldingsskjemaet på Plendit sin nettside. Plendit  videreformidler kundeinformasjon og omfang av skade til If Skadeforsikring som  forestår skadeoppgjør.
    <br>
  Etter  kl 23.59 dagen leieforholdet ender, utløper avtaleforholdet på plendit,  inkludert forsikringen.
    <br>
  Om  ikke annet er angitt så gjelder forsikringen i Norden.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Avbestilling og refusjon</strong></li>
</ul>

<p>
  Dersom  objektet ikke samsvarer med forventningene, kan leieforholdet avbrytes. Dette  kan kun skje dersom utleier og leietaker er enige. Beløpet vil da tilbakeføres  til leietakers konto. 
</p>

<p>
  Dersom  leietaker og utleier ikke er enige vil Plendit komme inn som en megler. Pengene  vil fryses på egen konto til tvisten er avgjort. Blir partene fremdeles ikke  enige, så kan Plendit fatte vedtak om pengene skal tilfalle leietaker eller  utleier.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Skatter og avgifter</strong></li>
</ul>

<p>
  Alle brukere plikter å sette seg inn  i, og innrette seg etter reglene og forskriftene der tjenesten benyttes. Næringsvirksomhet  kan innebære ulike former for skatter og avgifter, og brukeren er selv  ansvarlig for å sette seg inn i, og innrette seg etter dette.
  <br>
  Plendit leverer kun en teknisk  plattform til å dele mot vederlag, og fraskriver seg alt ansvar for brukernes  plikter ovenfor skattemyndigheter eller andre regulatoriske instanser. Dersom Plendit  blir gjort kjent med at brukerne ikke innretter seg, så kan de utestenge  annonser eller brukere fra tjenesten.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Rating</strong></li>
</ul>

<p>
  Rating  kan gi et galt bilde av en utleier eller leietaker. Men jo flere ratinger som  legges inn på en bruker, jo bedre kan man vurdere om man ønsker å ha et  leieforhold med den aktuelle brukeren.
  <br>
  Plendit  forbeholder seg retten til å fjerne beskrivelser som er uegnet på trykk, men  vil som hovedregel ikke legge seg borti hvilke tilbakemeldinger brukerne gir  til hverandre.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Eksportbegrensning</strong></li>
</ul>

<p>
  Med  mindre annet er avtalt skriftlig mellom partene på Plendit, så gjelder utleie i  det aktuelle landet der utleieobjektet leveres ut. 
  <br>
  Plendit-forsikringen  gjelder kun i Norden.
  <br>
  Dersom  partene likevel er enige om at leieobjektet kan tas med til andre land, så er  leietaker pliktig til å innrette seg etter lover og forskrifter på det aktuelle  stedet.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Tvister</strong></li>
</ul>

<p>
  Enhver tvistesak der Plendit skal involveres, skal behandles av Oslo Tingrett.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Endring av vilkår</strong></li>
</ul>

<p>
  Plendit forbeholder seg retten til å endre vilkår ved behov.
</p>

<p>&nbsp;</p>

<ul>
  <li><strong>Personvern</strong></li>
</ul>

<p>
  Plendit  vil ikke selge eller dele data med parter som ikke har saklig grunn til det.  Saklig grunn vil være informasjonsdeling til forsikringsselskap i forbindelse  med skadesak, i forbindelse med tvister eller anmeldelser.
</p>

<p>
  Behandling  av alle personopplysninger skjer i overensstemmelse med bestemmelsene i den til  enhver tid gjeldende personopplysningslov (lov av 14. april 2000 nr. 31) og  tilhørende forskrifter.
</p>

<p>
  Personopplysninger  som en av Partene innehar, kan komme til å bli utlevert for å bli behandlet av  den annen Part på følgende måter;
  <br>
  - For skadebehandling, eventuelt forsikringsoppgjør samt benyttet i markedsføringsøyemed  og analyseformål, og for administrasjon av forsikringen.
  <br>
  De personopplysninger som en Part får fra den annen Part eller får tilgang til gjennom  oppfyllelse av denne avtalen, skal bare behandles av Parten i den utstrekning  det er nødvendig for å oppfylle forpliktelsene i denne avtalen.
</p>

<p>
  Partene  skal ikke uten samtykke fra den andre Part, overlate til eller  tilgjengeliggjøre for tredjemann, personopplysninger som en av Partene får fra  den annen Part eller ellers får tilgang til i forbindelse med oppfyllelsen av denne avtalen. Personopplysninger kan imidlertid overlates eller  tilgjengeliggjøres for leietaker og/eller utleier når det er nødvendig for å  oppfylle denne avtalens formål.
</p>

<div>
  <%= link_to 'Vilkår for MangoPay', 'docs/Mangopay_Terms-EN.pdf' %>
</div>
