<footer class="about-footer" data-controller="footerPositioning">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <h6 class="about-footer__title">Plendit AS</h6>
                <ul class="about-footer__list">
                    <li class="about-footer__list-item"><%= mail_to Rails.configuration.x.customerservice.email, nil, class: 'about-footer__list-link' %></li>
                    <li class="about-footer__list-item"><%= Plendit::Application.config.x.organization.phone_number %></li>
                    <li class="about-footer__list-item">Org nr: <%= Plendit::Application.config.x.organization.org_id %></li>
                </ul>
            </div>
            <div class="four columns">
                <h6 class="about-footer__title">Kundeservice</h6>
                <ul class="about-footer__list">
                    <li class="about-footer__list-item"><%= link_to 'Ofte stilte spørsmål',  Rails.configuration.x.customerservice.website, class: "about-footer__list-link" %></li>
                    <li class="about-footer__list-item"><%= link_to 'Kontaktinformasjon', contact_path, class: "about-footer__list-link" %></li>
                    <li class="about-footer__list-item"><%= link_to 'Om oss', about_us_path, class: "about-footer__list-link" %></li>
                </ul>
            </div>
            <div class="four columns">
                <h6 class="about-footer__title">Besøk oss på facebook</h6>
                <ul class="about-footer__list">
                    <% if Plendit::Application.config.x.footer.show_facebook_buttons %>
                        <li class="about-footer__list-item"><%= render partial: 'misc/facebook' %></li>
                    <% else %>
                        <li>Kommer snart!</li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="about-footer__legaleese">
            Innholdet er beskyttet etter åndsverksloven. Bruk av 
            automatiserte tjenester (roboter, spidere, indeksering m.m.)
            samt andre fremgangsmåter for systematisk eller regelmessig bruk
            er ikke tillatt uten eksplisitt samtykke fra plendit.
            <%= link_to 'Personvernpolicy', '#' %> &mdash; © Plendit AS 2015
        </div>
    </div>
</footer>
