<footer class="about-footer <%= @page_needs_no_footer_padding ? 'about-footer--nopad' : '' %>">
    <div>
        <%= link_to 'Informasjon om Plendit', about_us_path, class: "about-footer__list-link", class: 'about-footer__link' %>
        &mdash;
        <%= link_to 'Ofte stilte spørsmål',  Rails.configuration.x.customerservice.website, target: '_blank', class: 'about-footer__link' %>
        <% if Plendit::Application.config.x.facebook_integration %>
            &mdash;
            <%= render partial: 'misc/facebook' %>
        <% end %>
    </div>

    <br>

    <div class="about-footer__legaleese">
        Innholdet er beskyttet etter åndsverksloven. Bruk av 
        automatiserte tjenester (roboter, spidere, indeksering m.m.)
        samt andre fremgangsmåter for systematisk eller regelmessig bruk
        er ikke tillatt uten eksplisitt samtykke fra plendit.
        <br>
        <%= link_to 'Brukervilkår', terms_path, class: 'about-footer__link' %> &mdash;
        <%= link_to 'Personvernpolicy', privacy_path, class: 'about-footer__link' %>
        <% if user_signed_in? && current_user.is_site_admin? %>
            &mdash; <%= link_to 'Backstage!', backstage_path, class: 'about-footer__link' %>
        <% end %>
        &mdash; <span class="about-footer__copyright">© Plendit AS 2016</span>
    </div>


</footer>

