<% if user_signed_in? %>

    <% notifications = current_user.recent_notifications %>

    <div class="notification-box u-hidden" data-floating-notifications>
        <span class="notification-box__up-triangle"></span>

        <% if notifications.any? %>
            <% current_user.recent_notifications.each do |n| %>
                <%= link_to n.source_path, class: "notification-box__item #{'notification-box__item--read' if n.status != 'fresh'}" do %>
                    <div class="notification-box__avatar">
                        <%= render('shared/avatar.html', user: n.source_user, size: "small") %>
                    </div>
                    <div class="notification-box__body">
                        <div class="notification-box__message">
                            <%= n.message %>
                        </div>
                        <small><%= n.updated_at.to_formatted_s(:plendit_short_datetime) %></small>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <div class="notification-box__item"> 
                <div class="notification-box__avatar">
                    <%= plendbot_avatar(:small) %>
                </div>
                <div class="notification-box__body">
                    Ingen varsler.
                </div>
            </div>
        <% end %>
    </div>
<% end %>
