<div class="top-bar">

    <a class="top-bar__logo-link" href="/">
        <%= image_tag "plendit_logo.svg", alt: "Plendit homepage", class: "top-bar__logo", size: "115x33" %>
    </a>

    <% if !@hide_search_field %>
        <%= form_tag("/search", method: "get", class: "top-bar__form") do %>
            <span class="top-bar__search-holder">
                <%= image_tag "search_icon_small.png", alt: "", class: "top-bar__search-icon", size: "18x18" %>
                <%= text_field_tag 'q','', type: "text",  class: "top-bar__search-input", placeholder: 'Hva vil du leie?'  %>
            </span>
        <% end %>
    <% end %>

    <span class="top-bar__rightbox">
        <% if user_signed_in? %>

            <%= render('shared/avatar.html', user: current_user, size: "tiny", css_class: "top-bar__avatar") %>

            <strong class="top-bar__top-section">
                <%= link_to current_user.name, user_path, :class => "top-bar__navbar-link" %>.
                <% if current_user.is_site_admin? %>
                    <span class="top-bar__admin-label">er admin</span>
                <% end %>
            </strong>

            <span class="top-bar__top-section"
               data-controller="menuAnchor resetUnseenNotificationCount"
               data-anchor-for="[data-floating-notifications]"
               data-clear-notifications-url="<%= mark_all_notifications_noticed_users_path %>"
               >Varsler
                <% if current_user.unseen_notifications_count != 0 %>
                    <span class="top-bar__notification-count" data-notification-count>
                        <%= current_user.unseen_notifications_count %>
                    </span>
                <% end %>
            </span>

            <span class="top-bar__top-section">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "top-bar__navbar-link" %>
            </span>

        <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => "top-bar__navbar-link"  %> |
            <%= link_to "Login", new_user_session_path, :class => "top-bar__navbar-link"  %>
        <% end %>
    </span>

</div>

<%= render partial: 'notifications' %>