<% partial_name = "top-bar" %>
<div class="<%= partial_name %>">

    <a class="<%= partial_name %>__logo-link" href="/">
        <%= image_tag "plendit_logo.svg", alt: "Plendit homepage", class: "#{partial_name}__logo", size: "115x33" %>
    </a>

    <% if @show_search_field %>
        <span class="<%= partial_name %>__search-holder">
            <%= image_tag "search_icon_small.png", alt: "", class: "#{partial_name}__search-icon", size: "18x18" %>
            <%= form_tag("/search", method: "get", class: "#{partial_name}__form") do %>
              <%= text_field_tag 'q','', class: "#{partial_name}__search-input", placeholder: 'Hva vil du leie?'  %>
            <% end %>
        </span>
    <% end %>

    <span class="<%= partial_name %>__rightbox">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
    </span>

</div>
