<p id="notice"><%= notice %></p>

<div class="container">
    <div class="eight columns">
        <% if @booking.ad.boat? %>
            <%= render layout: 'gray_box', locals: {title: 'Havarihjelp for b책t'} do %>
                 Er b책ten under vann s책 ring umiddelbart IF forsikring
                 p책 telefon <%= link_to '273819.', 'tel:273819' %>
            <% end %>
        <% end %>

        <%= render layout: 'gray_box', locals: {title: 'Skademeldingskjema'} do %>
            <%= render partial: 'form' %>
        <% end %>
    </div>
</div>