<%= form_for(@location) do |f| %>
    <% if @location.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
            <ul>
                <% @location.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="row">
        <div class="eight columns">
            <%= f.label :address_line, "Gateadresse:" %>
            <%= f.text_field :address_line, class: "u-full-width" %>
        </div>
    </div>

    <div class="row" data-controller="postalPlaceFetcher" data-postal-place-url="<%= postal_place_path %>">
        <div class="two columns">
            <%= f.number_field :post_code, class: "u-full-width", placeholder: "Postnr.", data: {"postal-code" => ""} %>
        </div>
        <div class="six columns">
            <input type="text" class="u-full-width" disabled placeholder="<%= @location.city || 'Poststed' %>" data-postal-place>
        </div>
    </div>

    <div class="actions">
        <%= f.submit "Legg til sted", class: "button" %>
    </div>
<% end %>
