<%= render partial: "shared/personal_bar", locals: { selected: "Dine annonser" } %>

<div class="container">
    <div class="row">
        <div class="eight columns">

            <p id="notice"><%= notice %></p>

            <h1>Mine adresser</h1>

            <table>
                <thead>
                <tr>
                    <th>Favoritt</th>
                    <th>Adresse</th>
                    <th>Poststed</th>
                    <th colspan="2"></th>
                </tr>
                </thead>

                <tbody>
                <% @locations.each do |location| %>
                    <tr>
                        <td><%= location.favorite %></td>

                        <td><%= location.address_line %></td>
                        <td><%= location.post_code %> <%= location.city %></td>
                        <!--
                        <td><%= location.lat %></td>
                        <td><%= location.lon %></td>
                        -->
                        <td><%= button_to 'Favoritt', make_favorite_location_path(location) %></td>
                        <td><%= link_to 'Rediger', edit_location_path(location) %></td>
                        <td><%= link_to 'Slett', location, method: :delete, data: {confirm: 'Er du sikker på at du vil slette?'} %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>

            <div>
                <%= link_to 'Legg til sted', new_location_path %>
                <br/>
                <%= link_to 'Tilbake', users_path %>
            </div>
        </div>
    </div>
</div>