<!DOCTYPE html>
<html lang="no" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="application-name" content="Plendit">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileColor" content="#2a96ff">
    <meta name="theme-color" content="#2a96ff">
    <%
        meta(
            title: 'Plendit',
            description: 'Lei det du trenger, lei ut det du har!',
            og: {
                site_name:        'Plendit',
                type:             'website',
                image:            image_url('plendit.no.png'),
                'image:width'  => '940',
                'image:height' => '492'
            }
        )
    %>

    <%= metamagic %>

    <%= favicon_link_tag       'logos/favicon_raw.png', id: 'favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato:300,400,700' %>

    <% if @page_has_maps %>
        <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.configuration.x.map.google_maps_js_api_key}&language=#{PLENDIT_COUNTRY_CODE}" %>
        <%= javascript_include_tag 'maps' %>
    <% end %>

    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <% cache 'analytics' do %>
        <%= render partial: 'google_analytics_tag' %>
    <% end %>
</head>
<body data-controller="helpToggler">
    <% if Plendit::Application.config.x.facebook_integration %>
        <%= render partial: 'facebook_sdk' %>
    <% end %>
    <header>
        <%= render partial: 'top_bar', locals: { hide_search_field: @hide_search_field } %>
        <%= render partial: 'flash_bar' %>
        <%= render partial: 'broadcast' %>
    </header>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <% if not @supress_footer %>
        <%= render partial: 'main_footer' %>
    <% end %>
    
    <%= render partial: 'purechat' %>
</body>
</html>
