<!DOCTYPE html>
<html lang="no" prefix="og: http://ogp.me/ns#">
<head>
    <title>Plendit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="application-name" content="Plendit">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileColor" content="#2a96ff">
    <meta name="theme-color" content="#2a96ff">
    <%
        meta og: {
            site_name: "Plendit",
            type:      "website"
        }
    %>

    <%= metamagic %>

    <%= favicon_link_tag       'logos/favicon_raw.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Lato:300,400,700' %>


    <% # todo, split up packages again so we don't load maps on all pages %>
    <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{Rails.configuration.x.map.google_maps_js_api_key}&language=#{PLENDIT_COUNTRY_CODE}" %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <% cache 'analytics' do %>
        <%= render partial: "google_analytics_tag" %>
    <% end %>
</head>
<body data-controller="helpToggler">
    <header>
        <%= render partial: "top_bar", locals: { hide_search_field: @hide_search_field } %>
        <%= render partial: "flash_bar" %>
        <%= render partial: "broadcast" %>
    </header>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <% if not @supress_footer %>
        <% cache 'footer' do %>
            <%= render partial: "main_footer" %>
        <% end %>
    <% end %>
</body>
</html>
