<!DOCTYPE html>
<html>
<head>
  <title>Plendit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <%= render partial: "top_bar", locals: { show_search_field: @show_search_field } %> <%# = @show_search_field %>
</header>

<%= yield %>

<footer>
    <%= render partial: "main_footer" %>
</footer>
</body>
</html>
