<div class="container">
    <div class="row">
        <div class="twelve columns">

            <h2>Bli Plendit-bruker</h2>
            <p>
                Hvis du allerede har en konto på <strong>Facebook</strong>, hos
                <strong>Google</strong> eller på <strong>SPiD</strong>, kan du
                <%= link_to "logge inn", new_user_session_path %> med den uten å opprette en ny Plendit-konto
                først.
                Har du en konto på <strong>VG</strong>, <strong>Aftenposten</strong> eller <strong>FINN.no</strong>, kan du velge å logge rett inn med SPiD.
            </p>

            <%= render partial: "users/provider_signups" %>

            <hr>

            <p>
                Om du heller foretrekker å lage en ny Plendit-konto, kan du gjøre det med skjemaet under.
            </p>

            <div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                    <%= devise_error_messages! %>

                    <%= f.hidden_field( :personhood, value: 'natural' ) %>

                    <div class="row">
                        <div class="one-third column">
                            <%= f.label :first_name, "Fornavn:" %>
                            <%= f.text_field :first_name, class: 'u-full-width'  %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="one-third column">
                            <%= f.label :last_name, "Etternavn:" %>
                            <%= f.text_field :last_name, class: 'u-full-width'  %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="one-third column">
                            <%= f.label :birthday, "Fødselsdato:" %>
                            <%= f.date_select :birthday, start_year: 18.years.ago.year, end_year: 110.years.ago.year, default: 18.years.ago.beginning_of_year, class: 'u-full-width' %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :country_of_residence, 'Bosatt i:' %>
                            <%= f.country_select( :country_of_residence, priority_countries: ['NO', 'SE', 'DK', 'FI', 'PL', 'DE'], format: :with_flag) %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="two-thirds column">
                            <%= f.label :nationality, 'Statsborgerskap:' %>
                            <%= f.country_select( :nationality, priority_countries: ['NO', 'SE', 'DK', 'FI', 'PL', 'DE'], format: :with_flag) %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="one-third column">
                            <%= f.label :email, "E-post:" %>
                            <%= f.email_field :email, class: 'u-full-width'  %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="one-third column">
                            <%= f.label :password, 'Passord:' %>
                            <%= f.password_field :password, autocomplete: "off", class: 'u-full-width'  %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="one-third column">
                            <%= f.label :password_confirmation, 'Bekreft passord' %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'u-full-width'  %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="one-third column">
                            <%= f.submit "Opprett konto", class: "button button-primary" %>
                        </div>
                    </div>
                <% end %>

            </div>

            <hr>

            <h2>Ønsker du å bli medlem som bedrift?</h2>

            <p>
                Meld deg inn med <%= link_to 'dette skjemaet.', Plendit::Application.config.x.signup.bedriftskunde_signup_link %>
            </p>

        </div>
    </div>

</div>

